// Constants

/* Colors --- */

$color-names: (primary, secondary, tertiary, success, warning, error, surface);
$color-shades: (50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 950);

@function generate-color-pairings($shades) {
	$pairings: ();
	$length: length($shades);
	$middle: ceil($length / 2);
	@for $i from 1 through $middle - 1 {
		$light-shade: nth($shades, $i);
		$dark-shade: nth($shades, -$i);
		$pair: (
			'light': $light-shade,
			'dark': $dark-shade
		);
		$pairings: append($pairings, $pair);
	}
	@for $i from 1 through $middle - 1 {
		$light-shade: nth($shades, -$i);
		$dark-shade: nth($shades, $i);
		$pair: (
			'light': $light-shade,
			'dark': $dark-shade
		);
		$pairings: append($pairings, $pair);
	}
	@return $pairings;
}

$color-pairings: generate-color-pairings($color-shades);

/* Themes --- */

$themes: (
	catppuccin,
	cerberus,
	concord,
	fennec,
	mint,
	mona,
	nosh,
	pine,
	reign,
	rose,
	terminus,
	vox,
	crimson,
	hamlindigo,
	legacy,
	modern,
	nouveau,
	rocket,
	sahara,
	seafoam,
	vintage,
	wintry
);
