// Constants

/* Colors --- */

$color-names: (primary, secondary, tertiary, success, warning, error, surface);
$color-shades: (50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 950);

/* Themes --- */

$themes: (
	catppuccin,
	cerberus,
	concord,
	fennec,
	mint,
	mona,
	nosh,
	pine,
	reign,
	rose,
	terminus,
	vox,
	crimson,
	hamlindigo,
	legacy,
	modern,
	nouveau,
	rocket,
	sahara,
	seafoam,
	vintage,
	wintry
);
