/* The order of imports matters, do not change unless prompted to. */

@import './base/globals.css';
@import './base/theme.css';

@import './utilities/core.css';
@import './utilities/badges.css';
@import './utilities/buttons.css';
@import './utilities/cards.css';
@import './utilities/chips.css';
@import './utilities/dividers.css';
@import './utilities/placeholders.css';
@import './utilities/presets.css';
@import './utilities/tables.css';
@import './utilities/typography.css';
@import './utilities/form-core.css';
@import './utilities/form-groups.css';
@import './utilities/form-inputs.css';
@import './utilities/form-progress.css';
@import './utilities/form-radios-checks.css';
@import './utilities/form-selects.css';
@import './utilities/form-textareas.css';

@import './variants/themes.css';

@import './keyframes/progress-circular.css';
@import './keyframes/progress-linear.css';
