---
// import Welcome from '@components/Welcome.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<div class="flex justify-center">
		<div class="max-w-[600px] space-y-4 text-balance text-center">
			<h1 class="h1">Hello Maintainers!</h1>
			<p>
				This is a playground for <code class="bg-surface-500/10 rounded p-1">@skeletonlabs/skeleton</code>. Select a feature from the
				navigation list on the left to preview.
			</p>
		</div>
	</div>
</Layout>
