---
// import Welcome from '@components/Welcome.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<div class="flex h-full w-full items-center justify-center">
		<div class="max-w-[600px] text-balance text-center">
			<p>
				This is a playground for <code class="bg-surface-500/10 p-1 rounded">@skeletonlabs/skeleton</code>. Select a feature from the list
				to preview.
			</p>
		</div>
	</div>
</Layout>
