---
interface Props {
    data: Record<string, string>[]
    label?: string
    tonal?: boolean
    kbd?: boolean
}

const { data, label, tonal, kbd } = Astro.props satisfies Props
---

<div class="table-wrap space-y-4">
    {label && <strong class="opacity-60">{label}</strong>}
    <table class="table">
        <thead>
            {
                data.map((tRow) => (
                    <tr>
                        {Object.keys(tRow).map((header) => (
                            <th class="capitalize">{header}</th>
                        ))}
                    </tr>
                ))
            }
        </thead>
        <tbody>
            {
                data.map((tRow) => (
                    <tr>
                        {Object.values(tRow).map((cell: any, i) => {
                            // prettier-ignore
                            if (i === 0 && tonal) return <td><code class="code">{cell}</code></td>
                            // prettier-ignore
                            if (i === 0 && kbd) return (
                                <td><kbd class="kbd">{cell.join(' + ')}</kbd></td>
                            )
                            // prettier-ignore
                            return <td>{cell}</td>
                        })}
                    </tr>
                ))
            }
        </tbody>
    </table>
</div>
