<form class="w-full max-w-md mx-auto space-y-8">
    {/* Website */}
    <div class="input-group grid-cols-[auto_1fr_auto] divide-x divide-surface-200-800">
        <div class="input-group-cell preset-tonal-surface">https://</div>
        <input type="text" placeholder="www.example.com" />
    </div>
    {/* Amount */}
    <div class="input-group grid-cols-[auto_1fr_auto] divide-x divide-surface-200-800">
        <div class="input-group-cell preset-tonal-surface">
            <i data-lucide="circle-dollar-sign" class="size-4"></i>
        </div>
        <input type="text" placeholder="Amount" />
        <select>
            <option>USD</option>
            <option>CAD</option>
            <option>EURO</option>
        </select>
    </div>
    {/* Username */}
    <div class="input-group grid-cols-[1fr_auto] divide-x divide-surface-200-800">
        <input type="text" placeholder="Enter Username..." />
        <button class="btn preset-filled" title="Username already in use.">
            <i data-lucide="check" class="size-4"></i>
        </button>
    </div>
    {/* Search */}
    <div class="input-group grid-cols-[auto_1fr_auto] divide-x divide-surface-200-800">
        <div class="input-group-cell">
            <i data-lucide="search" class="size-4"></i>
        </div>
        <input type="search" placeholder="Search..." />
        <button class="btn preset-filled">Submit</button>
    </div>
</form>
