/* Carbon Ad Styles */

#carbonads {
  @apply bg-surface-50-900-token border-surface-500/30 w-72 border;
}
#carbonads .carbon-wrap {
  @apply grid grid-cols-[auto_1fr] gap-4;
}
#carbonads .carbon-text {
  @apply text-token text-[0.775em] leading-[1.4em] no-underline opacity-75;
  @apply p-1;
}
#carbonads .carbon-poweredby {
  @apply bg-surface-100-800-token;
  @apply text-token text-[0.5em] uppercase no-underline opacity-50;
  @apply block p-1 text-right;
}
