/* Carbon Ad Styles */

#carbonads {
	@apply bg-surface-50-900-token border border-surface-500/30 w-72;
}
#carbonads .carbon-wrap {
	@apply grid grid-cols-[auto_1fr] gap-4;
}
#carbonads .carbon-text {
	@apply text-token text-[0.775em] leading-[1.4em] opacity-75 no-underline;
	@apply p-1;
}
#carbonads .carbon-poweredby {
	@apply bg-surface-100-800-token;
	@apply text-token text-[0.5em] opacity-50 no-underline uppercase;
	@apply block text-right p-1;
}
