<div class="flex items-center gap-4">
	<button type="button" class="btn-icon preset-filled">&rarr;</button>
	<button type="button" class="btn preset-filled">Button</button>
	<button type="button" class="btn preset-filled">
		<span>Button</span>
		<span>&rarr;</span>
	</button>
</div>
