<div class="w-full">
	<!-- Scroll Container -->
	<div class="flex snap-x snap-mandatory scroll-px-4 gap-4 overflow-x-auto scroll-smooth px-4 py-10">
		<!-- Generate a array of 8 items; loop through each item -->
		{
			Array.from({ length: 8 }).map((_, i) => (
				// Each scrollable card element
				<div class="card preset-filled w-40 shrink-0 snap-start py-20 text-center md:w-80">
					<span>{i + 1}</span>
				</div>
			))
		}
	</div>
</div>
