---
import '@styles/app.css';

interface Props {
	title?: string;
	classList?: string;
}

const { title, classList } = Astro.props satisfies Props;

const pageTitle = `${title ? title + ' - ' : ''}Skeleton`;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<!-- Analytics -->
		<script defer data-domain="next.skeleton.dev" src="https://events.plygrnd.org/js/script.outbound-links.js"></script>
		<!-- @ts-ignore -->
		<script>
			window.plausible =
				window.plausible ||
				function () {
					(window.plausible.q = window.plausible.q || []).push(arguments);
				};
		</script>
	</head>
	<body class:list={[classList]} data-theme="cerberus">
		<slot />
	</body>
</html>
