---
import '@styles/app.css';

interface Props {
	title?: string;
	description?: string;
	classList?: string;
}

const { title, description, classList } = Astro.props satisfies Props;

const pageTitle = `${title ? title + ' - ' : ''}Skeleton`;
const pageDescription = description ? description : 'Skeleton is a fully featured UI Toolkit for building reactive interfaces quickly using Svelte and Tailwind.';
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={pageDescription} />
		<meta name="og:image" content="https://user-images.githubusercontent.com/1509726/212382766-f29b9c9a-82e3-44c2-b911-b17a9197e5b9.jpg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<!-- Analytics -->
		<script defer data-domain="next.skeleton.dev" src="https://events.plygrnd.org/js/script.outbound-links.js" is:inline></script>
		<script>
			// @ts-expect-error for window.plausible
			window.plausible =
				// @ts-expect-error for window.plausible
				window.plausible ||
				function () {
					// @ts-expect-error for window.plausible
					(window.plausible.q = window.plausible.q || []).push(arguments);
				};
		</script>
	</head>
	<body class:list={[classList]} data-theme="cerberus">
		<slot />
	</body>
</html>
