<div class="space-y-4 overflow-x-auto whitespace-nowrap">
	<h1 class="type-scale-1">Type Scale 1</h1>
	<h2 class="type-scale-2">Type Scale 2</h2>
	<h3 class="type-scale-3">Type Scale 3</h3>
	<h4 class="type-scale-4">Type Scale 4</h4>
	<h5 class="type-scale-5">Type Scale 5</h5>
	<h6 class="type-scale-6">Type Scale 6</h6>
	<h6 class="type-scale-7">Type Scale 7</h6>
	<h6 class="type-scale-8">Type Scale 8</h6>
	<h6 class="type-scale-9">Type Scale 9</h6>
	<h6 class="type-scale-10">Type Scale 10</h6>
	<h6 class="type-scale-11">Type Scale 11</h6>
	<h6 class="type-scale-12">Type Scale 12</h6>
	<h6 class="type-scale-13">Type Scale 13</h6>
</div>
