@custom-variant theme-catppuccin (&:where([data-theme="catppuccin"] *));
@custom-variant theme-cerberus (&:where([data-theme="cerberus"] *));
@custom-variant theme-concord (&:where([data-theme="concord"] *));
@custom-variant theme-fennec (&:where([data-theme="fennec"] *));
@custom-variant theme-mint (&:where([data-theme="mint"] *));
@custom-variant theme-mona (&:where([data-theme="mona"] *));
@custom-variant theme-nosh (&:where([data-theme="nosh"] *));
@custom-variant theme-pine (&:where([data-theme="pine"] *));
@custom-variant theme-reign (&:where([data-theme="reign"] *));
@custom-variant theme-rose (&:where([data-theme="rose"] *));
@custom-variant theme-terminus (&:where([data-theme="terminus"] *));
@custom-variant theme-vox (&:where([data-theme="vox"] *));
@custom-variant theme-crimson (&:where([data-theme="crimson"] *));
@custom-variant theme-hamlindigo (&:where([data-theme="hamlindigo"] *));
@custom-variant theme-legacy (&:where([data-theme="legacy"] *));
@custom-variant theme-modern (&:where([data-theme="modern"] *));
@custom-variant theme-nouveau (&:where([data-theme="nouveau"] *));
@custom-variant theme-rocket (&:where([data-theme="rocket"] *));
@custom-variant theme-sahara (&:where([data-theme="sahara"] *));
@custom-variant theme-seafoam (&:where([data-theme="seafoam"] *));
@custom-variant theme-vintage (&:where([data-theme="vintage"] *));
@custom-variant theme-wintry (&:where([data-theme="wintry"] *));
