/* Components: Keyframe - Progress Indeterminate */
/* NOTE: only for use in the progress bar functional component. */

/* Horizontal */
@keyframes animate-progress-indeterminate-horizontal {
	from {
		transform: translateX(-200%);
	}
	to {
		transform: translateX(200%);
	}
}

/* Vertical */
@keyframes animate-progress-indeterminate-vertical {
	from {
		transform: translateY(-200%);
	}
	to {
		transform: translateY(200%);
	}
}
