/* Components: Keyframe - Ring Indeterminate */
/* NOTE: only for use in the progress ring functional component. */

@keyframes animate-progress-circular-indeterminate {
	from {
		stroke-dasharray: 1, 400;
		stroke-dashoffset: 0;
	}
	to {
		stroke-dasharray: 400, 400;
		stroke-dashoffset: -140;
	}
}
