/* Components: Keyframe - Progress Linear */
/* NOTE: only for use in the progress linear functional component. */

/* Horizontal */
@keyframes animate-progress-linear-indeterminate-horizontal {
	from {
		transform: translateX(-200%);
	}
	to {
		transform: translateX(200%);
	}
}

/* Vertical */
@keyframes animate-progress-linear-indeterminate-vertical {
	from {
		transform: translateY(-200%);
	}
	to {
		transform: translateY(200%);
	}
}
