[data-scope='app-bar'] {
	&[data-part='root'] {
		width: 100%;
		background: var(--color-surface-100-900);
		padding: --spacing(4);
		display: flex;
		flex-direction: column;
		gap: --spacing(4);
	}

	&[data-part='toolbar'] {
		display: grid;
		align-items: center;
		justify-content: space-between;
		gap: --spacing(4);
	}

	&[data-part='trail'] {
		display: flex;
		gap: --spacing(2);
	}
}
