[data-scope='carousel'] {
	&[data-part='root'] {
		:has(> [data-orientation='horizontal']) & {
			width: 100%;
		}
		:has(> [data-orientation='vertical']) & {
			height: 100%;
		}
	}

	/* &[data-part='control'] {} */

	/* &[data-part='prev-trigger'] {} */
	/* &[data-part='next-trigger'] {} */
	/* &[data-part='autoplay-trigger'] {} */

	&[data-part='item-group'] {
		display: flex;
		gap: --spacing(4);

		:has(> [data-orientation='horizontal']) & {
			flex-direction: row;
		}
		:has(> [data-orientation='vertical']) & {
			flex-direction: column;
		}
	}

	/* &[data-part='item'] {} */

	&[data-part='indicator-group'] {
		display: flex;
		justify-content: center;
		gap: --spacing(2);
		margin-top: --spacing(4);
	}

	&[data-part='indicator'] {
		border: 1px solid var(--color-surface-500);
		display: block;
		width: --spacing(4);
		aspect-ratio: 1 / 1;
		border-radius: 100%;

		&[data-current] {
			background-color: var(--color-surface-950-50);
		}
	}

	/* &[data-part='progress-text'] {} */
}
