[data-scope='carousel'] {
	&[data-part='root'] {
		display: flex;
		flex-direction: column;
		gap: --spacing(4);
	}

	&[data-part='control'] {
		display: flex;
		align-items: center;
		gap: --spacing(2);
	}

	&[data-part='item-group'] {
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&[data-part='item'] {
		scroll-snap-align: start;
		flex-shrink: 0;
	}

	&[data-part='prev-trigger'],
	&[data-part='next-trigger'],
	&[data-part='autoplay-trigger'] {
		@apply btn preset-filled;

		&[data-disabled] {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	&[data-part='indicator-group'] {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: --spacing(2);
	}

	&[data-part='indicator'] {
		width: --spacing(2);
		height: --spacing(2);
		border-radius: calc(infinity * 1px);
		background: var(--color-surface-300-700);
		cursor: pointer;

		&[data-current] {
			background: var(--color-surface-950-50);
		}
	}

	&[data-part='progress-text'] {
		font-size: var(--text-sm);
		color: var(--color-surface-600-400);
		text-align: center;
	}
}
