[data-scope='date-picker'] {
	&[data-part='root'] {
		display: flex;
		flex-direction: column;
		gap: --spacing(2);
	}

	&[data-part='label'] {
		@apply label-text;
	}

	&[data-part='control'] {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: --spacing(2);
	}

	&[data-part='input'] {
		@apply input;
	}

	&[data-part='trigger'] {
		position: absolute;
		inset-inline-end: --spacing(1.5);
		top: --spacing(1.25);

		@apply btn-icon btn-icon-sm preset-tonal;
	}

	&[data-part='preset-trigger'] {
		@apply btn;

		&:hover {
			@apply preset-tonal;
		}
	}

	&[data-part='content'] {
		padding: --spacing(2);
		display: flex;
		flex-direction: column;
		gap: --spacing(2);
		background: var(--color-surface-50-950);
		border: 1px solid var(--color-surface-200-800);

		@apply card;
	}

	&[data-part='year-select'] {
		@apply select;
	}

	&[data-part='month-select'] {
		@apply select;
	}

	&[data-part='view'] {
		display: flex;
		flex-direction: column;
		gap: --spacing(2);
	}

	&[data-part='view-control'] {
		display: flex;
		gap: --spacing(2);
		justify-content: space-between;
	}

	&[data-part='prev-trigger'] {
		@apply btn-icon;

		&:hover {
			@apply preset-tonal;
		}
	}

	&[data-part='view-trigger'] {
		@apply btn;

		&:hover {
			@apply preset-tonal;
		}
	}

	&[data-part='next-trigger'] {
		@apply btn-icon;

		&:hover {
			@apply preset-tonal;
		}
	}

	&[data-part='table'] {
		border-collapse: separate;
		border-spacing: --spacing(2);
	}

	&[data-part='table-header'] {
		font-size: var(--text-sm);
		width: --spacing(8);
		height: --spacing(8);
	}

	&[data-part='table-cell'] {
		width: --spacing(8);
		height: --spacing(8);
	}

	&[data-part='table-cell-trigger'] {
		font-size: var(--text-sm);
		width: 100%;
		height: 100%;

		padding: --spacing(1);
		border-radius: var(--radius-base);
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			@apply preset-tonal;
		}

		&[data-focus-visible] {
			outline: 2px solid var(--color-surface-950-50);
			outline-offset: 1px;
		}

		&[data-selected] {
			@apply preset-filled;
		}

		&[data-in-range] {
			@apply preset-filled;
		}

		&[data-today] {
			text-decoration: underline;
			text-underline-offset: --spacing(1);
		}

		&[data-disabled] {
			pointer-events: none;
			opacity: 0.5;
		}
	}
}
