[data-scope='pagination'] {
	&[data-part='root'] {
		display: inline-flex;
		gap: --spacing(2);
		padding: --spacing(2);
		border-radius: var(--radius-container);
		width: fit-content;

		@apply preset-outlined-surface-200-800;
	}

	&[data-part='first-trigger'] {
		@apply btn btn-sm preset-tonal;
	}

	&[data-part='prev-trigger'] {
		@apply btn btn-sm preset-tonal;
	}

	&[data-part='item'] {
		cursor: pointer;
		user-select: none;

		@apply btn btn-sm preset-tonal;

		&[data-selected] {
			@apply preset-filled;
		}
	}

	&[data-part='ellipsis'] {
		pointer-events: none;

		@apply btn btn-sm preset-tonal;
	}

	&[data-part='next-trigger'] {
		@apply btn btn-sm preset-tonal;
	}

	&[data-part='last-trigger'] {
		@apply btn btn-sm preset-tonal;
	}
}
