[data-scope='tags-input'] {
	&[data-part='root'] {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: --spacing(2);
	}

	&[data-part='label'] {
		@apply label-text;
	}

	&[data-part='control'] {
		@apply input;

		display: flex;
		flex-wrap: wrap;
		gap: --spacing(2);
		padding: --spacing(2);
	}

	&[data-part='item-preview'] {
		@apply preset-filled;

		font-size: var(--text-xs);
		line-height: var(--text-xs--line-height);
		border-radius: var(--radius-base);

		display: flex;
		align-items: center;

		&[data-highlighted] {
			outline: 2px solid var(--color-surface-950-50);
			outline-offset: 1px;
		}
	}

	&[data-part='item-text'] {
		line-height: 1;
		padding: --spacing(1) --spacing(2);
	}

	&[data-part='item-delete-trigger'] {
		padding: --spacing(1) --spacing(2);

		&:hover {
			@apply preset-tonal;
		}
	}

	&[data-part='item-input'] {
		@apply input;

		padding-inline: --spacing(2);
		font-size: var(--text-xs);
		line-height: var(--text-xs--line-height);
	}

	&[data-part='input'] {
		@apply input-ghost!;
		width: auto !important;
	}

	&[data-part='clear-trigger'] {
		@apply btn btn-sm preset-tonal;

		width: fit-content;

		&:hover {
			@apply preset-filled-error-500;
		}
	}
}
