[data-scope='tags-input'] {
	&[data-part='root'] {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: --spacing(2);
	}

	&[data-part='label'] {
		@apply label-text;
	}

	&[data-part='control'] {
		display: flex;
		flex-wrap: wrap;
		gap: --spacing(2);
		padding: --spacing(2);

		@apply input;
	}

	&[data-part='item-preview'] {
		display: flex;
		gap: 0;
		padding: 0;
		width: fit-content;

		@apply chip preset-filled;

		&:hover {
			filter: brightness(100%);
		}

		&[data-highlighted] {
			box-shadow: 0 0 0 2px var(--color-primary-500);
		}
	}

	&[data-part='item-text'] {
		line-height: 1;
		padding: --spacing(1) --spacing(2);
	}

	&[data-part='item-delete-trigger'] {
		padding: --spacing(1) --spacing(2);

		&:hover {
			@apply preset-tonal;
		}
	}

	&[data-part='item-input'] {
		font-size: var(--text-xs);

		@apply input;
	}

	&[data-part='input'] {
		@apply input-ghost;
	}

	&[data-part='clear-trigger'] {
		@apply btn btn-sm preset-tonal;

		&:hover {
			@apply preset-filled-error-500;
		}
	}
}
