[data-scope='toast'] {
	&[data-part='root'] {
		translate: var(--x) var(--y);
		scale: var(--scale);
		z-index: var(--z-index);
		height: var(--height);
		opacity: var(--opacity);
		will-change: translate, opacity, scale;
		transition:
			translate 400ms,
			scale 400ms,
			opacity 400ms;
		transition-timing-function: cubic-bezier(0.21, 1.02, 0.73, 1);

		padding: --spacing(3);
		width: 100%;
		max-width: --spacing(96);
		display: flex;
		align-items: center;
		gap: --spacing(2);
		border: 1px solid var(--color-surface-200-800);

		@apply card preset-filled-surface-50-950;

		&[data-state='closed'] {
			transition:
				translate 400ms,
				scale 400ms,
				opacity 200ms;
			transition-timing-function: cubic-bezier(0.06, 0.71, 0.55, 1);
		}

		&[data-type='success'] {
			@apply preset-filled-success-500;
		}

		&[data-type='warning'] {
			@apply preset-filled-warning-500;
		}

		&[data-type='error'] {
			@apply preset-filled-error-500;
		}
	}

	&[data-part='group'] {
		width: calc(100% - (var(--viewport-offset-left) + var(--viewport-offset-right)));
	}

	&[data-part='message'] {
		flex: 1;
	}

	&[data-part='title'] {
		font-weight: 500;
		font-size: var(--text-sm);
	}

	&[data-part='description'] {
		font-size: var(--text-sm);
	}

	&[data-part='action-trigger'] {
		@apply btn preset-filled;
	}

	&[data-part='close-trigger'] {
		@apply btn-icon;

		&:hover {
			@apply preset-tonal;
		}
	}
}
