---
import SkeletonFull from '@/images/brand/skeleton-full.svg';
import { ChevronRightIcon } from 'lucide-react';
---

<div class="grid grid-cols-1 xl:grid-cols-[256px_800px] gap-20">
	<!-- Mascot -->
	<div class="flex justify-center items-center">
		<div class="relative size-48 md:size-64 aspect-square">
			<SkeletonFull class="absolute top-0 left-0 z-[2] size-full aspect-square drop-shadow-md fill-current" />

			<div class="absolute top-0 left-0 size-full aspect-square rounded-full bg-conic from-success-500 to-primary-500 blur-3xl"></div>
		</div>
	</div>
	<!-- Hero Text -->
	<div class="self-center space-y-4">
		<!-- Announcement -->
		<a
			href="https://github.com/skeletonlabs/skeleton/discussions/3920"
			target="_blank"
			class="btn btn-sm preset-filled-primary-500 gap-2 shadow"
		>
			<span>🎉</span>
			<span>Skeleton v4.0 has launched!</span>
			<ChevronRightIcon className="size-4" />
		</a>
		<!-- Text -->
		<h1 class="heading-font-family text-4xl md:text-5xl font-bold xl:text-balance">An adaptive design system powered by Tailwind CSS.</h1>
		<p class="xl:text-balance">
			Skeleton integrates with <a class="underline" href="https://tailwindcss.com/" target="_blank">Tailwind</a> to provide an opinionated solution
			for generating adaptive design systems. Including a turnkey component library for your favorite web frameworks.
		</p>
		<!-- CTA Buttons -->
		<nav class="flex gap-4">
			<a href="/docs/get-started/installation" class="btn preset-filled">
				<span>Get Started</span>
				<ChevronRightIcon className="size-4" />
			</a>
			<a href="/docs/get-started/introduction" class="btn preset-outlined-surface-800-200 hover:preset-tonal">
				<span>Learn More</span>
			</a>
		</nav>
	</div>
</div>
