---
import {
	SunMoon as IconDarkMode,
	Palette as IconDesign,
	BadgeCheck as IconFramework,
	Puzzle as IconIntegrations,
	FileCode as IconTypescript,
	Blocks as IconZag,
} from 'lucide-react';
---

<div class="space-y-10">
	<!-- Text -->
	<div class="text-center space-y-2">
		<h2 class="h2">And Even More...</h2>
		<p class="opacity-60">
			Solve the hard problems at scale. Skeleton comes with an assortment of quality of life features out of the box.
		</p>
	</div>
	<!-- Grid -->
	<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
		<!-- 1 -->
		<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-10">
			<div class="w-full h-full flex flex-col justify-end space-y-2">
				<IconFramework class:list="size-8 opacity-60" />
				<h3 class="h3">Use Anywhere</h3>
				<p class="opacity-60">Core features such as theses and utility classes require one dependency &mdash; Tailwind CSS.</p>
			</div>
		</div>
		<!-- 2 -->
		<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-10">
			<div class="w-full h-full flex flex-col justify-end space-y-2">
				<IconZag class:list="size-8 opacity-60" />
				<h3 class="h3">Built with Zag.js</h3>
				<p class="opacity-60">Enables cross-framework components with standardized features, a11y, and i18n.</p>
			</div>
		</div>
		<!-- 3 -->
		<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-10">
			<div class="w-full h-full flex flex-col justify-end space-y-2">
				<IconIntegrations class:list="size-8 opacity-60" />
				<h3 class="h3">Integrations</h3>
				<p class="opacity-60">Easily extend Skeleton using our turnkey guides for popovers, code blocks, and more.</p>
			</div>
		</div>
		<!-- 4 -->
		<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-10">
			<div class="w-full h-full flex flex-col justify-end space-y-2">
				<IconDesign class:list="size-8 opacity-60" />
				<h3 class="h3">Adaptive Design</h3>
				<p class="opacity-60">All interface elements automatically adapt to your themes colors, fonts, and overall aesethetic.</p>
			</div>
		</div>
		<!-- 5 -->
		<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-10">
			<div class="w-full h-full flex flex-col justify-end space-y-2">
				<IconDarkMode class:list="size-8 opacity-60" />
				<h3 class="h3">Dark Mode</h3>
				<p class="opacity-60">Full support for Tailwind's dark mode and color scheme mechanisms out of the box.</p>
			</div>
		</div>
		<!-- 6 -->
		<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-10">
			<div class="w-full h-full flex flex-col justify-end space-y-2">
				<IconTypescript class:list="size-8 opacity-60" />
				<h3 class="h3">Typescript</h3>
				<p class="opacity-60">Type-safe by default, with helpful IntelliSense feedback as you work.</p>
			</div>
		</div>
	</div>
</div>
