---
import { ChevronRight as IconChevron } from 'lucide-react';
import { Octokit } from 'octokit';

const octokit = new Octokit();

async function getContributors() {
	const response = await octokit.rest.repos.listContributors({
		owner: 'skeletonlabs',
		repo: 'skeleton',
		per_page: 100,
	});
	return response.data;
}

const contributors = process.env.VERCEL_ENV === 'production' ? await getContributors() : [];
---

<div class="grid grid-cols-1 xl:grid-cols-[2.5fr_1fr] items-start gap-10">
	<!-- Grid -->
	<div class="grid grid-cols-10 xl:grid-cols-[repeat(20,minmax(0,1fr))] gap-3">
		{
			contributors.map((contributor) => {
				return (
					<a class="hover:scale-125" href={contributor.html_url} target="_blank" title={contributor.login}>
						<img class="bg-surface-500 rounded-full" src={contributor.avatar_url} alt={contributor.login} />
					</a>
				);
			})
		}
	</div>
	<!-- Text -->
	<div class="space-y-4">
		<div class="space-y-2">
			<h2 class="h2 text-balance">Open Source</h2>
			<p class="opacity-60">
				Tended by <a href="https://www.skeletonlabs.co/" class="underline" target="_blank">Skeleton Labs</a> and provided under the flexible
				<a href="https://github.com/skeletonlabs/skeleton?tab=MIT-1-ov-file#readme" class="underline" target="_blank">MIT License</a>. Join
				our vast community of open source volunteers and start contributing today!
			</p>
		</div>
		<nav class="flex gap-4">
			<a href="https://github.com/skeletonlabs/skeleton" target="_blank" class="btn preset-filled">
				<span>View GitHub</span>
				<IconChevron className="size-4" />
			</a>
			<a href="/docs/resources/contribute" class="btn preset-outlined-surface-800-200 hover:preset-tonal">
				<span>How to Contribute</span>
			</a>
		</nav>
	</div>
</div>
