<div class="grid grid-cols-1 xl:grid-cols-[1fr_2fr] gap-10">
	<!-- Text -->
	<div class="space-y-4">
		<div class="space-y-2">
			<h2 class="h2 text-balance">Sponsor Us</h2>
			<p class="opacity-60">
				Projects like Skeleton exist through the generosity of our community. Help fund the project, while receiving fun incentives in
				return. Available on the following services.
			</p>
		</div>
	</div>
	<nav class="grid grid-cols-2 gap-5">
		<a
			href="https://github.com/sponsors/skeletonlabs"
			target="_blank"
			class="card bg-noise bg-surface-50-950 border-[1px] border-surface-200-800 p-5 md:p-10 flex flex-col items-center gap-4 md:gap-10"
		>
			<div class="w-full aspect-square rounded-full bg-[url('https://i.imgur.com/sCbl5la.png')] bg-cover bg-center bg-no-repeat shadow-xl">
			</div>
			<h3 class="h4">GitHub</h3>
		</a>
		<a
			href="https://ko-fi.com/skeletonlabs"
			target="_blank"
			class="card bg-noise bg-surface-50-950 border-[1px] border-surface-200-800 p-5 md:p-10 flex flex-col items-center gap-4 md:gap-10"
		>
			<div class="w-full aspect-square rounded-full bg-[url('https://i.imgur.com/XygKW13.png')] bg-cover bg-center bg-no-repeat shadow-xl">
			</div>
			<h3 class="h4">Ko-Fi</h3>
		</a>
	</nav>
</div>
