---
import { HeartIcon } from 'lucide-react';
---

<div class="flex flex-col items-center gap-4">
	<btn class="btn btn-xs preset-tonal-brand">
		<HeartIcon />
		<span>Favorites</span>
		<span class="badge preset-filled-brand">64</span>
	</btn>
	<btn class="btn btn-sm preset-tonal-brand">
		<HeartIcon />
		<span>Favorites</span>
		<span class="badge preset-filled-brand">64</span>
	</btn>
	<btn class="btn btn-base preset-tonal-brand">
		<HeartIcon />
		<span>Favorites</span>
		<span class="badge preset-filled-brand">64</span>
	</btn>
	<btn class="btn btn-lg preset-tonal-brand">
		<HeartIcon />
		<span>Favorites</span>
		<span class="badge preset-filled-brand">64</span>
	</btn>
	<btn class="btn btn-xl preset-tonal-brand">
		<HeartIcon />
		<span>Favorites</span>
		<span class="badge preset-filled-brand">64</span>
	</btn>
</div>
