[submodule "sites/plus.skeleton.dev/src/lib/submodules/free"]
	path = sites/plus.skeleton.dev/src/lib/content/free
	url = https://github.com/skeletonlabs/skeleton-plus-free.git
[submodule "sites/plus.skeleton.dev/src/lib/content/premium"]
	path = sites/plus.skeleton.dev/src/lib/content/premium
	url = https://github.com/skeletonlabs/skeleton-plus-premium.git
