.DS_Store
node_modules
build
.svelte-kit
dist
.env
.env.*
!.env.example
coverage
.temp
src/lib/tailwind/generated
*.tgz
vite.config.ts.timestamp-**.mjs
.vscode/launch.json
repos.json

/packages/*
!/packages/create-skeleton-app
!/packages/skeleton
!/packages/plugin
/sites/*
!/sites/skeleton.dev
/templates/*
