# build output
out/
dist/
.vercel/

# generated
.astro/
.svelte-kit/
.next/
next-env.d.ts
sites/skeleton.dev/src/content/types/*/*.json

# dependencies
node_modules/

# logs
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.*
!.env.example

# macOS-specific files
.DS_Store

# pagefind
**/pagefind

# build artifacts
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*

# misc
.idea/
.temp/
*.tgz
.vscode/launch.json
