engine-strict=true

# https://pnpm.io/npmrc#engine-strict
# registry=http://localhost:4873
# https://verdaccio.org/docs/installation/ only uncomment for GH Action testing

package-manager-strict=false
