{
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		},
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"plugins": [
		"prettier-plugin-astro",
		"prettier-plugin-svelte"
	],
	"printWidth": 140,
	"singleQuote": true,
	"useTabs": true,
	"trailingComma": "none"
}
