---
import { Icon } from 'astro-icon/components'

// Props
const { frontmatter, urls } = Astro.props
---

<div class="flex gap-2 overflow-x-auto pb-2">
    {
        frontmatter.srcCore && (
            <a class="chip preset-filled-surface-200-800" href={urls.githubSkeletonUrl + frontmatter.srcCore} target="_blank">
                <i data-lucide="code" class="size-4" />
                <span>CSS</span>
            </a>
        )
    }
    {
        frontmatter.srcReact && (
            <a class="chip preset-filled-surface-200-800" href={urls.githubReactUrl + frontmatter.srcReact} target="_blank">
                <i data-lucide="code" class="size-4" />
                <span>React</span>
            </a>
        )
    }
    {
        frontmatter.srcSvelte && (
            <a class="chip preset-filled-surface-200-800" href={urls.githubSvelteUrl + frontmatter.srcSvelte} target="_blank">
                <i data-lucide="code" class="size-4" />
                <span>Svelte</span>
            </a>
        )
    }
    {
        frontmatter.showDocsUrl && (
            <a class="chip preset-filled-surface-200-800" href={urls.githubDocsUrl + Astro.url.pathname + '.mdx'} target="_blank">
                <i data-lucide="book-open" class="size-4" />
                <span>Doc</span>
            </a>
        )
    }
    {
        frontmatter.srcAlly && (
            <a class="chip preset-filled-surface-200-800" href={frontmatter.srcAlly} target="_blank">
                <i data-lucide="person-standing" class="size-4" />
                <span>A11y</span>
            </a>
        )
    }
    <!-- <button class="chip preset-filled-surface-200-800">Foobar</button> -->
</div>
