---
import { Check as IconCheck } from 'lucide-react';
---

<div class="flex flex-col md:flex-row bg-surface-50-950 rounded-container border-[1px] border-surface-200-800 shadow-lg overflow-hidden">
	<div class="flex flex-col p-8 w-full">
		<span class="text-xl font-semibold h-full pb-8">Figma UI Kit for Skeleton includes:</span>
		<div class="flex flex-col gap-3">
			<div class="flex flex-row items-center gap-2">
				<div class="flex w-5 h-5 preset-tonal-primary rounded-full justify-center items-center">
					<IconCheck size="12" />
				</div>
				<p>Figma Skeleton v3 Components library</p>
			</div>
			<div class="flex flex-row items-center gap-2">
				<div class="flex w-5 h-5 preset-tonal-primary rounded-full justify-center items-center">
					<IconCheck size="12" />
				</div>
				<p>Lucide Icons</p>
			</div>
			<div class="flex flex-row items-center gap-2">
				<div class="flex w-5 h-5 preset-tonal-primary rounded-full justify-center items-center">
					<IconCheck size="12" />
				</div>
				<p>Dark / Light Support</p>
			</div>
			<div class="flex flex-row items-center gap-2">
				<div class="flex w-5 h-5 preset-tonal-primary rounded-full justify-center items-center">
					<IconCheck size="12" />
				</div>
				<p>Custom Theme Support</p>
			</div>
			<div class="flex flex-row items-center gap-2">
				<div class="flex w-5 h-5 preset-tonal-primary rounded-full justify-center items-center">
					<IconCheck size="12" />
				</div>
				<p>Figma Plugin to import your custom Theme</p>
			</div>
			<div class="flex flex-row items-center gap-2">
				<div class="flex w-5 h-5 preset-tonal-primary rounded-full justify-center items-center">
					<IconCheck size="12" />
				</div>
				<p>Tutorials</p>
			</div>
		</div>
	</div>
	<div class="flex flex-col bg-surface-50-950 w-full border-l border-surface-200-800">
		<div class="flex flex-col gap-1 p-8 border-t md:border-t-0 border-b border-surface-200-800">
			<span class="text-xl font-semibold">Individual Plan</span>
			<p class="text-sm text-surface-600-400 pb-12">License for 1 person</p>
			<div class="flex flex-row justify-between">
				<div class="flex flex-row gap-1 items-end">
					<span class="text-4xl font-semibold">$109</span>
					<span class="opacity-60">+1 year of updates </span>
				</div>
				<a
					href="https://polar.sh/skeleton-kit/products/d61c9909-1d23-4934-83fc-fa936a9db3d6"
					class="btn self-end preset-filled-primary-500 flex items-center gap-2"
				>
					Buy
				</a>
			</div>
		</div>
		<div class="flex flex-col gap-1 p-8">
			<span class="text-xl font-semibold">Team Plan</span>
			<p class="text-sm opacity-60 pb-12">License for 25 people</p>

			<div class="flex flex-row justify-between">
				<div class="flex flex-row gap-1 items-end">
					<span class="text-4xl font-semibold">$219</span>
					<span class="opacity-60">+1 year of updates </span>
				</div>
				<a
					href="https://polar.sh/skeleton-kit/products/a37848ad-cc61-4f86-997e-d15bd311316a"
					class="btn self-end preset-filled-primary-500 flex items-center gap-2"
				>
					Buy
				</a>
			</div>
		</div>
	</div>
</div>
