---
import { Icon } from 'astro-icon/components'
import Lightswitch from '@components/docs/Lightswitch.astro'
import ThemeSwitch from '@components/docs/ThemeSwitch.astro'

const socialLinks = [
    { href: 'https://github.com/skeletonlabs/skeleton', label: 'GitHub', icon: 'github' },
    { href: 'https://discord.gg/EXqV7W8MtY', label: 'Discord', icon: 'discord' },
]
---

<header class="w-full border-b border-surface-500/20 bg-surface-50-950 p-4 py-3 md:px-10">
    <div class="container mx-auto flex max-w-screen-2xl justify-between items-center">
        <a class="type-scale-3 flex gap-3" href="/" title="Skeleton">
            <span><Icon name="skeleton" size={24} /></span>
            <span class="font-bold font-mono">skeleton</span>
        </a>
        <nav class="type-scale-1 flex items-center gap-4">
            <!-- Social -->
            {
                socialLinks.map((l) => (
                    <a href={l.href} target="_blank" title={l.label}>
                        <Icon name={l.icon} size={24} class="size-5" />
                    </a>
                ))
            }
            <!-- Lightswitch -->
            <Lightswitch />
            <!-- Theme Switcher -->
            <ThemeSwitch />
        </nav>
    </div>
</header>
