---
import { Icon } from 'astro-icon/components';
import { Menu as IconMenu, ExternalLink as IconLink } from 'lucide-react';
import Lightswitch from '@components/docs/Lightswitch.astro';
import ThemeSwitch from '@components/docs/ThemeSwitch.astro';
import Search from './Search.svelte';

const socialLinks = [
	{
		href: 'https://github.com/skeletonlabs/skeleton',
		label: 'GitHub',
		icon: 'github'
	},
	{
		href: 'https://discord.gg/EXqV7W8MtY',
		label: 'Discord',
		icon: 'discord'
	}
];
---

<header class="border-surface-500/20 bg-surface-50-950 w-full border-b p-4 py-3 xl:px-10">
	<div class="container mx-auto grid max-w-screen-2xl grid-cols-[auto_1fr_auto] xl:grid-cols-[1fr_auto_1fr] items-center gap-4">
		<!-- Left -->
		<div class="flex items-center justify-start gap-6">
			<!-- Mobile: Hamburger Menu -->
			<button class="xl:hidden btn-icon"><IconMenu /></button>
			<!-- Logo -->
			<a class="hidden xl:inline-block" href="/" title="Skeleton">
				<Icon name="skeleton" size={28} />
			</a>
			<!-- Navigation -->
			<div class="hidden xl:flex items-center justify-start gap-6 opacity-60">
				<a class="hover:underline" href="/docs/get-started/introduction">Docs</a>
				<a class="hover:underline" href="https://themes.skeleton.dev/" target="_blank">Themes</a>
				<a class="hover:underline" href="https://bsky.app/profile/skeletonlabs.bsky.social" target="_blank">News</a>
			</div>
		</div>
		<!-- Middle -->
		<div class="flex items-center gap-2">
			<!-- Search -->
			<Search client:load />
		</div>
		<!-- Right -->
		<div class="flex items-center justify-end gap-2">
			<div class="hidden xl:flex items-center justify-end gap-2">
				<!-- Lightswitch -->
				<Lightswitch />
				<!-- Theme Switcher -->
				<ThemeSwitch />
			</div>
			<!-- Social -->
			<nav class="flex items-center">
				{
					socialLinks.map((l) => (
						<a class="btn hover:preset-tonal" href={l.href} target="_blank" title={l.label}>
							<Icon name={l.icon} size={20} />
						</a>
					))
				}
			</nav>
		</div>
	</div>
</header>
