---
import { Icon } from 'astro-icon/components';
import Lightswitch from '@components/docs/Lightswitch.astro';
import ThemeSwitch from '@components/docs/ThemeSwitch.astro';
import Search from './Search.svelte';

const socialLinks = [
	{
		href: 'https://github.com/skeletonlabs/skeleton',
		label: 'GitHub',
		icon: 'github',
	},
	{
		href: 'https://discord.gg/EXqV7W8MtY',
		label: 'Discord',
		icon: 'discord',
	},
];
---

<header class="w-full border-b border-surface-500/20 bg-surface-50-950 p-4 py-3 md:px-10">
	<div class="container max-w-screen-2xl mx-auto grid grid-cols-[1fr_auto_1fr] gap-4 items-center">
		<!-- Left -->
		<div class="flex justify-start items-center gap-8">
			<!-- Logo -->
			<a class="type-scale-3 flex gap-3" href="/" title="Skeleton">
				<Icon name="skeleton" size={24} />
			</a>
			<!-- Navigation -->
			<a class="opacity-60 hover:underline" href="/docs/get-started/introduction">Docs</a>
			<a class="opacity-60 hover:underline" href="/blog">Blog</a>
			<a class="opacity-60 hover:underline" href="https://themes.skeleton.dev/" target="_blank">Themes</a>
		</div>
		<!-- Middle -->
		<div class="flex items-center gap-2">
			<!-- Search -->
			<Search client:load />
		</div>
		<!-- Right -->
		<div class="flex justify-end items-center gap-2">
			<!-- Lightswitch -->
			<Lightswitch />
			<!-- Theme Switcher -->
			<ThemeSwitch />
			<!-- Social -->
			<nav class="flex items-center">
				{
					socialLinks.map((l) => (
						<a class="btn hover:preset-tonal" href={l.href} target="_blank" title={l.label}>
							<Icon name={l.icon} size={20} />
						</a>
					))
				}
			</nav>
		</div>
	</div>
</header>
