---
import { getCategories } from 'src/content/docs';

interface Props {
	classList?: string;
}

const { classList } = Astro.props satisfies Props;
---

<aside class="type-scale-2 overflow-y-auto space-y-10" class:list={[classList]}>
	{
		(await getCategories())
			.map((category) => {
				return {
					...category,
					entries: category.entries.reduce(
						(acc, entry) => {
							const [_, page, ...rest] = entry.slug.split('/');
							const pages = acc.map((entry) => entry.slug.split('/').at(1));
							if (!pages.includes(page) && !rest.length) {
								acc.push(entry);
							}
							return acc;
						},
						[] as (typeof category.entries)[number][],
					),
				};
			})
			.map((category) => (
				<nav class="flex flex-col gap-2">
					<span class="font-bold">{category.data.title}</span>
					{category.entries.map((page) => (
						<a class="anchor" href={`/docs/${page.slug}`} title={page.data.title}>
							{page.data.title}
						</a>
					))}
				</nav>
			))
	}
</aside>
