---
// Theme Switcher
// Ref: https://docs.astro.build/en/tutorial/6-islands/2/

import { Palette } from 'lucide-react';
---

<div class="input-group grid-cols-[auto_1fr] divide-x divide-surface-200-800">
	<div class="input-group-cell">
		<Palette size={18} />
	</div>
	<select id="themesList">
		<option value="cerberus" selected>Cerberus</option>
		<option value="catppuccin">Catppuccin</option>
		<option value="pine">Pine</option>
		<option value="rose">Rose</option>
	</select>
</div>

<script is:inline>
	const elemBody = document.querySelector('body');
	const elemSelect = document.getElementById('themesList');
	const lsTheme = localStorage.getItem('theme') || 'next';

	// Init
	elemSelect.value = lsTheme;
	setBodyAttr(lsTheme);

	// Change Handler
	function onChangeHandler(event) {
		const selectedTheme = event.target.value;
		elemBody.dataset.theme = selectedTheme;
		setBodyAttr(selectedTheme);
		localStorage.setItem('theme', selectedTheme);
	}

	function setBodyAttr(theme) {
		elemBody.dataset.theme = theme;
	}

	// Listners
	elemSelect.addEventListener('change', onChangeHandler);
</script>
