---
// Theme Switcher
// Ref: https://docs.astro.build/en/tutorial/6-islands/2/

import { Palette } from 'lucide-react';

// import * as themes from '@skeletonlabs/skeleton/themes';

// function capitalizeFirstLetter(text: string) {
// 	return text.charAt(0).toUpperCase() + text.slice(1);
// }
---

<!-- <div class="btn grid grid-cols-[auto_1fr] hover:preset-tonal"> --><!-- <div class="input-group-cell">
		<Palette size={18} />
	</div> -->
<select class="select" data-theme-list>
	<!-- Loop and generate theme list automatically -->
	<!-- {
			Object.keys(themes).map((themeName) => (
				<option value={themeName} selected>
					{capitalizeFirstLetter(themeName)}
				</option>
			))
		} -->
	<option value="cerberus">Cerberus</option>
	<option value="catpunccin">Catpuccin</option>
</select>
<!-- </div> -->

<script>
	const themeSelects = document.querySelectorAll<HTMLSelectElement>('[data-theme-list]');
	themeSelects.forEach((themeSelect) => {
		themeSelect.value = localStorage.getItem('theme') || 'cerberus';
		themeSelect.addEventListener('change', (event) => {
			if (!(event.target instanceof HTMLSelectElement)) return;
			document.body.classList.add('transition-all');
			document.body.classList.add('duration-200');
			document.documentElement.setAttribute('data-theme', event.target.value);
			localStorage.setItem('theme', event.target.value);
			setTimeout(() => {
				document.body.classList.remove('transition-all');
				document.body.classList.remove('duration-200');
			}, 200);
		});
	});
</script>
