---
// Theme Switcher
// Ref: https://docs.astro.build/en/tutorial/6-islands/2/

import { themes } from '@skeletonlabs/skeleton-common';

function capitalizeFirstLetter(text: string) {
	return text.charAt(0).toUpperCase() + text.slice(1);
}
---

<select class="select" data-theme-list>
	{
		themes.map((theme) => (
			<option value={theme.name} selected>
				{capitalizeFirstLetter(theme.name)}
			</option>
		))
	}
</select>

<script>
	const themeSelects = document.querySelectorAll<HTMLSelectElement>('[data-theme-list]');
	themeSelects.forEach((themeSelect) => {
		themeSelect.value = localStorage.getItem('theme') || 'cerberus';
		themeSelect.addEventListener('change', (event) => {
			if (!(event.target instanceof HTMLSelectElement)) return;
			document.body.classList.add('transition-all');
			document.body.classList.add('duration-200');
			document.documentElement.setAttribute('data-theme', event.target.value);
			localStorage.setItem('theme', event.target.value);
			setTimeout(() => {
				document.body.classList.remove('transition-all');
				document.body.classList.remove('duration-200');
			}, 200);
		});
	});
</script>
