---
// Theme Switcher
// Ref: https://docs.astro.build/en/tutorial/6-islands/2/

import { Palette } from 'lucide-react';
---

<div class="input-group grid-cols-[auto_1fr] hover:preset-tonal">
	<div class="input-group-cell">
		<Palette size={18} />
	</div>
	<select id="themesList">
		<option value="catppuccin" selected>Catppuccin</option>
		<option value="cerberus" selected>Cerberus</option>
		<option value="imperial" selected>Imperial</option>
		<option value="jupiter" selected>Jupiter</option>
		<option value="mint" selected>Mint</option>
		<option value="mona" selected>Mona</option>
		<option value="pine" selected>Pine</option>
		<option value="terminus" selected>Terminus</option>
		<option value="reign" selected>Reign</option>
		<option value="rose" selected>Rose</option>
		<option value="wumpus" selected>Wumpus</option>
		<option value="vox" selected>Vox</option>
	</select>
</div>

<script is:inline>
	const elemSelect = document.getElementById('themesList');
	const lsTheme = localStorage.getItem('theme') || 'cerberus';

	// Init
	elemSelect.value = lsTheme;
	setBodyAttr(lsTheme);

	// Change Handler
	function onChangeHandler(event) {
		const selectedTheme = event.target.value;
		document.body.dataset.theme = selectedTheme;
		setBodyAttr(selectedTheme);
		localStorage.setItem('theme', selectedTheme);
	}

	function setBodyAttr(theme) {
		document.body.dataset.theme = theme;
	}

	// Listeners
	elemSelect.addEventListener('change', onChangeHandler);
</script>
