---
// Theme Switcher
// Ref: https://docs.astro.build/en/tutorial/6-islands/2/

import { Palette } from 'lucide-react';
import * as themes from '@skeletonlabs/skeleton/themes';

function capitalizeFirstLetter(text: string) {
	return text.charAt(0).toUpperCase() + text.slice(1);
}
---

<div class="input-group grid-cols-[auto_1fr] hover:preset-tonal">
	<div class="input-group-cell">
		<Palette size={18} />
	</div>
	<select data-theme-list>
		<!-- Loop and generate theme list automatically -->
		{
			Object.keys(themes).map((themeName) => (
				<option value={themeName} selected>
					{capitalizeFirstLetter(themeName)}
				</option>
			))
		}
	</select>
</div>

<script>
	const elemSelect = document.querySelectorAll('[data-theme-list]');
	const lsTheme = localStorage.getItem('theme') || 'cerberus';

	if (elemSelect) {
		// Init
		elemSelect.forEach((es: any) => (es.value = lsTheme));
		setBodyAttr(lsTheme);

		// Change Handler
		function onChangeHandler(event: any) {
			const selectedTheme = event.target.value;
			document.body.classList.add('transition-all');
			document.body.classList.add('duration-200');
			document.body.dataset.theme = selectedTheme;
			setBodyAttr(selectedTheme);
			localStorage.setItem('theme', selectedTheme);
			setTimeout(() => {
				document.body.classList.remove('transition-all');
				document.body.classList.remove('duration-200');
			}, 200);
		}

		function setBodyAttr(theme: any) {
			document.body.dataset.theme = theme;
		}

		// Listeners
		elemSelect.forEach((es: any) => es.addEventListener('change', onChangeHandler));
	}
</script>
