---
import LayoutDocs from "@lib/layouts/LayoutDocs.astro";

const layoutProps = {
    categoryId: 1,
    title: 'Placeholders',
    description: 'Provides "skeleton" placeholders that can display while content loads.'
};
---

<LayoutDocs {...layoutProps}>
    <!-- Preview -->
    <Fragment slot="preview">
        <div class="space-y-4 w-full">
            <div class="flex justify-between items-center">
                <div class="flex justify-center items-center space-x-4">
                    <div class="placeholder-circle size-16 animate-pulse" />
                    <div class="placeholder-circle size-14 animate-pulse" />
                    <div class="placeholder-circle size-10 animate-pulse" />
                </div>
            </div>
            <div class="space-y-4">
                <div class="placeholder animate-pulse" />
                <div class="grid grid-cols-4 gap-4">
                    <div class="placeholder animate-pulse" />
                    <div class="placeholder animate-pulse" />
                    <div class="placeholder animate-pulse" />
                    <div class="placeholder animate-pulse" />
                </div>
                <div class="placeholder animate-pulse" />
                <div class="placeholder animate-pulse" />
            </div>
        </div>
    </Fragment>
    <!-- Animated -->
    <section class="space-y-4">
        <h2 class="h2">Animated</h2>
        <pre class="pre">{`<div class="placeholder animate-pulse" />`}</pre>
    </section>
</LayoutDocs>
