---
const metrics = [
	{ value: '150k+', label: 'Total Monthly Downloads' },
	{ value: '5k+', label: 'GitHub Stars' },
	{ value: '2k+', label: 'Discord Members' },
] as const;
---

<div class="card preset-outlined-surface-200-800 px-10 py-8 grid grid-cols-1 md:grid-cols-[1fr_auto_1fr_auto_1fr] gap-10">
	{
		metrics.map((metric, i) => (
			<>
				<div class="flex md:justify-center">
					<div>
						<h2 class="heading-font-family text-6xl xl:text-8xl font-bold">{metric.value}</h2>
						<p class="text-sx opacity-60">{metric.label}</p>
					</div>
				</div>
				{i !== metrics.length - 1 && <span class="hidden md:block vr" />}
			</>
		))
	}
</div>
