---
import { ChevronRightIcon } from '@lucide/svelte';
import { getCollection } from '@/modules/content';
import { Image } from 'astro:assets';
import { resolve } from '@/modules/framework';

const contributors = await getCollection('contributors');
---

<div class="grid grid-cols-1 xl:grid-cols-[2.5fr_1fr] items-start gap-10">
	<div class="grid grid-cols-10 xl:grid-cols-20 gap-3">
		{
			contributors.map((contributor) => (
				<a class="hover:scale-125" href={contributor.data.html_url} target="_blank" title={contributor.data.login}>
					<Image
						class="bg-surface-500 rounded-full"
						src={contributor.data.avatar_url}
						alt={contributor.data.login}
						width={100}
						height={100}
					/>
				</a>
			))
		}
	</div>
	<div class="space-y-4">
		<div class="space-y-2">
			<h2 class="h2 text-balance">Open Source</h2>
			<p class="opacity-60">
				Tended by <a href="https://www.skeletonlabs.co/" class="underline" target="_blank">Skeleton Labs</a> and provided under the flexible
				<a href="https://github.com/skeletonlabs/skeleton?tab=MIT-1-ov-file#readme" class="underline" target="_blank">MIT License</a>. Join
				our vast community of open source volunteers and start contributing today!
			</p>
		</div>
		<nav class="flex gap-4">
			<a href="https://github.com/skeletonlabs/skeleton" target="_blank" class="btn preset-filled">
				<span>View GitHub</span>
				<ChevronRightIcon class="size-4" />
			</a>
			<a href={resolve(Astro, '/docs/[framework]/resources/contribute')} class="btn preset-outlined-surface-800-200 hover:preset-tonal">
				<span>How to Contribute</span>
			</a>
		</nav>
	</div>
</div>
