@import 'tailwindcss';

@plugin "@tailwindcss/forms";

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '@skeletonlabs/skeleton/optional/presets';

@custom-variant dark (&:where(.dark, .dark *));

.custom-indeterminate {
	animation: custom-indeterminate 2s linear infinite;
}
@keyframes custom-indeterminate {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(-100%);
	}
}
