---

---

<div class="flex items-center gap-4">
    <span class="badge-icon preset-filled">
        <i data-lucide="heart" class="size-4"></i>
    </span>
    <span class="badge preset-filled">Badge</span>
    <span class="badge preset-filled">
        <i data-lucide="heart" class="size-4"></i>
        <span>Badge</span>
    </span>
</div>
