---
import { Heart } from 'lucide-react';
---

<div class="flex items-center gap-4">
  <span class="badge-icon preset-filled">
    <Heart size={16} />
  </span>
  <span class="badge preset-filled">Badge</span>
  <span class="badge preset-filled">
    <Heart size={16} />
    <span>Badge</span>
  </span>
</div>
