---
const imgSrc = 'https://shorturl.at/aiMX5'
---

<div class="relative inline-block">
    <span class="badge-icon preset-filled-primary-500 absolute -top-0 -right-0 z-10">2</span>
    <img class="grayscale size-20 overflow-hidden rounded-full" src={imgSrc} alt="Avatar" />
</div>
