---
import { Icon } from 'astro-icon/components'
---

<div class="flex items-center gap-4">
    <span class="badge-icon preset-filled">
        <Icon name="heroicons-outline:heart" />
    </span>
    <span class="badge preset-filled">Badge</span>
    <span class="badge preset-filled">
        <Icon name="heroicons-outline:heart" />
        <span>Badge</span>
    </span>
</div>
