---
import React from '@/assets/logos/react.svg';
import Svelte from '@/assets/logos/svelte.svg';
import Vue from '@/assets/logos/vue.svg';
import Solid from '@/assets/logos/solid.svg';
import Astro_ from '@/assets/logos/astro.svg'; // Astro is a reserved word
import { EllipsisIcon } from '@lucide/svelte';

const frameworks = [
	{
		name: 'React',
		href: 'https://stackblitz.com/github/skeletonlabs/demos/tree/main/demos/nextjs',
		bgColor: '#00D8FF',
		Icon: React,
	},
	{
		name: 'Svelte',
		href: 'https://stackblitz.com/github/skeletonlabs/demos/tree/main/demos/sveltekit',
		bgColor: '#FF3E00',
		Icon: Svelte,
	},
	{
		name: 'Vue',
		href: 'https://stackblitz.com/github/skeletonlabs/demos/tree/main/demos/nuxt',
		bgColor: '#42B883',
		Icon: Vue,
		note: '*',
	},
	{
		name: 'Solid',
		href: 'https://stackblitz.com/github/skeletonlabs/demos/tree/main/demos/solidstart',
		bgColor: '#57A0FF',
		Icon: Solid,
		note: '*',
	},
	{
		name: 'Astro',
		href: 'https://stackblitz.com/github/skeletonlabs/demos/tree/main/demos/astro',
		bgColor: '#761CBA',
		Icon: Astro_,
		note: '*',
	},
	{
		name: 'More',
		href: '/docs/get-started/installation',
		bgColor: 'var(--skeleton-preset-tonal-bg)',
		Icon: EllipsisIcon,
	},
];
---

<div class="card bg-noise preset-filled-surface-100-900 px-10 py-8 grid grid-cols-1 xl:grid-cols-[auto_2fr] gap-10">
	<div class="self-center space-y-1">
		<h2 class="h2">Live Demos</h2>
		<p class="xl:text-balance xl:max-w-96">Test drive Skeleton directly in your browser for supported frameworks.</p>
		<p class="pt-4 text-xs text-surface-600-400">* Functional components limited to <strong>React</strong> and <strong>Svelte</strong>.</p>
	</div>
	<div class="self-center grid grid-cols-2 md:grid-cols-6 gap-4">
		{
			frameworks.map((framework) => (
				<a
					href={framework.href}
					target="_blank"
					class="aspect-square flex flex-col justify-center items-center gap-2 rounded-container hover:preset-tonal"
				>
					<div
						class="w-16 xl:w-20 aspect-square rounded-full flex justify-center items-center"
						style={`background-color: ${framework.bgColor}`}
					>
						<framework.Icon class="size-10 fill-current" />
					</div>
					<p class="font-bold text-xs">
						{framework.name} {framework.note ? <span class="text-surface-700-300">{framework.note}</span> : ''}
					</p>
				</a>
			))
		}
	</div>
</div>
