<nav
	class="grid grid-cols-1 md:grid-cols-3 gap-1 overflow-hidden rounded-container w-full"
>
	<a
		class="card preset-filled-surface-100-900 rounded-none p-4 py-8 text-center"
		href="#">Twitch</a
	>
	<a
		class="card preset-filled-surface-100-900 rounded-none p-4 py-8 text-center"
		href="#">YouTube</a
	>
	<a
		class="card preset-filled-surface-100-900 rounded-none p-4 py-8 text-center"
		href="#">TicTok</a
	>
</nav>
