@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '@skeletonlabs/skeleton-svelte';

@plugin "@tailwindcss/forms";

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

html,
body {
	@apply h-full overflow-hidden;
}
