<div class="w-full grid grid-cols-6 grid-rows-2">
	<div class="bg-primary-500 row-span-3 flex items-center justify-center py-2 mr-2">
		<strong class="text-primary-contrast-500 text-center text-sm">500<br />Brand</strong>
	</div>
	<div class="col-span-5 grid grid-cols-5 gap-2">
		<div class="bg-primary-400 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-400 text-sm">400</strong>
		</div>
		<div class="bg-primary-300 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-300 text-sm">300</strong>
		</div>
		<div class="bg-primary-200 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-200 text-sm">200</strong>
		</div>
		<div class="bg-primary-100 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-100 text-sm">100</strong>
		</div>
		<div class="bg-primary-50 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-50 text-sm">50</strong>
		</div>
	</div>
	<div class="col-span-5 grid grid-cols-5 gap-2">
		<div class="bg-primary-600 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-600 text-sm">600</strong>
		</div>
		<div class="bg-primary-700 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-700 text-sm">700</strong>
		</div>
		<div class="bg-primary-800 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-800 text-sm">800</strong>
		</div>
		<div class="bg-primary-900 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-900 text-sm">900</strong>
		</div>
		<div class="bg-primary-950 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-950 text-sm">950</strong>
		</div>
	</div>
</div>
