---
import { InfoIcon, TriangleAlertIcon } from 'lucide-react';

interface Props {
	type: 'info' | 'warning';
}

const { type } = Astro.props;

function getTypeClasses(type: Props['type']) {
	switch (type) {
		case 'info':
			return 'preset-tonal';
		case 'warning':
			return 'preset-tonal-warning';
	}
}

function getIcon(type: Props['type']) {
	switch (type) {
		case 'info':
			return InfoIcon;
		case 'warning':
			return TriangleAlertIcon;
	}
}

const typeClasses = getTypeClasses(type);
const Icon = getIcon(type);
---

<div class=`card p-4 flex items-center gap-4 ${typeClasses}`>
	<Icon />
	<slot />
</div>
