/* Components: Badges */

@utility badge {
	border-radius: var(--radius-base);
	font-weight: var(--font-weight-medium);
	text-decoration-line: none;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: --spacing(2);
	white-space: nowrap;

	/* Base Size --- */
	font-size: var(--text-xs);
	line-height: --spacing(6);
	height: --spacing(6);
	padding-inline: --spacing(3);
	padding-block: --spacing(2);
}

@utility badge-icon {
	border-radius: var(--radius-base);
	font-weight: var(--font-weight-medium);
	text-decoration-line: none;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: --spacing(2);
	white-space: nowrap;
	border-radius: 100%;

	/* Base Size --- */
	font-size: var(--text-xs);
	line-height: --spacing(6);
	width: --spacing(6);
	height: --spacing(6);
}
