/* Components: Badges */

@utility badge {
	--badge-size: var(--element-size-xs);
	--badge-scalar: var(--element-scalar-xs);

	border-radius: 9999px;

	/* Icon Spacing */
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: var(--badge-scalar);

	/* Typography */
	text-decoration-line: none;
	white-space: nowrap;
	font-weight: bold;

	/* Size */
	font-size: var(--badge-size);
	line-height: var(--badge-size);
	padding-block: var(--badge-scalar);
	padding-inline: calc(var(--badge-scalar) + var(--spacing));
}

@utility badge-icon {
	--badge-size: var(--element-size-xs);
	--badge-scalar: var(--element-scalar-xs);

	border-radius: 9999px;

	/* Center Icons */
	display: inline-flex;
	justify-content: center;
	align-items: center;

	/* Typography */
	text-decoration-line: none;
	white-space: nowrap;
	font-weight: bold;

	/* Size */
	font-size: var(--badge-size);
	line-height: var(--badge-size);
	width: calc(var(--badge-size) + 2 * var(--badge-scalar));
	height: calc(var(--badge-size) + 2 * var(--badge-scalar));
	padding: var(--badge-scalar);
}

@utility badge-dot {
	border-radius: 9999px;

	/* Hide Inner Content */
	display: inline-block;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	& > * {
		display: none;
	}

	/* Size */
	width: 8px;
	height: 8px;
}
