/* Components: Buttons */

@utility btn {
	--btn-size: var(--element-size-base);
	--btn-scalar: var(--element-scalar-base);

	border-radius: var(--radius-base);
	corner-shape: var(--corner-shape);

	/* Icon Spacing */
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: --spacing(2);

	/* Typography */
	text-decoration-line: none;
	white-space: nowrap;

	/* Size */
	font-size: var(--btn-size);
	line-height: var(--btn-size);
	padding-block: var(--btn-scalar);
	padding-inline: calc(var(--btn-scalar) + var(--spacing));

	/* Transitions */
	transition-property: var(--default-transition-property);
	transition-timing-function: var(--default-transition-timing-function);
	transition-duration: var(--default-transition-duration);

	@variant not-disabled {
		@variant hover {
			filter: brightness(125%);
			@variant dark {
				filter: brightness(75%);
			}
		}
	}
}

@utility btn-icon {
	--btn-size: var(--element-size-base);
	--btn-scalar: var(--element-scalar-base);

	border-radius: var(--radius-base);
	corner-shape: var(--corner-shape);

	/* Center Icons */
	display: inline-flex;
	justify-content: center;
	align-items: center;

	/* Typography */
	text-decoration-line: none;
	white-space: nowrap;

	/* Size */
	font-size: var(--btn-size);
	line-height: var(--btn-size);
	width: calc(var(--btn-size) + 2 * var(--btn-scalar));
	height: calc(var(--btn-size) + 2 * var(--btn-scalar));
	padding: var(--btn-scalar);

	/* Transitions */
	transition-property: var(--default-transition-property);
	transition-timing-function: var(--default-transition-timing-function);
	transition-duration: var(--default-transition-duration);

	@variant not-disabled {
		@variant hover {
			filter: brightness(125%);
			@variant dark {
				filter: brightness(75%);
			}
		}
	}
}

/* Sizes --- */

/* Button */
@utility btn-xs {
	--btn-size: var(--element-size-xs);
	--btn-scalar: var(--element-scalar-xs);
}
@utility btn-sm {
	--btn-size: var(--element-size-sm);
	--btn-scalar: var(--element-scalar-sm);
}
@utility btn-base {
	--btn-size: var(--element-size-base);
	--btn-scalar: var(--element-scalar-base);
}
@utility btn-lg {
	--btn-size: var(--element-size-lg);
	--btn-scalar: var(--element-scalar-lg);
}
@utility btn-xl {
	--btn-size: var(--element-size-xl);
	--btn-scalar: var(--element-scalar-xl);
}

/* Button Icon */
@utility btn-icon-xs {
	--btn-size: var(--element-size-xs);
	--btn-scalar: var(--element-scalar-xs);
}
@utility btn-icon-sm {
	--btn-size: var(--element-size-sm);
	--btn-scalar: var(--element-scalar-sm);
}
@utility btn-icon-base {
	--btn-size: var(--element-size-base);
	--btn-scalar: var(--element-scalar-base);
}
@utility btn-icon-lg {
	--btn-size: var(--element-size-lg);
	--btn-scalar: var(--element-scalar-lg);
}
@utility btn-icon-xl {
	--btn-size: var(--element-size-xl);
	--btn-scalar: var(--element-scalar-xl);
}
@utility btn-icon-fab {
	--btn-size: var(--element-size-4xl);
	--btn-scalar: var(--element-scalar-4xl);
}

/* Group --- */

@utility btn-group {
	border-radius: var(--radius-container);
	display: inline-flex;
	align-items: center;
	gap: --spacing(2);
	padding: --spacing(2);
	overflow: hidden;
}
