/* Components: Chips */

@utility chip {
	--chip-size: var(--text-sm);

	border-radius: var(--radius-base);
	corner-shape: var(--corner-shape);

	/* Icon Spacing */
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: --spacing(2);

	/* Typography */
	text-decoration-line: none;
	white-space: nowrap;

	/* Size */
	font-size: var(--chip-size);
	line-height: var(--chip-size);
	padding-block: calc((var(--chip-size) - --spacing(0.5)) / 2);
	padding-inline: calc((var(--chip-size) - --spacing(0.5)) / 2 + var(--spacing));

	/* Inner Icon Sizing */
	& > :where(svg) {
		width: var(--chip-size);
		height: var(--chip-size);
	}

	/* Transitions */
	transition-property: var(--default-transition-property);
	transition-timing-function: var(--default-transition-timing-function);
	transition-duration: var(--default-transition-duration);

	@variant not-disabled {
		@variant hover {
			filter: brightness(125%);
			@variant dark {
				filter: brightness(75%);
			}
		}
	}
}

@utility chip-icon {
	--chip-size: var(--text-sm);

	border-radius: var(--radius-base);
	corner-shape: var(--corner-shape);

	/* Center Icons */
	display: inline-flex;
	justify-content: center;
	align-items: center;

	/* Typography */
	text-decoration-line: none;
	white-space: nowrap;

	/* Size */
	font-size: var(--chip-size);
	line-height: var(--chip-size);
	width: calc(var(--chip-size) * 2 - --spacing(0.5));
	height: calc(var(--chip-size) * 2 - --spacing(0.5));
	padding: calc((var(--chip-size) - --spacing(0.5)) / 2);

	/* Inner Icon Sizing */
	& > :where(svg) {
		width: var(--chip-size);
		height: var(--chip-size);
	}

	/* Transitions */
	transition-property: var(--default-transition-property);
	transition-timing-function: var(--default-transition-timing-function);
	transition-duration: var(--default-transition-duration);

	@variant not-disabled {
		@variant hover {
			filter: brightness(125%);
			@variant dark {
				filter: brightness(75%);
			}
		}
	}
}
