/* Components: Chips */

@utility chip {
	--chip-size: var(--element-size-sm);
	--chip-scalar: var(--element-scalar-sm);

	border-radius: var(--radius-base);
	corner-shape: var(--corner-shape);

	/* Icon Spacing */
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: --spacing(2);

	/* Typography */
	text-decoration-line: none;
	white-space: nowrap;

	/* Size */
	font-size: var(--chip-size);
	line-height: var(--chip-size);
	padding-block: var(--chip-scalar);
	padding-inline: calc(var(--chip-scalar) + var(--spacing));

	/* Transitions */
	transition-property: var(--default-transition-property);
	transition-timing-function: var(--default-transition-timing-function);
	transition-duration: var(--default-transition-duration);

	@variant not-disabled {
		@variant hover {
			filter: brightness(125%);
			@variant dark {
				filter: brightness(75%);
			}
		}
	}
}

@utility chip-icon {
	--chip-size: var(--element-size-sm);
	--chip-scalar: var(--element-scalar-sm);

	border-radius: var(--radius-base);
	corner-shape: var(--corner-shape);

	/* Center Icons */
	display: inline-flex;
	justify-content: center;
	align-items: center;

	/* Typography */
	text-decoration-line: none;
	white-space: nowrap;

	/* Size */
	font-size: var(--chip-size);
	line-height: var(--chip-size);
	width: calc(var(--chip-size) + 2 * var(--chip-scalar));
	height: calc(var(--chip-size) + 2 * var(--chip-scalar));
	padding: var(--chip-scalar);

	/* Transitions */
	transition-property: var(--default-transition-property);
	transition-timing-function: var(--default-transition-timing-function);
	transition-duration: var(--default-transition-duration);

	@variant not-disabled {
		@variant hover {
			filter: brightness(125%);
			@variant dark {
				filter: brightness(75%);
			}
		}
	}
}
