@use 'sass:list';

// Colors (can't use the same sass loop as class name != var name)
@utility body-color {
	background-color: var(--body-background-color);
}
@utility body-color-dark {
	background-color: var(--body-background-color-dark);
}

$theme-variables: (
	// Base
	(base-font-color, color),
	(base-font-color-dark, color),
	(base-font-family, font-family),
	(base-font-size, font-size),
	(base-line-height, line-height),
	(base-font-weight, font-weight),
	(base-font-style, font-style),
	(base-letter-spacing, letter-spacing),
	// Heading
	(heading-font-color, color),
	(heading-font-color-dark, color),
	(heading-font-family, font-family),
	(heading-font-size, font-size),
	(heading-line-height, line-height),
	(heading-font-weight, font-weight),
	(heading-font-style, font-style),
	(heading-letter-spacing, letter-spacing),
	// Anchor
	(anchor-font-color, color),
	(anchor-font-color-dark, color),
	(anchor-font-family, font-family),
	(anchor-font-size, font-size),
	(anchor-line-height, line-height),
	(anchor-font-weight, font-weight),
	(anchor-font-style, font-style),
	(anchor-letter-spacing, letter-spacing),
	(anchor-text-decoration, text-decoration),
	(anchor-text-decoration-active, text-decoration),
	(anchor-text-decoration-focus, text-decoration),
	(anchor-text-decoration-hover, text-decoration)
);

@each $variable in $theme-variables {
	$name: list.nth($variable, 1);
	$property: list.nth($variable, 2);

	@utility #{$name} {
		#{$property}: var(--#{$name});
	}
}
