/* Components: Disclosures */

@utility disclosure-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: --spacing(4);
}

@utility disclosure {
	--disclosure-size: var(--element-size-base);
	--disclosure-scalar: var(--element-scalar-base);

	interpolate-size: allow-keywords;

	width: 100%;

	& summary {
		border-radius: var(--radius-base);
		width: 100%;
		text-align: start;

		/* Size */
		font-size: var(--disclosure-size);
		line-height: var(--disclosure-size);
		padding-block: var(--disclosure-scalar);
		padding-inline: calc(var(--disclosure-scalar) + var(--spacing));

		/* Transitions */
		transition-property: var(--default-transition-property);
		transition-timing-function: var(--default-transition-timing-function);
		transition-duration: var(--default-transition-duration);

		@variant not-disabled {
			@variant hover {
				@apply preset-tonal-primary;
			}
		}
	}

	&::details-content {
		block-size: 0;
		overflow-y: clip;
		transition:
			content-visibility var(--default-transition-duration) allow-discrete,
			block-size var(--default-transition-duration) var(--default-transition-timing-function);
	}

	&[open]::details-content {
		block-size: auto;
	}
}

@utility disclosure-content {
	padding-block: var(--disclosure-scalar, var(--element-scalar-base));
	padding-inline: calc(var(--disclosure-scalar, var(--element-scalar-base)) + var(--spacing));
}
