/* Components: Dividers */

/* Horizontal Rule */
@utility hr {
	border-color: var(--color-surface-300-700);
	border-top-width: 1px;
	display: block;
	width: 100%;
}

/* Vertical Rule */
@utility vr {
	border-color: var(--color-surface-300-700);
	border-left-width: 1px;
	display: inline-block;
	height: 100%;
	min-height: 16px;
}
