/* Components: Forms (Core) */

@utility fieldset {
	border: 1px solid var(--color-surface-200-800);
	border-radius: var(--radius-container);
	display: block;
	padding: --spacing(4);
	width: 100%;
}

@utility legend {
	font-size: var(--text-xs);
	line-height: var(--text-xs--line-height);
	font-weight: var(--font-weight-medium);
	padding-inline: --spacing(2);
}

@utility label {
	display: block;
	width: 100%;
	& > * + * {
		margin-top: --spacing(1);
	}
}

@utility label-text {
	display: block;
	font-size: var(--text-xs);
	line-height: var(--text-xs--line-height);
	font-weight: var(--font-weight-medium);
	text-decoration-line: none;
}

/* Field Sizes --- */

@utility field-xs {
	--field-size: var(--text-xs);
}
@utility field-sm {
	--field-size: var(--text-sm);
}
@utility field-base {
	--field-size: var(--text-base);
}
@utility field-lg {
	--field-size: var(--text-lg);
}
@utility field-xl {
	--field-size: var(--text-xl);
}
@utility field-2xl {
	--field-size: var(--text-2xl);
}
@utility field-3xl {
	--field-size: var(--text-3xl);
}
@utility field-4xl {
	--field-size: var(--text-4xl);
}
@utility field-5xl {
	--field-size: var(--text-5xl);
}
@utility field-6xl {
	--field-size: var(--text-6xl);
}
@utility field-7xl {
	--field-size: var(--text-7xl);
}
@utility field-8xl {
	--field-size: var(--text-8xl);
}
@utility field-9xl {
	--field-size: var(--text-9xl);
}
