/* Components: Forms > Textarea */

@utility textarea {
	display: block;
	border-radius: var(--radius-base);
	border-width: var(--default-border-width);
	border-color: var(--color-surface-200-800);
	background-color: transparent;

	/* Base Size --- */
	font-size: var(--text-base);
	line-height: --spacing(9);
	height: auto;
	width: 100%;
	padding: --spacing(2);

	outline-color: transparent;

	@variant active {
		--tw-ring-color: var(--color-primary-500);
	}
	@variant focus {
		--tw-ring-color: var(--color-primary-500);
	}
	@variant focus-within {
		--tw-ring-color: var(--color-primary-500);
	}
}
