/* Iconography --- */

/* NOTE: Lucide's default icon size is 24px */

/* Icon Sizes --- */

@utility icon-xs {
	--icon-size: 8px;
	width: var(--icon-size);
	height: var(--icon-size);
}
@utility icon-sm {
	--icon-size: 16px;
	width: var(--icon-size);
	height: var(--icon-size);
}
@utility icon-base {
	--icon-size: 24px;
	width: var(--icon-size);
	height: var(--icon-size);
}
@utility icon-lg {
	--icon-size: 32px;
	width: var(--icon-size);
	height: var(--icon-size);
}
@utility icon-xl {
	--icon-size: 64px;
	width: var(--icon-size);
	height: var(--icon-size);
}
@utility icon-2xl {
	--icon-size: 96px;
	width: var(--icon-size);
	height: var(--icon-size);
}
@utility icon-3xl {
	--icon-size: 128px;
	width: var(--icon-size);
	height: var(--icon-size);
}

/* Icon Label Sizes --- */
/* For use within the label region of badges, buttons chips, etc. */

@utility icon-label-xxs {
	--icon-size: 10px;
	width: var(--icon-size);
	height: var(--icon-size);
}
@utility icon-label-xs {
	--icon-size: 14px;
	width: var(--icon-size);
	height: var(--icon-size);
}
@utility icon-label-sm {
	--icon-size: 16px;
	width: var(--icon-size);
	height: var(--icon-size);
}
@utility icon-label-base {
	--icon-size: 18px;
	width: var(--icon-size);
	height: var(--icon-size);
}
@utility icon-label-lg {
	--icon-size: 20px;
	width: var(--icon-size);
	height: var(--icon-size);
}
@utility icon-label-xl {
	--icon-size: 22px;
	width: var(--icon-size);
	height: var(--icon-size);
}
