/* Iconography --- */

@utility icon-xs {
	width: var(--element-size-xs);
	height: var(--element-size-xs);
}
@utility icon-sm {
	width: var(--element-size-sm);
	height: var(--element-size-sm);
}
@utility icon-base {
	width: var(--element-size-base);
	height: var(--element-size-base);
}
@utility icon-lg {
	width: var(--element-size-lg);
	height: var(--element-size-lg);
}
@utility icon-xl {
	width: var(--element-size-xl);
	height: var(--element-size-xl);
}
@utility icon-2xl {
	width: var(--element-size-2xl);
	height: var(--element-size-2xl);
}
@utility icon-3xl {
	width: var(--element-size-3xl);
	height: var(--element-size-3xl);
}
@utility icon-4xl {
	width: var(--element-size-4xl);
	height: var(--element-size-4xl);
}
@utility icon-5xl {
	width: var(--element-size-5xl);
	height: var(--element-size-5xl);
}
@utility icon-6xl {
	width: var(--element-size-6xl);
	height: var(--element-size-6xl);
}
@utility icon-7xl {
	width: var(--element-size-7xl);
	height: var(--element-size-7xl);
}
@utility icon-8xl {
	width: var(--element-size-8xl);
	height: var(--element-size-8xl);
}
@utility icon-9xl {
	width: var(--element-size-9xl);
	height: var(--element-size-9xl);
}
