@import './core.css';

@import './badges.css';
@import './buttons.css';
@import './cards.css';
@import './chips.css';
@import './dividers.css';
@import './placeholders.css';
@import './presets.css';
@import './tables.css';
@import './typography.css';

/* Forms */
@import './form-core.css';
@import './form-groups.css';
@import './form-inputs.css';
@import './form-progress.css';
@import './form-radios-checks.css';
@import './form-selects.css';
@import './form-textareas.css';
