/* Component: TreeView */

@utility indent-guide {
	width: var(--indent-width-md);
}

@utility indent-guide-* {
	width: --value(--indent-width- *, [ *]);
}

@utility branch-indicator-rotation {
	transform-box: fill-box;
	transform-origin: center;
	&[data-state='open'] {
		transform: rotate(var(--rotation-90));
	}
}

@utility branch-indicator-rotation-* {
	transform-box: fill-box;
	transform-origin: center;
	&[data-state='open'] {
		transform: rotate(--value(--rotation- *, [angle]));
	}
}
