/* Components: Typography */

@utility h1 {
	color: var(--typo-heading--color-light);
	font-family: var(--typo-heading--font-family);
	font-weight: var(--typo-heading--font-weight);
	font-style: var(--typo-heading--font-style);
	letter-spacing: var(--typo-heading--letter-spacing);
	font-stretch: var(--typo-heading--font-stretch);
	font-kerning: var(--typo-heading--font-kerning);
	text-shadow: var(--typo-heading--text-shadow);
	word-spacing: var(--typo-heading--word-spacing);
	hyphens: var(--typo-heading--hyphens);
	text-transform: var(--typo-heading--text-transform);

	font-size: var(--text-4xl);
	line-height: var(--text-4xl--line-height);

	@variant md {
		font-size: var(--text-5xl);
		line-height: var(--text-5xl--line-height);
	}
	@variant dark {
		color: var(--typo-heading--color-dark);
	}
}

@utility h2 {
	color: var(--typo-heading--color-light);
	font-family: var(--typo-heading--font-family);
	font-weight: var(--typo-heading--font-weight);
	font-style: var(--typo-heading--font-style);
	letter-spacing: var(--typo-heading--letter-spacing);
	font-stretch: var(--typo-heading--font-stretch);
	font-kerning: var(--typo-heading--font-kerning);
	text-shadow: var(--typo-heading--text-shadow);
	word-spacing: var(--typo-heading--word-spacing);
	hyphens: var(--typo-heading--hyphens);
	text-transform: var(--typo-heading--text-transform);

	font-size: var(--text-3xl);
	line-height: var(--text-3xl--line-height);

	@variant md {
		font-size: var(--text-4xl);
		line-height: var(--text-4xl--line-height);
	}
	@variant dark {
		color: var(--typo-heading--color-dark);
	}
}

@utility h3 {
	color: var(--typo-heading--color-light);
	font-family: var(--typo-heading--font-family);
	font-weight: var(--typo-heading--font-weight);
	font-style: var(--typo-heading--font-style);
	letter-spacing: var(--typo-heading--letter-spacing);
	font-stretch: var(--typo-heading--font-stretch);
	font-kerning: var(--typo-heading--font-kerning);
	text-shadow: var(--typo-heading--text-shadow);
	word-spacing: var(--typo-heading--word-spacing);
	hyphens: var(--typo-heading--hyphens);
	text-transform: var(--typo-heading--text-transform);

	font-size: var(--text-2xl);
	line-height: var(--text-2xl--line-height);

	@variant md {
		font-size: var(--text-3xl);
		line-height: var(--text-3xl--line-height);
	}
	@variant dark {
		color: var(--typo-heading--color-dark);
	}
}

@utility h4 {
	color: var(--typo-heading--color-light);
	font-family: var(--typo-heading--font-family);
	font-weight: var(--typo-heading--font-weight);
	font-style: var(--typo-heading--font-style);
	letter-spacing: var(--typo-heading--letter-spacing);
	font-stretch: var(--typo-heading--font-stretch);
	font-kerning: var(--typo-heading--font-kerning);
	text-shadow: var(--typo-heading--text-shadow);
	word-spacing: var(--typo-heading--word-spacing);
	hyphens: var(--typo-heading--hyphens);
	text-transform: var(--typo-heading--text-transform);

	font-size: var(--text-xl);
	line-height: var(--text-xl--line-height);

	@variant md {
		font-size: var(--text-2xl);
		line-height: var(--text-2xl--line-height);
	}

	@variant dark {
		color: var(--typo-heading--color-dark);
	}
}

@utility h5 {
	color: var(--typo-heading--color-light);
	font-family: var(--typo-heading--font-family);
	font-weight: var(--typo-heading--font-weight);
	font-style: var(--typo-heading--font-style);
	letter-spacing: var(--typo-heading--letter-spacing);
	font-stretch: var(--typo-heading--font-stretch);
	font-kerning: var(--typo-heading--font-kerning);
	text-shadow: var(--typo-heading--text-shadow);
	word-spacing: var(--typo-heading--word-spacing);
	hyphens: var(--typo-heading--hyphens);
	text-transform: var(--typo-heading--text-transform);

	font-size: var(--text-lg);
	line-height: var(--text-lg--line-height);

	@variant md {
		font-size: var(--text-xl);
		line-height: var(--text-xl--line-height);
	}
	@variant dark {
		color: var(--typo-heading--color-dark);
	}
}

@utility h6 {
	color: var(--typo-heading--color-light);
	font-family: var(--typo-heading--font-family);
	font-weight: var(--typo-heading--font-weight);
	font-style: var(--typo-heading--font-style);
	letter-spacing: var(--typo-heading--letter-spacing);
	font-stretch: var(--typo-heading--font-stretch);
	font-kerning: var(--typo-heading--font-kerning);
	text-shadow: var(--typo-heading--text-shadow);
	word-spacing: var(--typo-heading--word-spacing);
	hyphens: var(--typo-heading--hyphens);
	text-transform: var(--typo-heading--text-transform);

	font-size: var(--text-base);
	line-height: var(--text-base--line-height);

	@variant md {
		font-size: var(--text-lg);
		line-height: var(--text-lg--line-height);
	}
	@variant dark {
		color: var(--typo-heading--color-dark);
	}
}

@utility anchor {
	color: var(--typo-anchor--color-light);
	font-family: var(--typo-anchor--font-family);
	font-size: var(--typo-anchor--font-size);
	line-height: var(--typo-anchor--line-height);
	font-weight: var(--typo-anchor--font-weight);
	font-style: var(--typo-anchor--font-style);
	letter-spacing: var(--typo-anchor--letter-spacing);
	font-stretch: var(--typo-anchor--font-stretch);
	font-kerning: var(--typo-anchor--font-kerning);
	text-shadow: var(--typo-anchor--text-shadow);
	word-spacing: var(--typo-anchor--word-spacing);
	hyphens: var(--typo-anchor--hyphens);
	text-transform: var(--typo-anchor--text-transform);
	text-decoration-line: var(--typo-anchor--text-decoration-line);
	text-decoration-color: var(--typo-anchor--text-decoration-color);
	text-decoration-style: var(--typo-anchor--text-decoration-style);
	text-decoration-thickness: var(--typo-anchor--text-decoration-thickness);
	text-underline-offset: var(--typo-anchor--text-underline-offset);
	text-underline-position: var(--typo-anchor--text-underline-position);

	@variant hover {
		text-decoration-line: var(--typo-anchor--hover--text-decoration-line);
		text-decoration-color: var(--typo-anchor--hover--text-decoration-color);
		text-decoration-style: var(--typo-anchor--hover--text-decoration-style);
		text-decoration-thickness: var(--typo-anchor--hover--text-decoration-thickness);
		text-underline-offset: var(--typo-anchor--hover--text-underline-offset);
		text-underline-position: var(--typo-anchor--hover--text-underline-position);
	}
	@variant active {
		text-decoration-line: var(--typo-anchor--active--text-decoration-line);
		text-decoration-color: var(--typo-anchor--active--text-decoration-color);
		text-decoration-style: var(--typo-anchor--active--text-decoration-style);
		text-decoration-thickness: var(--typo-anchor--active--text-decoration-thickness);
		text-underline-offset: var(--typo-anchor--active--text-underline-offset);
		text-underline-position: var(--typo-anchor--active--text-underline-position);
	}
	@variant focus {
		text-decoration-line: var(--typo-anchor--focus--text-decoration-line);
		text-decoration-color: var(--typo-anchor--focus--text-decoration-color);
		text-decoration-style: var(--typo-anchor--focus--text-decoration-style);
		text-decoration-thickness: var(--typo-anchor--focus--text-decoration-thickness);
		text-underline-offset: var(--typo-anchor--focus--text-underline-offset);
		text-underline-position: var(--typo-anchor--focus--text-underline-position);
	}
	@variant dark {
		color: var(--typo-anchor--color-dark);
	}
}

@utility blockquote {
	border-left-width: 3px;
	border-left-color: var(--color-primary-500);
	padding-left: --spacing(4);
	font-style: italic;
}

@utility kbd {
	background-color: var(--color-surface-300-700);
	border-width: 1px;
	border-color: var(--color-surface-600-400);
	border-radius: var(--radius-base);
	color: var(--color-surface-contrast-500);
	font-family: var(--font-mono);
	font-size: var(--text-sm);
	white-space: nowrap;
	overflow-x: auto;
	padding-inline: --spacing(1.5);
	padding-block: --spacing(0.25);
}

@utility pre {
	background-color: rgba(0, 0, 0, 0.85);
	backdrop-filter: blur(var(--blur-sm));
	border-radius: var(--radius-container);
	color: var(--color-white);
	font-size: var(--text-xs);
	white-space: pre-wrap;
	padding: --spacing(4);
	overflow-x: auto;
}

/* Affects <code>, but not <pre><code></code></pre> */
/* This enables the use of presets-* styling for standalone <code> */
@layer base {
	code {
		background-color: var(--color-primary-100-900);
		border-radius: var(--radius-base);
		color: var(--color-primary-contrast-50-950);
		font-family: var(--font-mono);
		font-size: var(--text-xs);
		white-space: nowrap;
		padding-inline: --spacing(1.5);
		padding-block: --spacing(0.75);
		overflow-x: auto;
	}

	/* Reset when code is inside pre or .ec-line */
	pre code,
	.ec-line code {
		background-color: unset;
		border-radius: unset;
		color: unset;
		font-family: unset;
		font-size: unset;
		white-space: unset;
		padding-inline: unset;
		padding-block: unset;
		overflow-x: unset;
	}
}

/* Insertions / Deletions --- */
/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ins */
/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/del */

@utility ins {
	background-color: var(--color-success-500);
	color: var(--color-success-contrast-500);
	font-family: var(--font-mono);
	position: relative;
	display: block;
	padding: --spacing(0.5);
	padding-left: --spacing(5);
	text-decoration: none;

	&::before {
		position: absolute;
		left: --spacing(1);
		font-family: var(--font-mono);
	}
	&::before {
		content: '+';
	}
}

@utility del {
	background-color: var(--color-error-500);
	color: var(--color-error-contrast-500);
	font-family: var(--font-mono);
	position: relative;
	display: block;
	padding: --spacing(0.5);
	padding-left: --spacing(5);
	text-decoration: none;

	&::before {
		position: absolute;
		left: --spacing(1);
		font-family: var(--font-mono);
	}
	&::before {
		content: '−';
	}
}

@utility mark {
	color: var(--color-tertiary-contrast-500);
	background-color: var(--color-tertiary-500);
	border-radius: var(--radius-sm);
	padding-inline: --spacing(1);
}
