@import 'tailwindcss';
@plugin "@tailwindcss/forms";

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '@skeletonlabs/skeleton-svelte';

/* @custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *)); */

html {
	background-attachment: fixed;
	background-image:
		radial-gradient(at 0% 25%, color-mix(in oklab, var(--color-primary-500) 10%, transparent) 0px, transparent 30%),
		radial-gradient(at 15% 06%, color-mix(in oklab, var(--color-success-500) 5%, transparent) 0px, transparent 30%);
}

.app-container-page {
	padding: --spacing(4);

	& > :not(:last-child) {
		margin-block-end: --spacing(4);
	}
}
