---
// Lightswitch
// Ref: https://docs.astro.build/en/tutorial/6-islands/2/
---

<button data-lightswitch class="btn preset-outlined-surface-200-800 hover:preset-tonal w-full" title="Toggle dark mode.">
	<span>Toggle Mode</span>
</button>

<script>
	const darkMode = (() => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('darkMode')) {
			return localStorage.getItem('darkMode');
		}
		if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
			return 'dark';
		}
		return 'light';
	})();

	if (darkMode === 'light') {
		document.documentElement.classList.remove('dark');
	} else {
		document.documentElement.classList.add('dark');
	}

	window.localStorage.setItem('darkMode', String(darkMode));

	const handleToggleClick = () => {
		const element = document.documentElement;
		element.classList.toggle('dark');

		const isDark = element.classList.contains('dark');
		localStorage.setItem('darkMode', isDark ? 'dark' : 'light');
	};

	const elemsLightswitch = document.querySelectorAll('[data-lightswitch]');
	elemsLightswitch.forEach((ls) => ls.addEventListener('click', handleToggleClick));
</script>
