/* Global Styles */

html {
	scroll-behavior: smooth;
}

/* Local Utiilties --- */

.flex-centered {
	@apply flex items-center justify-center;
}

/* Astro Components --- */

.astro-code {
	@apply rounded-container p-4;
}

/* Theme Enhancements --- */

/* Background Gradient */
/*
[data-theme='jupiter']
[data-theme='reign']
[data-theme='terminus']
[data-theme='vox']
[data-theme='wumpus']
*/
[data-theme='catppuccin'],
[data-theme='cerberus'],
[data-theme='crimson'],
[data-theme='hamlindigo'],
[data-theme='mint'],
[data-theme='modern'],
[data-theme='nouveau'],
[data-theme='mona'],
[data-theme='nosh'],
[data-theme='pine'],
[data-theme='rose'],
[data-theme='sahara'],
[data-theme='seafoam'],
[data-theme='vintage'],
[data-theme='wintry'] {
	background-image: radial-gradient(at 20% 10%, rgba(var(--color-secondary-500) / 0.075) 0px, transparent 40%),
		radial-gradient(at 75% 10%, rgba(var(--color-primary-500) / 0.075) 0px, transparent 50%);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
[data-theme='legacy'] {
	background-image: radial-gradient(at 0% 0%, rgba(var(--color-secondary-500) / 0.33) 0px, transparent 50%),
		radial-gradient(at 98% 1%, rgba(var(--color-error-500) / 0.33) 0px, transparent 50%);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Cards */
.card-enhanced {
	@apply card border border-surface-200-800;
}
[data-theme='catppuccin'] .card-enhanced,
[data-theme='terminus'] .card-enhanced,
[data-theme='vox'] .card-enhanced,
[data-theme='rocket'] .card-enhanced {
	@apply bg-surface-100/30 dark:bg-surface-900/30;
}
[data-theme='concord'] .card-enhanced,
[data-theme='legacy'] .card-enhanced,
[data-theme='mint'] .card-enhanced,
[data-theme='vintage'] .card-enhanced {
	@apply bg-surface-50/30 dark:bg-surface-950/30;
}

/* Filled Cards */
.card-filled-enhanced {
	@apply card preset-filled-primary-500;
}

/* Linker */
/* Prominant link elements for MDX pages */

.linker {
	@apply card flex justify-center px-4 py-8 shadow;
	@apply bg-gradient-to-br from-primary-500 to-primary-800 text-primary-contrast-500;
}
.linker-item {
	@apply btn bg-surface-50 text-surface-950 shadow;
}

/* Floating UI */
/* https://floating-ui.com/docs/tutorial#making-the-tooltip-float */
/* https://floating-ui-svelte.vercel.app/docs/getting-started */

.floating {
	width: max-content;
	position: absolute;
	top: 0;
	left: 0;
}

/* useTransition - https://floating-ui.com/docs/useTransition#usetransitionstatus */
.floating {
	transition-property: opacity;
}
.floating[data-status='open'],
.floating[data-status='close'] {
	transition-duration: 250ms;
}
.floating[data-status='initial'],
.floating[data-status='close'] {
	opacity: 0;
}

/* Carbon Ad Styles */

#carbonads {
	@apply bg-surface-50-950 border border-surface-500/30;
}
#carbonads .carbon-wrap {
	@apply grid grid-cols-[auto_1fr] gap-4;
}
#carbonads .carbon-text {
	@apply text-[0.775em] leading-[1.4em] opacity-75 no-underline;
	@apply p-1;
}
#carbonads .carbon-poweredby {
	@apply bg-surface-100-900;
	@apply text-[0.5em] opacity-50 no-underline uppercase;
	@apply block text-right p-1;
}
