---
import { SwatchBookIcon } from 'lucide-react';
---

<div class="card p-4 w-full bg-brand-light dark:bg-brand-light text-brand-contrast-light dark:text-brand-contrast-dark">
	<div class="flex justify-center items-center gap-2">
		<SwatchBookIcon className="size-4" />
		<span>Brand Color</span>
	</div>
</div>
