<div class="card p-8 preset-outlined-surface-200-800 space-y-4">
	<p class="text-center opacity-60">A visual preview of each pairing.</p>
	<!-- Visualized -->
	<div class="w-full grid grid-cols-6 grid-rows-2">
		<div class="bg-primary-500 row-span-3 flex items-center justify-center py-2 mr-2">
			<strong class="text-primary-contrast-500 text-center text-sm">500<br />Brand</strong>
		</div>
		<div class="col-span-5 grid grid-cols-5 gap-2">
			<div class="bg-primary-400 flex items-center justify-center py-2">
				<strong class="text-primary-contrast-400 text-sm">400</strong>
			</div>
			<div class="bg-primary-300 flex items-center justify-center py-2">
				<strong class="text-primary-contrast-300 text-sm">300</strong>
			</div>
			<div class="bg-primary-200 flex items-center justify-center py-2">
				<strong class="text-primary-contrast-200 text-sm">200</strong>
			</div>
			<div class="bg-primary-100 flex items-center justify-center py-2">
				<strong class="text-primary-contrast-100 text-sm">100</strong>
			</div>
			<div class="bg-primary-50 flex items-center justify-center py-2">
				<strong class="text-primary-contrast-50 text-sm">50</strong>
			</div>
		</div>
		<div class="col-span-5 grid grid-cols-5 gap-2">
			<div class="bg-primary-600 flex items-center justify-center py-2">
				<strong class="text-primary-contrast-600 text-sm">600</strong>
			</div>
			<div class="bg-primary-700 flex items-center justify-center py-2">
				<strong class="text-primary-contrast-700 text-sm">700</strong>
			</div>
			<div class="bg-primary-800 flex items-center justify-center py-2">
				<strong class="text-primary-contrast-800 text-sm">800</strong>
			</div>
			<div class="bg-primary-900 flex items-center justify-center py-2">
				<strong class="text-primary-contrast-900 text-sm">900</strong>
			</div>
			<div class="bg-primary-950 flex items-center justify-center py-2">
				<strong class="text-primary-contrast-950 text-sm">950</strong>
			</div>
		</div>
	</div>

	<p class="text-center opacity-60">Toggle dark mode and monitor the dynamic reaction.</p>

	<!-- Live Preview -->
	<div class="grid grid-cols-11 grid-rows-2 gap-2">
		<div class="bg-primary-50-950 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-50 dark:text-primary-contrast-950 flex flex-col items-center gap-0 text-xs">
				<span>50</span>
				<span>950</span>
			</strong>
		</div>
		<div class="bg-primary-100-900 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-100 dark:text-primary-contrast-900 flex flex-col items-center gap-0 text-xs">
				<span>100</span>
				<span>900</span>
			</strong>
		</div>
		<div class="bg-primary-200-800 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-200 dark:text-primary-contrast-800 flex flex-col items-center gap-0 text-xs">
				<span>200</span>
				<span>800</span>
			</strong>
		</div>
		<div class="bg-primary-300-700 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-300 dark:text-primary-contrast-700 flex flex-col items-center gap-0 text-xs">
				<span>300</span>
				<span>700</span>
			</strong>
		</div>
		<div class="bg-primary-400-600 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-400 dark:text-primary-contrast-600 flex flex-col items-center gap-0 text-xs">
				<span>400</span>
				<span>600</span>
			</strong>
		</div>

		<div class="bg-primary-500 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-500 flex flex-col items-center gap-0 text-xs underline">500</strong>
		</div>

		<div class="bg-primary-600-400 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-600 dark:text-primary-contrast-400 flex flex-col items-center gap-0 text-xs">
				<span>600</span>
				<span>400</span>
			</strong>
		</div>
		<div class="bg-primary-700-300 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-700 dark:text-primary-contrast-300 flex flex-col items-center gap-0 text-xs">
				<span>700</span>
				<span>300</span>
			</strong>
		</div>
		<div class="bg-primary-800-200 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-800 dark:text-primary-contrast-200 flex flex-col items-center gap-0 text-xs">
				<span>800</span>
				<span>200</span>
			</strong>
		</div>
		<div class="bg-primary-900-100 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-900 dark:text-primary-contrast-100 flex flex-col items-center gap-0 text-xs">
				<span>900</span>
				<span>100</span>
			</strong>
		</div>
		<div class="bg-primary-950-50 flex items-center justify-center py-2">
			<strong class="text-primary-contrast-950 dark:text-primary-contrast-50 flex flex-col items-center gap-0 text-xs">
				<span>950</span>
				<span>50</span>
			</strong>
		</div>

		<div class="border-primary-500 col-span-5 flex items-center justify-center border-t-[3px]">Based on mode</div>
		<div class="border-primary-500 flex items-center justify-center border-t-[3px]">Static</div>
		<div class="border-primary-500 col-span-5 flex items-center justify-center border-t-[3px]">Based on mode</div>
	</div>
</div>
