---
import { ChevronRightIcon, CogIcon, HouseIcon } from 'lucide-react';
---

<ol class="flex items-center gap-4">
	<li>
		<a class="opacity-60 hover:opacity-100" href="#">
			<HouseIcon size={24} />
		</a>
	</li>
	<li class="opacity-50" aria-hidden>
		<ChevronRightIcon size={14} />
	</li>
	<li>
		<a class="opacity-60 hover:opacity-100" href="#">
			<CogIcon size={24} />
		</a>
	</li>
	<li class="opacity-50" aria-hidden>
		<ChevronRightIcon size={14} />
	</li>
	<li>Current</li>
</ol>
