---
import { getRelativeDocsUrl } from '@/modules/framework';

const props = Astro.props;

const isExternal = !props.href.includes(import.meta.env.SITE) && !props.href.startsWith('/') && !props.href.startsWith('#');

if (isExternal) {
	props.target = '_blank';
	props.rel = 'noopener noreferrer';
}

if (!isExternal && props.href.startsWith('/docs')) {
	const docId = props.href.replace('/docs/', '');
	props.href = getRelativeDocsUrl(Astro, docId);
}
---

<a class="anchor inline-flex items-center gap-1" {...props}>
	<slot />
</a>
