---
import { unescape } from 'html-escaper';
import Code from '@/components/ui/code.svelte';
---

{
	Astro.props.className ? (
		<div class="mb-2">
			<Code code={unescape(await Astro.slots.render('default'))} lang={Astro.props.className.split('-').pop()} client:visible />
		</div>
	) : (
		<code class="code">
			<slot />
		</code>
	)
}
