@import 'tailwindcss';
@plugin "@tailwindcss/forms";

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton-react';
@import '@skeletonlabs/skeleton/themes/catppuccin';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '@skeletonlabs/skeleton/themes/concord';
@import '@skeletonlabs/skeleton/themes/crimson';
@import '@skeletonlabs/skeleton/themes/fennec';
@import '@skeletonlabs/skeleton/themes/hamlindigo';
@import '@skeletonlabs/skeleton/themes/legacy';
@import '@skeletonlabs/skeleton/themes/mint';
@import '@skeletonlabs/skeleton/themes/modern';
@import '@skeletonlabs/skeleton/themes/mona';
@import '@skeletonlabs/skeleton/themes/nosh';
@import '@skeletonlabs/skeleton/themes/nouveau';
@import '@skeletonlabs/skeleton/themes/pine';
@import '@skeletonlabs/skeleton/themes/reign';
@import '@skeletonlabs/skeleton/themes/rocket';
@import '@skeletonlabs/skeleton/themes/rose';
@import '@skeletonlabs/skeleton/themes/sahara';
@import '@skeletonlabs/skeleton/themes/seafoam';
@import '@skeletonlabs/skeleton/themes/terminus';
@import '@skeletonlabs/skeleton/themes/vintage';
@import '@skeletonlabs/skeleton/themes/vox';
@import '@skeletonlabs/skeleton/themes/wintry';

/* Set Selector dark mode strategy */
@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

/* Global Styles */

html {
	scroll-behavior: smooth;
}

/* Local Utilities --- */

.flex-centered {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* https://stackoverflow.com/a/13996191 */
.bg-noise {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
	background-blend-mode: overlay;
}

/* Astro Components --- */

.astro-code {
	border-radius: var(--radius-container);
	padding: --spacing(4);
}

/* Theme Enhancements --- */

/* Homepage Gradients */
.gradient-homepage-one {
	background-size: cover;
	/* prettier-ignore */
	background-image:
		radial-gradient(at 24% 25%, color-mix(in oklab, var(--color-primary-500) 30%, transparent) 0px, transparent 30%),
		radial-gradient(at 35% 13%, color-mix(in oklab, var(--color-success-500) 18%, transparent) 0px, transparent 30%),
		radial-gradient(at 100% 64%, color-mix(in oklab, var(--color-error-500) 3%, transparent) 0px, transparent 40%);
}
.gradient-homepage-two {
	background-size: cover;
	/* prettier-ignore */
	background-image:
		radial-gradient(at 25% 40%, color-mix(in oklab, var(--color-primary-500) 10%, transparent) 0px, transparent 35%),
		radial-gradient(at 100% 58%, color-mix(in oklab, var(--color-success-500) 5%, transparent) 0px, transparent 35%);
}

/* Inner Page Gradient */
/*
[data-theme='concord'],
[data-theme='reign'],
[data-theme='terminus'],
[data-theme='vox'],
*/
[data-theme='catppuccin'],
[data-theme='cerberus'],
[data-theme='crimson'],
[data-theme='fennec'],
[data-theme='hamlindigo'],
[data-theme='legacy'],
[data-theme='mint'],
[data-theme='modern'],
[data-theme='nouveau'],
[data-theme='mona'],
[data-theme='nosh'],
[data-theme='pine'],
[data-theme='rose'],
[data-theme='sahara'],
[data-theme='seafoam'],
[data-theme='vintage'],
[data-theme='wintry'] {
	& body {
		background-attachment: fixed;
		/* prettier-ignore */
		background-image:
		radial-gradient(at 0% 25%, color-mix(in oklab, var(--color-primary-500) 10%, transparent) 0px, transparent 30%),
		radial-gradient(at 15% 06%, color-mix(in oklab, var(--color-success-500) 5%, transparent) 0px, transparent 30%);
	}
}

/* Filled Cards */
.card-filled-enhanced {
	border-radius: var(--radius-container);
	background-color: var(--color-primary-500);
	color: var(--color-primary-contrast-500);
}

/* Linker */
/* Prominent link elements for MDX pages */

.linker {
	border-radius: var(--radius-container);
	display: flex;
	justify-content: center;
	padding-inline: --spacing(4);
	padding-block: --spacing(10);
	background-color: var(--color-primary-500);
	color: var(--color-primary-contrast-500);
}

/* Floating UI */
/* https://floating-ui.com/docs/tutorial#making-the-tooltip-float */
/* https://floating-ui-svelte.vercel.app/docs/getting-started */

.floating {
	width: max-content;
	position: absolute;
	top: 0;
	left: 0;
}

/* useTransition - https://floating-ui.com/docs/useTransition#usetransitionstatus */
.floating {
	transition-property: opacity;
}
.floating[data-status='open'],
.floating[data-status='close'] {
	transition-duration: 250ms;
}
.floating[data-status='initial'],
.floating[data-status='close'] {
	opacity: 0;
}

/* Carbon Ad Styles */

#carbonads {
	background-color: var(--color-surface-50-950);
	border-width: 1px;
	border-color: var(--color-surface-200-800);
}
#carbonads .carbon-wrap {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: --spacing(3);
}
#carbonads .carbon-text {
	font-size: 11px;
	padding: --spacing(1);
	text-decoration-line: none;
	opacity: 0.75;
}
#carbonads .carbon-poweredby {
	display: block;
	background-color: var(--color-surface-100-900);
	color: var(--color-surface-600-400);
	font-size: 10px;
	padding: --spacing(1);
	text-align: right;
	text-transform: uppercase;
}
