---
import "@styles/app.css";

interface Props {
  title?: string;
  classList?: string;
}

const {
  title = 'The UI toolkit',
  classList
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Skeleton - {title}</title>
  </head>
  <body class:list={[classList]} data-theme="">
    <div style="display: contents" class="h-full overflow-hidden">
      <slot />
    </div>
  </body>
</html>
