---
import "@styles/app.css";

interface Props {
  title?: string;
  classList?: string;
}

const {
  title,
  classList
} = Astro.props;
---

<!doctype html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} - ` : null}Skeleton</title>
  </head>
  <!-- class:list={[classList]} -->
  <body data-theme="next">
    <slot />
  </body>
</html>
