---
import LayoutRoot from "@lib/layouts/LayoutRoot.astro";
import AppHeader from "@lib/components/AppHeader/AppHeader.astro";
---

<LayoutRoot>
    <!-- Page Header -->
    <AppHeader />
    <!-- Page -->
    <main class="container mx-auto p-10 space-y-4">
        <h1 class="h1">Hello, Skeleton 👋</h1>
        <p>Welcome to the future home of the Skeleton documentation website.</p>
        <a href="/docs/introduction" class="btn preset-filled">Get Started &rarr;</a>
    </main>
</LayoutRoot>
