---
import { Icon } from 'astro-icon/components';
import { ChevronRight as IconChevron } from 'lucide-react';
// import { socialLinks } from 'src/stores/social-links';
// Components
import LayoutRoot from '@layouts/LayoutRoot.astro';
import Header from '@components/docs/Header.astro';
import Footer from '@components/docs/Footer.astro';
import NavGrid from '@components/docs/NavGrid.astro';

const layoutProps = {
	classList: 'grid grid-rows-[auto_1fr_auto] gap-10'
};
---

<LayoutRoot {...layoutProps}>
	<!-- Header -->
	<Header />

	<!-- Main -->
	<main class="container mx-auto space-y-20 px-4">
		<!-- Hero -->
		<section class="mx-auto space-y-10 text-center">
			<!-- News -->
			<a
				class="btn preset-outlined-primary-500 hover:preset-tonal text-primary-500 rounded-full"
				href="https://github.com/skeletonlabs/skeleton/discussions/2681"
				target="_blank"
			>
				<span class="border-r border-surface-200-800 pr-4">🎉</span>
				<span>Introducing the v3 Pre-Release</span>
				<IconChevron className="size-4" />
			</a>
			<!-- Mascot -->
			<Icon name="skeleton-full" class="size-32 mx-auto mb-10" />
			<div class="space-y-8">
				<!-- Text -->
				<h1 class="heading-font-family text-4xl md:text-6xl font-semibold text-balance max-w-[800px] mx-auto">
					An adaptive interface design system for Tailwind.
				</h1>
				<p class="mx-auto max-w-[800px] text-balance text-surface-800-200">
					Skeleton integrates with Tailwind to provide opinionated solutions for themes, colors, typography and more. Including easy to use
					components for your favorite web frameworks.
				</p>
				<!-- Buttons -->
				<nav class="flex justify-center gap-4">
					<a href="/docs/get-started/introduction" class="btn preset-filled">
						<span>Get Started</span>
						<IconChevron className="size-4" />
					</a>
					<a
						href=" https://github.com/skeletonlabs/skeleton"
						target="_blank"
						class="btn preset-outlined-surface-200-800 hover:preset-tonal"
					>
						<Icon name="github" size={18} />
						<span>GitHub</span>
					</a>
				</nav>
				<!-- Tech Icons -->
				<nav class="flex justify-center gap-8">
					<a href="https://tailwindcss.com/" target="_blank"><Icon name="tailwind" size={40} /></a>
					<a href="https://svelte.dev/" target="_blank"><Icon name="svelte" size={40} /></a>
					<a href="https://react.dev/" target="_blank"><Icon name="react" size={40} /></a>
				</nav>
			</div>
		</section>

		<!-- Design System -->
		<section class="mx-auto space-y-8 text-center">
			<div>
				<h2 class="h2">The Design System</h2>
				<p>Learn more about core features of Skeleton.</p>
			</div>
			<NavGrid collection="docs" path="design/" classes="grid-cols-1 md:grid-cols-2 xl:grid-cols-3" />
		</section>

		<!-- Components -->
		<section class="mx-auto space-y-8 text-center">
			<div>
				<h2 class="h2">Components</h2>
				<p>Skeleton provides two categories of components.</p>
			</div>
			<section class="card border border-surface-200-800 p-10 grid grid-cols-1 xl:grid-cols-[1fr_auto_1fr] gap-4">
				<!-- Tailwind -->
				<div class="mx-auto space-y-8 text-center">
					<div>
						<h3 class="h4">Tailwind</h3>
						<p>Common visual interfaces, such as buttons, that use Tailwind utility classes.</p>
					</div>
					<a href="/docs/tailwind/badges" class="btn preset-outlined-surface-200-800 hover:preset-tonal">
						<span>Explore Components</span>
						<IconChevron className="size-4" />
					</a>
				</div>
				<!-- Divider -->
				<div class="hidden xl:vr"></div>
				<!-- Framework -->
				<div class="mx-auto space-y-8 text-center">
					<div>
						<h3 class="h4">Framework-Specific</h3>
						<p>Functional components that directly integrate the design system.</p>
					</div>
					<a href="/docs/components/accordion/react" class="btn preset-outlined-surface-200-800 hover:preset-tonal">
						<span>Explore Components</span>
						<IconChevron className="size-4" />
					</a>
				</div>
			</section>
		</section>

		<!-- Social -->
		<!-- <section class="mx-auto space-y-8 text-center">
			<div>
				<h2 class="h2">Stay In Touch</h2>
				<p>Reach out and connect on these social network platforms.</p>
			</div>
			<nav class="flex justify-center gap-8">
				{
					socialLinks.get().map((l) => (
						<a href={l.href} target="_blank" title={l.label}>
							<Icon name={l.icon} size={32} />
						</a>
					))
				}
			</nav>
		</section> -->
	</main>

	<!-- Footer -->
	<Footer />
</LayoutRoot>
