---
import LayoutDocs from "@lib/layouts/LayoutDocs.astro";
---

<LayoutDocs>
	<div class="space-y-4">
		<h1 class="h1">Hello, Skeleton 👋</h1>
		<p>Welcome to the future home of the Skeleton documentation website.</p>
	</div>
</LayoutDocs>
