---
import { PersonStandingIcon, BookOpenIcon, CodeIcon, BlocksIcon, FileTextIcon } from 'lucide-react';

// Props
const { frontmatter, urls } = Astro.props;
---

<div class="flex flex-wrap gap-2 overflow-x-auto pb-2">
	{
		frontmatter.srcCore && (
			<a class="chip preset-filled-surface-200-800" href={urls.githubSkeletonUrl + frontmatter.srcCore} target="_blank">
				<CodeIcon size={16} />
				<span>Source</span>
			</a>
		)
	}
	{
		frontmatter.srcCss && (
			<a class="chip preset-filled-surface-200-800" href={`${urls.githubSkeletonCommon + frontmatter.srcCss}.ts`} target="_blank">
				<CodeIcon size={16} />
				<span>CSS</span>
			</a>
		)
	}
	{
		frontmatter.srcReact && (
			<a class="chip preset-filled-surface-200-800" href={urls.githubReactUrl + frontmatter.srcReact} target="_blank">
				<CodeIcon size={16} />
				<span>React</span>
			</a>
		)
	}
	{
		frontmatter.srcSvelte && (
			<a class="chip preset-filled-surface-200-800" href={urls.githubSvelteUrl + frontmatter.srcSvelte} target="_blank">
				<CodeIcon size={16} />
				<span>Svelte</span>
			</a>
		)
	}
	{
		frontmatter.showDocsUrl && (
			<a
				class="chip preset-filled-surface-200-800"
				href={urls.githubDocsUrl + Astro.url.pathname.replace(/\/$/, '') + '.mdx'}
				target="_blank"
			>
				<BookOpenIcon size={16} />
				<span>Doc</span>
			</a>
		)
	}
	{
		frontmatter.srcAlly && (
			<a class="chip preset-filled-surface-200-800" href={frontmatter.srcAlly} target="_blank">
				<PersonStandingIcon size={16} />
				<span>A11y</span>
			</a>
		)
	}
	{
		frontmatter.srcZag && (
			<a class="chip preset-filled-surface-200-800" href={frontmatter.srcZag} target="_blank">
				<BlocksIcon size={16} />
				<span>API</span>
			</a>
		)
	}

	<!-- LLM.txt anchor -->
	<a class="chip preset-filled-surface-200-800" href={`${Astro.url.pathname}/llms.txt`}>
		<FileTextIcon size={16} />
		<span>LLM.txt</span>
	</a>
</div>
