---
import { socialLinks } from '@/lib/social-links';

const { classList = 'p-4' } = Astro.props;
---

<footer class:list={['border-t-[1px] border-surface-500/20', classList]}>
	<div class="container mx-auto flex flex-col xl:flex-row justify-between items-center gap-4">
		<div class="flex items-center gap-4">
			<!-- <Icon name="skeleton" size={20} /> -->
			<p class="text-xs opacity-60">
				Built by <a class="underline" href="https://www.skeletonlabs.co/" target="_blank">Skeleton Labs</a> and the
				<a href="https://github.com/skeletonlabs/skeleton/graphs/contributors" target="_blank" class="underline">Skeleton community</a>.
			</p>
		</div>
		<!-- Social -->
		<nav class="flex items-center">
			{
				socialLinks.map(({ href, label, Icon }) => (
					<a class="btn-icon hover:preset-tonal" href={href} target="_blank" title={label} aria-label={label}>
						<Icon class="size-5" />
					</a>
				))
			}
		</nav>
	</div>
</footer>
