---
import { getActiveFramework } from '@/modules/get-active-framework';
import { getCollection } from 'astro:content';

const frameworks = await getCollection('frameworks');
const activeFramework = await getActiveFramework(Astro);
---

<nav id="framework-select" class="select w-fit">
	{
		frameworks.map((framework) => (
			<a
				class="btn preset-outlined aria-[current=page]:preset-filled"
				href={Astro.url.pathname.replace(activeFramework.id, framework.id)}
				aria-current={activeFramework.id === framework.id ? 'page' : undefined}
			>
				{framework.data.name}
			</a>
		))
	}
</nav>
