---
import { getActiveFramework } from '@/modules/get-active-framework';
import { type CollectionEntry } from 'astro:content';

interface Props {
	id: CollectionEntry<'frameworks'>['id'];
}

const { id } = Astro.props;

const framework = await getActiveFramework(Astro);
---

<div class={framework.id === id ? 'contents' : 'hidden'}>
	<slot />
</div>
