---
import { getActiveFramework } from '@/modules/framework';
import { type CollectionEntry } from 'astro:content';

interface Props {
	id: CollectionEntry<'frameworks'>['id'];
}

const { id } = Astro.props;

const framework = getActiveFramework(Astro.params);
---

<div class="contents">
	{framework.id === id && <slot />}
</div>
