---
import Skeleton from '@/assets/branding/skeleton.svg';
import FrameworkSelect from '@/components/ui/framework-select.astro';

const links = [
	{ href: '/docs/get-started/introduction', title: 'Docs' },
	{ href: '/news', title: 'News' },
	{ href: '/showcase', title: 'Showcase' },
	{ href: 'https://themes.skeleton.dev/', title: 'Themes', target: '_blank' },
	{ href: '/figma', title: 'Figma' },
];
---

<header
	class="z-50 sticky top-0 border border-surface-100-900/30 bg-surface-50-950/75 backdrop-blur-lg h-(--header-height) flex items-center"
>
	<div class="container mx-auto px-4 flex items-center justify-between gap-4">
		<nav class="flex justify-center items-center gap-4">
			<a class="hidden xl:inline-block" href="/" title="Skeleton">
				<Skeleton class="size-6 fill-current" />
			</a>
			<div class="hidden xl:flex items-center">
				{
					links.map((link) => (
						<a class="btn btn-sm hover:preset-tonal text-sm" href={link.href} target={link.target}>
							{link.title}
						</a>
					))
				}
			</div>
		</nav>
		<FrameworkSelect />
	</div>
</header>

<style is:global>
	@reference "../../app.css";

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		scroll-margin-top: calc(var(--header-height) + --spacing(4));
	}
</style>
