---
import { getRelativeDocsUrl } from '@/modules/framework';
import { commonSections, type Section } from '@/modules/navigation';
import { removeTrailingSlash } from '@/modules/normalize-path';

interface Props {
	sections?: Section[];
}

const { sections = commonSections } = Astro.props;
---

<div class="text-sm grid gap-10">
	{
		sections.map(async (section) => (
			<nav class="flex flex-col gap-2">
				<span class="text-[12px] font-bold ml-2 text-surface-600-400 uppercase">{section.label}</span>
				<ul class="flex flex-col gap-1">
					{section.items.map((doc) => (
						<li>
							<a
								href={getRelativeDocsUrl(Astro, doc.id)}
								title={doc.data.title}
								class="btn hover:preset-tonal aria-[current=page]:preset-tonal flex justify-between items-center px-2"
								aria-current={removeTrailingSlash(Astro.url.pathname) === getRelativeDocsUrl(Astro, doc.id) ? 'page' : 'false'}
							>
								<span class="text-sm">{doc.data.title}</span>
								{doc.data.stability !== 'stable' && (
									<span class="no-underline preset-tonal-primary text-xs px-1 capitalize rounded">{doc.data.stability}</span>
								)}
							</a>
						</li>
					))}
				</ul>
			</nav>
		))
	}
</div>
