---
import { resolvePath } from '@/modules/resolve-path';
import { ArrowLeftIcon, ArrowRightIcon } from '@lucide/svelte';
import type { CollectionEntry } from 'astro:content';

interface Props {
	previousDoc?: CollectionEntry<'docs'>;
	nextDoc?: CollectionEntry<'docs'>;
}

const { previousDoc, nextDoc } = Astro.props;
---

<nav class="mt-10 grid grid-cols-2 gap-4">
	<!-- Button: Prev -->
	{
		previousDoc && (
			<a
				href={resolvePath(Astro, `/docs/[framework]/${previousDoc.id}`)}
				class="btn justify-start py-6 preset-tonal border border-surface-200-800 col-start-1"
			>
				<ArrowLeftIcon />
				<div>
					<p class="text-sm opacity-60">Previous</p>
					<p class="text-xs md:text-xl">{previousDoc.data.title}</p>
				</div>
			</a>
		)
	}
	<!-- Button: Next -->
	{
		nextDoc && (
			<a
				href={resolvePath(Astro, `/docs/[framework]/${nextDoc.id}`)}
				class="btn justify-end py-6 preset-tonal border border-surface-200-800 col-start-2"
			>
				<div class="text-right">
					<p class="text-sm opacity-60">Next</p>
					<p class="text-xs md:text-xl">{nextDoc.data.title}</p>
				</div>
				<ArrowRightIcon />
			</a>
		)
	}
</nav>
