---
import { ArrowLeftIcon, ArrowRightIcon } from '@lucide/svelte';
---

<!--
TIP: use col-start-* to add gap when you need to "disable" the left/prev button.
https://tailwindcss.com/docs/grid-column#starting-and-ending-lines
-->
<nav class="mt-10 grid grid-cols-2 gap-4">
	<!-- Button: Prev -->
	<a href="/#" class="btn justify-start py-6 preset-tonal border border-surface-200-800">
		<ArrowLeftIcon />
		<div>
			<p class="text-sm opacity-60">Previous</p>
			<p class="text-xl">ContentTitleHere</p>
		</div>
	</a>
	<!-- Button: Next -->
	<a href="/#" class="btn justify-end py-6 preset-tonal border border-surface-200-800">
		<div class="text-right">
			<p class="text-sm opacity-60">Next</p>
			<p class="text-xl">ContentTitleHere</p>
		</div>
		<ArrowRightIcon />
	</a>
</nav>
