---
import type { MarkdownHeading } from 'astro';

interface Props {
	headings: MarkdownHeading[];
}

const { headings } = Astro.props;

function getMarginFromDepth(depth: number) {
	return {
		3: 'ml-4',
		4: 'ml-6',
		5: 'ml-8',
		6: 'ml-10',
	}[depth];
}
---

{
	headings.length > 0 && (
		<div class="flex flex-col gap-2">
			<span class="font-bold">On This Page</span>
			<nav class="text-sm flex flex-col gap-2">
				<a href="#" class="anchor block">
					Overview
				</a>
				{headings.map((heading) => (
					<a href={`#${heading.slug}`} class={`anchor block ${getMarginFromDepth(heading.depth)}`}>
						{heading.text}
					</a>
				))}
				<svg xmlns="http://www.w3.org/2000/svg" id="toc-svg">
					<path id="toc-svg-path" fill="transparent" stroke-width="2" stroke="black" stroke-linecap="round" />
				</svg>
			</nav>
		</div>
	)
}
