---
import type { MarkdownHeading } from 'astro';

interface Props {
	headings: MarkdownHeading[];
}

const { headings } = Astro.props;

function getMarginFromDepth(depth: number) {
	return {
		3: 'ml-4',
		4: 'ml-6',
		5: 'ml-8',
		6: 'ml-10',
	}[depth];
}
---

{
	headings.length > 0 && (
		<nav class="text-sm flex flex-col gap-2">
			<span class="font-bold">On This Page</span>
			<ul class="flex flex-col gap-2">
				<li>
					<a href="#" class="anchor block">
						Overview
					</a>
				</li>
				{headings.map((heading) => (
					<li>
						<a href={`#${heading.slug}`} class={`anchor block ${getMarginFromDepth(heading.depth)}`}>
							{heading.text}
						</a>
					</li>
				))}
			</ul>
		</nav>
	)
}
