---
import type { MarkdownHeading } from 'astro';

interface Props {
	headings: MarkdownHeading[];
}

const { headings } = Astro.props;

function getMarginFromDepth(depth: number) {
	if (depth === 3) {
		return 'ml-4';
	}
	if (depth === 4) {
		return 'ml-6';
	}
	if (depth === 5) {
		return 'ml-8';
	}
	if (depth === 6) {
		return 'ml-10';
	}
	return;
}
---

{
	headings.length > 0 && (
		<nav class="text-sm flex flex-col gap-2">
			<span class="font-bold">On This Page</span>
			<ul class="flex flex-col gap-2">
				<li>
					<a href="#" class="anchor block">
						Overview
					</a>
				</li>
				{headings.map((heading) => (
					<li>
						<a href={`#${heading.slug}`} class={`anchor block ${getMarginFromDepth(heading.depth)}`}>
							{heading.text}
						</a>
					</li>
				))}
			</ul>
		</nav>
	)
}
