---
import Layout from '@layouts/Layout.astro';

const imgSrc =
	'https://images.unsplash.com/photo-1463171515643-952cee54d42a?q=80&w=450&h=190&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D';
---

<Layout>
	<div class="space-y-10">
		<section class="space-y-10">
			<header><h1 class="h1">Cards</h1></header>
		</section>
		<!-- Basic -->
		<section class="space-y-4">
			<div class="card preset-filled-surface-100-900 p-4 text-center">
				<p>Card</p>
			</div>
		</section>
		<!-- Ringed -->
		<section class="space-y-4">
			<h2 class="h2">Ringed</h2>
			<div class="card preset-filled-surface-100-900 ring-[1px] ring-surface-200-800 p-4 text-center">
				<p>Card</p>
			</div>
		</section>
		<!-- Presets -->
		<section class="space-y-4">
			<h2 class="h2">Presets</h2>
			<div class="space-y-4">
				<div class="grid grid-cols-3 gap-4">
					<div class="card p-4 preset-filled-primary-500">Card</div>
					<div class="card p-4 preset-tonal-primary">Card</div>
					<div class="card p-4 preset-outlined-primary-500">Card</div>
					<!-- --- -->
					<div class="card p-4 preset-filled-secondary-500">Card</div>
					<div class="card p-4 preset-tonal-secondary">Card</div>
					<div class="card p-4 preset-outlined-secondary-500">Card</div>
					<!-- --- -->
					<div class="card p-4 preset-filled-tertiary-500">Card</div>
					<div class="card p-4 preset-tonal-tertiary">Card</div>
					<div class="card p-4 preset-outlined-tertiary-500">Card</div>
					<!-- --- -->
					<div class="card p-4 preset-filled-success-500">Card</div>
					<div class="card p-4 preset-tonal-success">Card</div>
					<div class="card p-4 preset-outlined-success-500">Card</div>
					<!-- --- -->
					<div class="card p-4 preset-filled-warning-500">Card</div>
					<div class="card p-4 preset-tonal-warning">Card</div>
					<div class="card p-4 preset-outlined-warning-500">Card</div>
					<!-- --- -->
					<div class="card p-4 preset-filled-error-500">Card</div>
					<div class="card p-4 preset-tonal-error">Card</div>
					<div class="card p-4 preset-outlined-error-500">Card</div>
					<!-- --- -->
					<div class="card p-4 preset-filled-surface-500">Card</div>
					<div class="card p-4 preset-tonal-surface">Card</div>
					<div class="card p-4 preset-outlined-surface-500">Card</div>
				</div>
			</div>
		</section>
		<!-- Fancy -->
		<section class="space-y-4">
			<h2 class="h2">Fancy</h2>
			<a href="#" class="block card card-hover preset-filled-surface-100-900 ring-[1px] ring-surface-200-800 max-w-md overflow-hidden">
				{/* Header */}
				<header class="p-4">
					<img src={imgSrc} class="aspect-[21/9] w-full grayscale hue-rotate-90 rounded-container" alt="banner" />
				</header>
				{/* Article */}
				<article class="space-y-4 p-4">
					<h2 class="text-sm font-bold">Announcements</h2>
					<h3 class="h2">This card is quite fancy.</h3>
					<p class="opacity-60">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aspernatur provident eveniet eligendi cumque consequatur
						tempore sint nisi sapiente. Iste beatae laboriosam iure molestias cum expedita architecto itaque quae rem.
					</p>
				</article>
				{/* Footer */}
				<footer class="flex items-center justify-between gap-4 p-4">
					<small class="text-xs opacity-60">By Alex</small>
					<small class="text-xs opacity-60">On {new Date().toLocaleDateString()}</small>
				</footer>
			</a>
		</section>
	</div>
</Layout>
