<form class="mx-auto w-full max-w-md space-y-4">
	<input type="text" class="input" placeholder="Enter name" />

	<label class="label">
		<span class="label-text">Number</span>
		<input type="number" class="input" placeholder="Enter Age" />
	</label>

	<label class="label">
		<span class="label-text">Password</span>
		<input type="password" class="input" placeholder="Enter Password" />
	</label>

	<label class="label">
		<span class="label-text">Phone Number</span>
		<input type="tel" class="input" placeholder="ex: 214-555-1234" />
	</label>

	<label class="label">
		<span class="label-text">Search</span>
		<input type="search" class="input" placeholder="Search..." />
	</label>
</form>
