<section class="grid gap-4">
	<!-- Featured -->
	<header>
		<img class="bg-surface-500 rounded-container h-auto max-w-full" src="https://picsum.photos/960/512?random=1" />
	</header>
	<!-- Row -->
	<div class="grid grid-cols-5 gap-4">
		<img class="bg-surface-500 rounded-container h-full w-full" src="https://picsum.photos/200/200?random=2" />
		<img class="bg-surface-500 rounded-container h-full w-full" src="https://picsum.photos/200/200?random=3" />
		<img class="bg-surface-500 rounded-container h-full w-full" src="https://picsum.photos/200/200?random=4" />
		<img class="bg-surface-500 rounded-container h-full w-full" src="https://picsum.photos/200/200?random=5" />
		<img class="bg-surface-500 rounded-container h-full w-full" src="https://picsum.photos/200/200?random=6" />
	</div>
</section>
