<div class="w-full space-y-2">
	<div class="grid grid-cols-2 gap-2">
		{/* Neutral */}
		<div class="card p-2 text-center preset-filled">(neutral)</div>
		{/* Brand */}
		<div class="card p-2 text-center preset-filled-brand">Brand</div>
	</div>

	<hr class="hr" />

	{/* Color Pairings */}
	<div class="grid grid-cols1 md:grid-cols-3 2xl:grid-cols-7 gap-2">
		<div class="space-y-2">
			<div class="card p-2 text-center preset-filled-primary-950-50">950-50</div>
			<div class="card p-2 text-center preset-filled-primary-900-100">900-100</div>
			<div class="card p-2 text-center preset-filled-primary-800-200">800-200</div>
			<div class="card p-2 text-center preset-filled-primary-700-300">700-300</div>
			<div class="card p-2 text-center preset-filled-primary-600-400">600-400</div>
			<div class="card p-2 text-center preset-filled-primary-500">500</div>
			<div class="card p-2 text-center preset-filled-primary-400-600">400-600</div>
			<div class="card p-2 text-center preset-filled-primary-300-700">300-700</div>
			<div class="card p-2 text-center preset-filled-primary-200-800">200-800</div>
			<div class="card p-2 text-center preset-filled-primary-100-900">100-900</div>
			<div class="card p-2 text-center preset-filled-primary-50-950">50-950</div>
		</div>
		<div class="space-y-2">
			<div class="card p-2 text-center preset-filled-secondary-950-50">950-50</div>
			<div class="card p-2 text-center preset-filled-secondary-900-100">900-100</div>
			<div class="card p-2 text-center preset-filled-secondary-800-200">800-200</div>
			<div class="card p-2 text-center preset-filled-secondary-700-300">700-300</div>
			<div class="card p-2 text-center preset-filled-secondary-600-400">600-400</div>
			<div class="card p-2 text-center preset-filled-secondary-500">500</div>
			<div class="card p-2 text-center preset-filled-secondary-400-600">400-600</div>
			<div class="card p-2 text-center preset-filled-secondary-300-700">300-700</div>
			<div class="card p-2 text-center preset-filled-secondary-200-800">200-800</div>
			<div class="card p-2 text-center preset-filled-secondary-100-900">100-900</div>
			<div class="card p-2 text-center preset-filled-secondary-50-950">50-950</div>
		</div>
		<div class="space-y-2">
			<div class="card p-2 text-center preset-filled-tertiary-950-50">950-50</div>
			<div class="card p-2 text-center preset-filled-tertiary-900-100">900-100</div>
			<div class="card p-2 text-center preset-filled-tertiary-800-200">800-200</div>
			<div class="card p-2 text-center preset-filled-tertiary-700-300">700-300</div>
			<div class="card p-2 text-center preset-filled-tertiary-600-400">600-400</div>
			<div class="card p-2 text-center preset-filled-tertiary-500">500</div>
			<div class="card p-2 text-center preset-filled-tertiary-400-600">400-600</div>
			<div class="card p-2 text-center preset-filled-tertiary-300-700">300-700</div>
			<div class="card p-2 text-center preset-filled-tertiary-200-800">200-800</div>
			<div class="card p-2 text-center preset-filled-tertiary-100-900">100-900</div>
			<div class="card p-2 text-center preset-filled-tertiary-50-950">50-950</div>
		</div>
		<div class="space-y-2">
			<div class="card p-2 text-center preset-filled-success-950-50">950-50</div>
			<div class="card p-2 text-center preset-filled-success-900-100">900-100</div>
			<div class="card p-2 text-center preset-filled-success-800-200">800-200</div>
			<div class="card p-2 text-center preset-filled-success-700-300">700-300</div>
			<div class="card p-2 text-center preset-filled-success-600-400">600-400</div>
			<div class="card p-2 text-center preset-filled-success-500">500</div>
			<div class="card p-2 text-center preset-filled-success-400-600">400-600</div>
			<div class="card p-2 text-center preset-filled-success-300-700">300-700</div>
			<div class="card p-2 text-center preset-filled-success-200-800">200-800</div>
			<div class="card p-2 text-center preset-filled-success-100-900">100-900</div>
			<div class="card p-2 text-center preset-filled-success-50-950">50-950</div>
		</div>
		<div class="space-y-2">
			<div class="card p-2 text-center preset-filled-warning-950-50">950-50</div>
			<div class="card p-2 text-center preset-filled-warning-900-100">900-100</div>
			<div class="card p-2 text-center preset-filled-warning-800-200">800-200</div>
			<div class="card p-2 text-center preset-filled-warning-700-300">700-300</div>
			<div class="card p-2 text-center preset-filled-warning-600-400">600-400</div>
			<div class="card p-2 text-center preset-filled-warning-500">500</div>
			<div class="card p-2 text-center preset-filled-warning-400-600">400-600</div>
			<div class="card p-2 text-center preset-filled-warning-300-700">300-700</div>
			<div class="card p-2 text-center preset-filled-warning-200-800">200-800</div>
			<div class="card p-2 text-center preset-filled-warning-100-900">100-900</div>
			<div class="card p-2 text-center preset-filled-warning-50-950">50-950</div>
		</div>
		<div class="space-y-2">
			<div class="card p-2 text-center preset-filled-error-950-50">950-50</div>
			<div class="card p-2 text-center preset-filled-error-900-100">900-100</div>
			<div class="card p-2 text-center preset-filled-error-800-200">800-200</div>
			<div class="card p-2 text-center preset-filled-error-700-300">700-300</div>
			<div class="card p-2 text-center preset-filled-error-600-400">600-400</div>
			<div class="card p-2 text-center preset-filled-error-500">500</div>
			<div class="card p-2 text-center preset-filled-error-400-600">400-600</div>
			<div class="card p-2 text-center preset-filled-error-300-700">300-700</div>
			<div class="card p-2 text-center preset-filled-error-200-800">200-800</div>
			<div class="card p-2 text-center preset-filled-error-100-900">100-900</div>
			<div class="card p-2 text-center preset-filled-error-50-950">50-950</div>
		</div>
		<div class="space-y-2">
			<div class="card p-2 text-center preset-filled-surface-950-50">950-50</div>
			<div class="card p-2 text-center preset-filled-surface-900-100">900-100</div>
			<div class="card p-2 text-center preset-filled-surface-800-200">800-200</div>
			<div class="card p-2 text-center preset-filled-surface-700-300">700-300</div>
			<div class="card p-2 text-center preset-filled-surface-600-400">600-400</div>
			<div class="card p-2 text-center preset-filled-surface-500">500</div>
			<div class="card p-2 text-center preset-filled-surface-400-600">400-600</div>
			<div class="card p-2 text-center preset-filled-surface-300-700">300-700</div>
			<div class="card p-2 text-center preset-filled-surface-200-800">200-800</div>
			<div class="card p-2 text-center preset-filled-surface-100-900">100-900</div>
			<div class="card p-2 text-center preset-filled-surface-50-950">50-950</div>
		</div>
	</div>
</div>
