<div class="w-full space-y-2">
	<div class="grid grid-cols-2 gap-2">
		<!-- Neutral -->
		<div class="card p-2 text-center preset-outlined">(neutral)</div>
		<!-- Brand -->
		<div class="card p-2 text-center preset-outlined-brand">Brand</div>
	</div>

	<hr class="hr" />

	<!-- Color Pairings -->
	<div class="grid grid-cols1 md:grid-cols-3 2xl:grid-cols-7 gap-2">
		<div class="space-y-2">
			<div class="card p-2 text-center preset-outlined-primary-950-50">950-50</div>
			<div class="card p-2 text-center preset-outlined-primary-900-100">900-100</div>
			<div class="card p-2 text-center preset-outlined-primary-800-200">800-200</div>
			<div class="card p-2 text-center preset-outlined-primary-700-300">700-300</div>
			<div class="card p-2 text-center preset-outlined-primary-600-400">600-400</div>
			<div class="card p-2 text-center preset-outlined-primary-500">500</div>
			<div class="card p-2 text-center preset-outlined-primary-400-600">400-600</div>
			<div class="card p-2 text-center preset-outlined-primary-300-700">300-700</div>
			<div class="card p-2 text-center preset-outlined-primary-200-800">200-800</div>
			<div class="card p-2 text-center preset-outlined-primary-100-900">100-900</div>
			<div class="card p-2 text-center preset-outlined-primary-50-950">50-950</div>
		</div>
		<div class="space-y-2">
			<div class="card p-2 text-center preset-outlined-secondary-950-50">950-50</div>
			<div class="card p-2 text-center preset-outlined-secondary-900-100">900-100</div>
			<div class="card p-2 text-center preset-outlined-secondary-800-200">800-200</div>
			<div class="card p-2 text-center preset-outlined-secondary-700-300">700-300</div>
			<div class="card p-2 text-center preset-outlined-secondary-600-400">600-400</div>
			<div class="card p-2 text-center preset-outlined-secondary-500">500</div>
			<div class="card p-2 text-center preset-outlined-secondary-400-600">400-600</div>
			<div class="card p-2 text-center preset-outlined-secondary-300-700">300-700</div>
			<div class="card p-2 text-center preset-outlined-secondary-200-800">200-800</div>
			<div class="card p-2 text-center preset-outlined-secondary-100-900">100-900</div>
			<div class="card p-2 text-center preset-outlined-secondary-50-950">50-950</div>
		</div>
		<div class="space-y-2">
			<div class="card p-2 text-center preset-outlined-tertiary-950-50">950-50</div>
			<div class="card p-2 text-center preset-outlined-tertiary-900-100">900-100</div>
			<div class="card p-2 text-center preset-outlined-tertiary-800-200">800-200</div>
			<div class="card p-2 text-center preset-outlined-tertiary-700-300">700-300</div>
			<div class="card p-2 text-center preset-outlined-tertiary-600-400">600-400</div>
			<div class="card p-2 text-center preset-outlined-tertiary-500">500</div>
			<div class="card p-2 text-center preset-outlined-tertiary-400-600">400-600</div>
			<div class="card p-2 text-center preset-outlined-tertiary-300-700">300-700</div>
			<div class="card p-2 text-center preset-outlined-tertiary-200-800">200-800</div>
			<div class="card p-2 text-center preset-outlined-tertiary-100-900">100-900</div>
			<div class="card p-2 text-center preset-outlined-tertiary-50-950">50-950</div>
		</div>
		<div class="space-y-2">
			<div class="card p-2 text-center preset-outlined-success-950-50">950-50</div>
			<div class="card p-2 text-center preset-outlined-success-900-100">900-100</div>
			<div class="card p-2 text-center preset-outlined-success-800-200">800-200</div>
			<div class="card p-2 text-center preset-outlined-success-700-300">700-300</div>
			<div class="card p-2 text-center preset-outlined-success-600-400">600-400</div>
			<div class="card p-2 text-center preset-outlined-success-500">500</div>
			<div class="card p-2 text-center preset-outlined-success-400-600">400-600</div>
			<div class="card p-2 text-center preset-outlined-success-300-700">300-700</div>
			<div class="card p-2 text-center preset-outlined-success-200-800">200-800</div>
			<div class="card p-2 text-center preset-outlined-success-100-900">100-900</div>
			<div class="card p-2 text-center preset-outlined-success-50-950">50-950</div>
		</div>
		<div class="space-y-2">
			<div class="card p-2 text-center preset-outlined-warning-950-50">950-50</div>
			<div class="card p-2 text-center preset-outlined-warning-900-100">900-100</div>
			<div class="card p-2 text-center preset-outlined-warning-800-200">800-200</div>
			<div class="card p-2 text-center preset-outlined-warning-700-300">700-300</div>
			<div class="card p-2 text-center preset-outlined-warning-600-400">600-400</div>
			<div class="card p-2 text-center preset-outlined-warning-500">500</div>
			<div class="card p-2 text-center preset-outlined-warning-400-600">400-600</div>
			<div class="card p-2 text-center preset-outlined-warning-300-700">300-700</div>
			<div class="card p-2 text-center preset-outlined-warning-200-800">200-800</div>
			<div class="card p-2 text-center preset-outlined-warning-100-900">100-900</div>
			<div class="card p-2 text-center preset-outlined-warning-50-950">50-950</div>
		</div>
		<div class="space-y-2">
			<div class="card p-2 text-center preset-outlined-error-950-50">950-50</div>
			<div class="card p-2 text-center preset-outlined-error-900-100">900-100</div>
			<div class="card p-2 text-center preset-outlined-error-800-200">800-200</div>
			<div class="card p-2 text-center preset-outlined-error-700-300">700-300</div>
			<div class="card p-2 text-center preset-outlined-error-600-400">600-400</div>
			<div class="card p-2 text-center preset-outlined-error-500">500</div>
			<div class="card p-2 text-center preset-outlined-error-400-600">400-600</div>
			<div class="card p-2 text-center preset-outlined-error-300-700">300-700</div>
			<div class="card p-2 text-center preset-outlined-error-200-800">200-800</div>
			<div class="card p-2 text-center preset-outlined-error-100-900">100-900</div>
			<div class="card p-2 text-center preset-outlined-error-50-950">50-950</div>
		</div>
		<div class="space-y-2">
			<div class="card p-2 text-center preset-outlined-surface-950-50">950-50</div>
			<div class="card p-2 text-center preset-outlined-surface-900-100">900-100</div>
			<div class="card p-2 text-center preset-outlined-surface-800-200">800-200</div>
			<div class="card p-2 text-center preset-outlined-surface-700-300">700-300</div>
			<div class="card p-2 text-center preset-outlined-surface-600-400">600-400</div>
			<div class="card p-2 text-center preset-outlined-surface-500">500</div>
			<div class="card p-2 text-center preset-outlined-surface-400-600">400-600</div>
			<div class="card p-2 text-center preset-outlined-surface-300-700">300-700</div>
			<div class="card p-2 text-center preset-outlined-surface-200-800">200-800</div>
			<div class="card p-2 text-center preset-outlined-surface-100-900">100-900</div>
			<div class="card p-2 text-center preset-outlined-surface-50-950">50-950</div>
		</div>
	</div>
</div>
