<div class="grid grid-cols-2 md:grid-cols-4 gap-10">
	<div class="flex flex-col items-center gap-4">
		<button type="button" class="btn preset-glass-brand">Glass</button>
		<div class="preset-tonal w-8 aspect-square flex justify-center items-center rounded-full">1</div>
	</div>
	<div class="flex flex-col items-center gap-4">
		<button type="button" class="btn preset-filled-surface-100-900 shadow-xl">Elevated</button>
		<div class="preset-tonal w-8 aspect-square flex justify-center items-center rounded-full">2</div>
	</div>
	<div class="flex flex-col items-center gap-4">
		<button type="button" class="btn hover:preset-tonal">Ghost</button>
		<div class="preset-tonal w-8 aspect-square flex justify-center items-center rounded-full">3</div>
	</div>
	<div class="flex flex-col items-center gap-4">
		<button type="button" class="btn preset-gradient-secondary-primary">Gradient</button>
		<div class="preset-tonal w-8 aspect-square flex justify-center items-center rounded-full">4</div>
	</div>
</div>

<style>
	/* TIP: In a real world project you would implement the following in your global stylesheet. */
	.preset-gradient-secondary-primary {
		background-image: linear-gradient(-45deg, var(--color-secondary-500), var(--color-primary-500));
		color: var(--color-primary-contrast-500);
	}
	.preset-glass-brand {
		background: color-mix(in oklab, light-dark(var(--color-brand-light), var(--color-brand-dark)) 40%, transparent);
		box-shadow: 0 0px 30px color-mix(in oklab, light-dark(var(--color-brand-light), var(--color-brand-dark)) 50%, transparent) inset;
		backdrop-filter: blur(16px);
	}
</style>
