{
	"useTabs": true,
	"tabWidth": 4,
	"semi": true,
	"printWidth": 80,
	"singleQuote": true,
	"trailingComma": "all",
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
