/* Base - Globals */
/* Skeleton global styles, enabled by default. */

@layer base {
	:root {
		/* Design Tokens --- */
		/* Defines form field placeholder text styling. */
		--field-placeholder: var(--color-surface-700-300);

		/* Color Scheme --- */
		/* https://tailwindcss.com/docs/color-scheme */
		color-scheme: light;
		@variant dark {
			color-scheme: dark;
		}

		/* Scrollbars --- */
		/* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color */
		/* https://developer.chrome.com/docs/css-ui/scrollbar-styling */
		scrollbar-width: thin;
		scrollbar-color: var(--color-surface-300) transparent; /* thumb / track */
		@variant dark {
			scrollbar-color: var(--color-surface-700) transparent;
		}

		/* Mobile Tap Highlight Color (WebKit only) --- */
		/* IMPORTANT: this is useful for mobile accessibility. */
		/* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color */
		-webkit-tap-highlight-color: color-mix(in oklab, var(--color-surface-50-950) 30%, transparent);
	}

	html {
		/* Background --- */
		background-color: var(--color-root-bg-light);
		@variant dark {
			background-color: var(--color-root-bg-dark);
		}
	}

	body {
		/* Typography --- */
		color: var(--typo-base--color-light);
		font-family: var(--typo-base--font-family);
		font-size: var(--typo-base--font-size);
		line-height: var(--typo-base--line-height);
		font-weight: var(--typo-base--font-weight);
		font-style: var(--typo-base--font-style);
		letter-spacing: var(--typo-base--letter-spacing);
		font-stretch: var(--typo-base--font-stretch);
		font-kerning: var(--typo-base--font-kerning);
		text-shadow: var(--typo-base--text-shadow);
		word-spacing: var(--typo-base--word-spacing);
		hyphens: var(--typo-base--hyphens);
		text-transform: var(--typo-base--text-transform);
		@variant dark {
			color: var(--typo-base--color-dark);
		}
	}

	/* Selection --- */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/::selection */
	::selection {
		background-color: color-mix(in srgb, var(--color-brand-light) 30%, transparent);
		@variant dark {
			background-color: color-mix(in srgb, var(--color-brand-dark) 30%, transparent);
		}
	}

	/* Disabled State --- */
	*:disabled,
	.disabled {
		box-shadow: 0 0 transparent;
		cursor: not-allowed;
		opacity: 0.5;
		& > * {
			pointer-events: none;
		}
	}

	/* Outlines and Focus --- */
	/*
		REMINDER: Never disabled focus and outlines
		as this would be harmful to accessibility!
		Source: http://www.outlinenone.com/

		EXAMPLE: Set a global focus style.
		Apply this in your app's global stylesheet:
		:focus { @apply focus:outline-primary-500; }
	*/
}
