/* Base - Theme */
/* Configure the default @theme settings. */

@use '../constants.scss';

@theme {
	/* Spacing --- */
	/* https://tailwindcss.com/docs/functions-and-directives#spacing-function */
	--spacing: var(--spacing);

	/* Typography --- */
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	/* --- */
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	/* --- */
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;

	/* Backgrounds --- */
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);

	/* Edges --- */
	--radii-default: 6px;
	--radii-container: 6px;
	--border-width-default: 1px;
	--divide-width-default: 1px;
	--outline-width-default: 1px;
	--ring-width-default: 1px;

	/* Colors --- */
	--color-primary-500: #ffffff;
	--color-primary-contrast-500: #ffffff;
	@each $color-name in constants.$color-names {
		@for $i from 0 through 5 {
			$light-shade: nth(constants.$color-shades, $i + 1); // Gets shades 50-400
			$dark-shade: nth(constants.$color-shades, 11 - $i); // Gets shades 950-600

			@if $light-shade != 500 and $dark-shade != 500 {
				--color-#{$color-name}-#{$light-shade}-#{$dark-shade}: light-dark(
					var(--color-#{$color-name}-#{$light-shade}),
					var(--color-#{$color-name}-#{$dark-shade})
				);
			}
		}
	}
}
