<div class="grid grid-cols-[112px_1fr] gap-2 md:gap-4 item-center">
    <div class="bg-primary-500 aspect-square flex justify-center items-center rounded-container">
        <strong class="text-primary-contrast-500 text-sm">500</strong>
    </div>
    <div>
        <div class="grid grid-cols-5 gap-2 md:gap-4">
            <div class="bg-primary-400 py-3 flex justify-center items-center rounded-container">
                <strong class="text-primary-contrast-400 text-sm">L: 400</strong>
            </div>
            <div class="bg-primary-300 py-3 flex justify-center items-center rounded-container">
                <strong class="text-primary-contrast-300 text-sm">L: 300</strong>
            </div>
            <div class="bg-primary-200 py-3 flex justify-center items-center rounded-container">
                <strong class="text-primary-contrast-200 text-sm">L: 200</strong>
            </div>
            <div class="bg-primary-100 py-3 flex justify-center items-center rounded-container">
                <strong class="text-primary-contrast-100 text-sm">L: 100</strong>
            </div>
            <div class="bg-primary-50 py-3 flex justify-center items-center rounded-container">
                <strong class="text-primary-contrast-50 text-sm">L: 50</strong>
            </div>
        </div>
        <div class="grid grid-cols-5 gap-2 md:gap-4">
            <span class="text-center opacity-60">↕</span>
            <span class="text-center opacity-60">↕</span>
            <span class="text-center opacity-60">↕</span>
            <span class="text-center opacity-60">↕</span>
            <span class="text-center opacity-60">↕</span>
        </div>
        <div class="grid grid-cols-5 gap-2 md:gap-4">
            <div class="bg-primary-600 py-3 flex justify-center items-center rounded-container">
                <strong class="text-primary-contrast-600 text-sm">D: 600</strong>
            </div>
            <div class="bg-primary-700 py-3 flex justify-center items-center rounded-container">
                <strong class="text-primary-contrast-700 text-sm">D: 700</strong>
            </div>
            <div class="bg-primary-800 py-3 flex justify-center items-center rounded-container">
                <strong class="text-primary-contrast-800 text-sm">D: 800</strong>
            </div>
            <div class="bg-primary-900 py-3 flex justify-center items-center rounded-container">
                <strong class="text-primary-contrast-900 text-sm">D: 900</strong>
            </div>
            <div class="bg-primary-950 py-3 flex justify-center items-center rounded-container">
                <strong class="text-primary-contrast-950 text-sm">D: 950</strong>
            </div>
        </div>
    </div>
</div>
<hr class="hr" />
{/* Live Preview */}
<div class="grid grid-cols-1 lg:grid-cols-11 gap-2">
    <div class="bg-primary-50-950 py-3 flex justify-center items-center rounded-container">
        <strong class="text-primary-contrast-50 dark:text-primary-contrast-950 text-xs flex flex-col items-center gap-0">
            <span>50</span>
            <span>950</span>
        </strong>
    </div>
    <div class="bg-primary-100-900 py-3 flex justify-center items-center rounded-container">
        <strong class="text-primary-contrast-100 dark:text-primary-contrast-900 text-xs flex flex-col items-center gap-0">
            <span>100</span>
            <span>900</span>
        </strong>
    </div>
    <div class="bg-primary-200-800 py-3 flex justify-center items-center rounded-container">
        <strong class="text-primary-contrast-200 dark:text-primary-contrast-800 text-xs flex flex-col items-center gap-0">
            <span>200</span>
            <span>800</span>
        </strong>
    </div>
    <div class="bg-primary-300-700 py-3 flex justify-center items-center rounded-container">
        <strong class="text-primary-contrast-300 dark:text-primary-contrast-700 text-xs flex flex-col items-center gap-0">
            <span>300</span>
            <span>700</span>
        </strong>
    </div>
    <div class="bg-primary-400-600 py-3 flex justify-center items-center rounded-container">
        <strong class="text-primary-contrast-400 dark:text-primary-contrast-600 text-xs flex flex-col items-center gap-0">
            <span>400</span>
            <span>600</span>
        </strong>
    </div>
    {/* --- */}
    <div class="bg-primary-500 py-3 flex justify-center items-center rounded-container">
        <strong class="text-primary-contrast-500 text-xs flex flex-col items-center gap-0">500</strong>
    </div>
    {/* --- */}
    <div class="bg-primary-600-400 py-3 flex justify-center items-center rounded-container">
        <strong class="text-primary-contrast-600 dark:text-primary-contrast-400 text-xs flex flex-col items-center gap-0">
            <span>600</span>
            <span>400</span>
        </strong>
    </div>
    <div class="bg-primary-700-300 py-3 flex justify-center items-center rounded-container">
        <strong class="text-primary-contrast-700 dark:text-primary-contrast-300 text-xs flex flex-col items-center gap-0">
            <span>700</span>
            <span>300</span>
        </strong>
    </div>
    <div class="bg-primary-800-200 py-3 flex justify-center items-center rounded-container">
        <strong class="text-primary-contrast-800 dark:text-primary-contrast-200 text-xs flex flex-col items-center gap-0">
            <span>800</span>
            <span>200</span>
        </strong>
    </div>
    <div class="bg-primary-900-100 py-3 flex justify-center items-center rounded-container">
        <strong class="text-primary-contrast-900 dark:text-primary-contrast-100 text-xs flex flex-col items-center gap-0">
            <span>900</span>
            <span>100</span>
        </strong>
    </div>
    <div class="bg-primary-950-50 py-3 flex justify-center items-center rounded-container">
        <strong class="text-primary-contrast-950 dark:text-primary-contrast-50 text-xs flex flex-col items-center gap-0">
            <span>950</span>
            <span>50</span>
        </strong>
    </div>
</div>