---
import LayoutDocs from "@lib/layouts/LayoutDocs.astro";

const layoutProps = {
    categoryId: 1,
    title: 'Buttons',
    description: 'Provide a variety of button, including customizable sizes and types.'
};
---

<LayoutDocs {...layoutProps}>
    <!-- Preview -->
    <Fragment slot="preview">
        <div class="space-y-4">
            <div class="flex justify-center items-center gap-4">
                <button type="button" class="btn-icon btn-icon-sm preset-filled">💀</button>
                <button type="button" class="btn btn-sm preset-filled">Button</button>
                <button type="button" class="btn btn-sm preset-filled">
                    <span>💀</span>
                    <span>Button</span>
                </button>
            </div>
            <div class="flex justify-center items-center gap-4">
                <button type="button" class="btn-icon preset-filled">💀</button>
                <button type="button" class="btn preset-filled">Button</button>
                <button type="button" class="btn preset-filled">
                    <span>💀</span>
                    <span>Button</span>
                </button>
            </div>
            <div class="flex justify-center items-center gap-4">
                <button type="button" class="btn-icon btn-icon-lg preset-filled">💀</button>
                <button type="button" class="btn btn-lg preset-filled">Button</button>
                <button type="button" class="btn btn-lg preset-filled">
                    <span>💀</span>
                    <span>Button</span>
                </button>
            </div>
        </div>
    </Fragment>
    <!-- Usage -->
    <section class="space-y-4">
        <p>The {layoutProps.title} usage goes here.</p>
    </section>
</LayoutDocs>
