---
import LayoutDocs from "@lib/layouts/LayoutDocs.astro";

const layoutProps = {
    categoryId: 1,
    title: 'Buttons',
    description: 'Provides a robust set of button styles, including preset variants.'
};
---

<LayoutDocs {...layoutProps}>
    <!-- Preview -->
    <Fragment slot="preview">
        <div class="space-y-4">
            <div class="flex justify-center items-center gap-4">
                <button type="button" class="btn btn-sm variant-filled">sm</button>
                <button type="button" class="btn variant-filled">md</button>
                <button type="button" class="btn btn-lg variant-filled">lg</button>
                <button type="button" class="btn btn-xl variant-filled">xl</button>
            </div>
            <hr />
            <div class="flex justify-center items-center gap-4">
                <button type="button" class="btn-icon btn-icon-sm variant-filled">💀</button>
                <button type="button" class="btn-icon variant-filled">💀</button>
                <button type="button" class="btn-icon btn-icon-lg variant-filled">💀</button>
                <button type="button" class="btn-icon btn-icon-xl variant-filled">💀</button>
            </div>
        </div>
    </Fragment>
    <!-- Usage -->
    <section class="space-y-4">
        <p>The {layoutProps.title} usage goes here.</p>
    </section>
</LayoutDocs>
