---
import BlueSkyFeed from '@/components/ui/bluesky-feed';
import Footer from '@/components/ui/footer.astro';
import Header from '@/components/ui/header.astro';
import LayoutRoot from '@/components/layouts/root.astro';

const layoutProps = {
	title: 'News',
	description: 'Stay up to date with the latest news about Skeleton.',
	classList: '',
};
---

<LayoutRoot {...layoutProps}>
	<!-- Header -->
	<Header />
	<!-- Main -->
	<main class="max-w-3xl mx-auto space-y-10 px-4 py-10">
		<header class="flex justify-between items-center">
			<h2 class="h2">Latest News</h2>
			<a class="btn preset-outlined-surface-200-800 hover:preset-tonal" href="https://bsky.app/profile/skeleton.dev" target="_blank">
				<!-- <Bluesky class="size-5" /> -->
				<span>Feed</span>
			</a>
		</header>
		<div class="grid gap-8">
			<BlueSkyFeed client:only="react" />
		</div>
		<div class="flex justify-center">
			<a class="btn preset-filled" href="https://bsky.app/profile/skeleton.dev" target="_blank">
				<span>View More</span>
				<span>&rarr;</span>
			</a>
		</div>
		<!-- Debugging -->
		<!-- <pre class="pre">{JSON.stringify(timeline.feed, null, 2)}</pre> -->
	</main>
	<!-- Footer -->
	<Footer />
</LayoutRoot>
