---
import Layout from '@layouts/Layout.astro';

const imgSrc =
	'https://images.unsplash.com/photo-1620122303020-87ec826cf70d?q=80&w=256&h=256&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D';
---

<Layout>
	<div class="space-y-10">
		<section class="space-y-10">
			<header><h1 class="h1">Chips</h1></header>
		</section>
		<!-- Neutral -->
		<section class="flex items-center gap-4">
			<button class="chip-icon preset-filled">&rarr;</button>
			<button class="chip preset-filled">Chip</button>
			<button class="chip preset-filled">
				<span>Chip</span>
				<span>&rarr;</span>
			</button>
		</section>
		<!-- Presets -->
		<section class="space-y-4">
			<div class="flex gap-4">
				<button class="chip preset-filled-primary-500">Chip</button>
				<button class="chip preset-tonal-primary">Chip</button>
				<button class="chip preset-outlined-primary-500">Chip</button>
			</div>
			<div class="flex gap-4">
				<button class="chip preset-filled-secondary-500">Chip</button>
				<button class="chip preset-tonal-secondary">Chip</button>
				<button class="chip preset-outlined-secondary-500">Chip</button>
			</div>
			<div class="flex gap-4">
				<button class="chip preset-filled-tertiary-500">Chip</button>
				<button class="chip preset-tonal-tertiary">Chip</button>
				<button class="chip preset-outlined-tertiary-500">Chip</button>
			</div>
			<div class="flex gap-4">
				<button class="chip preset-filled-success-500">Chip</button>
				<button class="chip preset-tonal-success">Chip</button>
				<button class="chip preset-outlined-success-500">Chip</button>
			</div>
			<div class="flex gap-4">
				<button class="chip preset-filled-warning-500">Chip</button>
				<button class="chip preset-tonal-warning">Chip</button>
				<button class="chip preset-outlined-warning-500">Chip</button>
			</div>
			<div class="flex gap-4">
				<button class="chip preset-filled-error-500">Chip</button>
				<button class="chip preset-tonal-error">Chip</button>
				<button class="chip preset-outlined-error-500">Chip</button>
			</div>
			<div class="flex gap-4">
				<button class="chip preset-filled-surface-500">Chip</button>
				<button class="chip preset-tonal-surface">Chip</button>
				<button class="chip preset-outlined-surface-500">Chip</button>
			</div>
		</section>
		<!-- Disabled -->
		<section>
			<button type="button" class="chip preset-filled-primary-500" disabled>Disabled</button>
		</section>
		<!-- Selection -->
		<section class="flex gap-2">
			<button type="button" class="chip preset-filled">Red</button>
			<button type="button" class="chip preset-tonal hover:preset-filled">Blue</button>
			<button type="button" class="chip preset-tonal hover:preset-filled">Green</button>
		</section>
	</div>
</Layout>
