---
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<div class="space-y-10">
		<section class="space-y-10">
			<header><h1 class="h1">Dividers</h1></header>
		</section>
		<!-- Horizontal Rule -->
		<section class="space-y-4">
			<h2 class="h2">Horizontal Rule</h2>
			<div class="w-full space-y-4">
				<p class="text-xs opacity-60">Default</p>
				<hr class="hr" />
				<p class="text-xs opacity-60">border-t-2</p>
				<hr class="hr border-t-2" />
				<p class="text-xs opacity-60">border-t-4</p>
				<hr class="hr border-t-4" />
				<p class="text-xs opacity-60">border-t-8</p>
				<hr class="hr border-t-8" />
			</div>
		</section>
		<!-- Vertical Rule -->
		<section class="space-y-4">
			<h2 class="h2">Vertical Rule</h2>
			<div class="flex h-20 items-center justify-start gap-4">
				<p class="text-xs opacity-60">Default &rarr;</p>
				<span class="vr"></span>
				<span class="vr border-l-2"></span>
				<span class="vr border-l-4"></span>
				<span class="vr border-l-8"></span>
				<p class="text-xs opacity-60">&larr; border-l-8</p>
			</div>
		</section>
	</div>
</Layout>
