---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div class="space-y-10">
    <section class="space-y-10">
      <header><h1 class="h1">Placeholders</h1></header>
    </section>
    <!-- Circle -->
    <section class="flex items-center justify-between">
      <div class="flex items-center justify-center space-x-4">
        <div class="placeholder-circle size-16 animate-pulse"></div>
        <div class="placeholder-circle size-14 animate-pulse"></div>
        <div class="placeholder-circle size-10 animate-pulse"></div>
      </div>
    </section>
    <!-- Standard -->
    <section class="space-y-4">
      <div class="placeholder animate-pulse"></div>
      <div class="grid grid-cols-4 gap-4">
        <div class="placeholder animate-pulse"></div>
        <div class="placeholder animate-pulse"></div>
        <div class="placeholder animate-pulse"></div>
        <div class="placeholder animate-pulse"></div>
      </div>
      <div class="placeholder animate-pulse"></div>
      <div class="placeholder animate-pulse"></div>
    </section>
  </div>
</Layout>
