---

---

<script>
    import { persistentAtom } from '@nanostores/persistent'

    let selected = persistentAtom('selected', 'svelte')
    const buttons: any = document.querySelectorAll('button')
    const panels: any = document.querySelectorAll('.panel')

    function setVisiblePanel() {
        panels.forEach((panel: any) => {
            panel.classList.add('hidden')
            if (panel.id === `panel-${selected.get()}`) panel.classList.toggle('hidden')
        })
    }

    buttons.forEach((button: any, i: number) => {
        button.addEventListener('click', (btn: any) => {
            selected.set(btn.srcElement.id)
            setVisiblePanel()
        })
    })

    // Init
    setVisiblePanel()
</script>

<div class="space-y-4">
    <!-- Tabs -->
    <nav class="flex gap-4">
        <button type="button" id="svelte" class="btn preset-outlined">Svelte</button>
        <button type="button" id="react" class="btn preset-outlined">React</button>
    </nav>
    <!-- Panels -->
    <div id="panel-svelte" class="panel hidden space-y-4">
        <slot name="panel-svelte">(Svelte Fallback)</slot>
    </div>
    <div id="panel-react" class="panel hidden space-y-4">
        <slot name="panel-react">(React Fallback)</slot>
    </div>
</div>
