---
import { TestSvelte } from '@skeletonlabs/skeleton-svelte';
import { TestReact } from '@skeletonlabs/skeleton-react';
// import { TestVue } from '@skeletonlabs/skeleton-vue';
import LayoutRoot from '@layouts/LayoutRoot.astro'
import Header from '@components/docs/Header.astro'
---

<LayoutRoot>
	<!-- Page Header -->
	<Header />
	<!-- Page -->
	<main class="flex-col mx-auto p-10">
		<h1 class="h1">Hello, Skeleton 👋</h1>
		<div class="flex flex-col gap-2">
			<TestSvelte label="This is a component from @skeletonlabs/skeleton-svelte" class="bg-primary-500" />
			<TestReact label="This is a component from @skeletonlabs/skeleton-react" />
			<!-- <TestVue label="This is a component from @skeletonlabs/skeleton-vue" /> -->
		</div>
	</main>
</LayoutRoot>
