:root {
	/* --- Tailwind Theme --- */
	/* primary (yellow) */
	--color-primary-50: 254 252 232;
	--color-primary-100: 254 249 195;
	--color-primary-200: 254 240 138;
	--color-primary-300: 253 224 71;
	--color-primary-400: 250 204 21;
	--color-primary-500: 234 179 8;
	--color-primary-600: 202 138 4;
	--color-primary-700: 161 98 7;
	--color-primary-800: 133 77 14;
	--color-primary-900: 113 63 18;
	/* accent (orange) */
	--color-accent-50: 255 247 237;
	--color-accent-100: 255 237 213;
	--color-accent-200: 254 215 170;
	--color-accent-300: 253 186 116;
	--color-accent-400: 251 146 60;
	--color-accent-500: 249 115 22;
	--color-accent-600: 234 88 12;
	--color-accent-700: 194 65 12;
	--color-accent-800: 154 52 18;
	--color-accent-900: 124 45 18;
	/* warning (teal) */
	--color-warning-50: 240 253 250;
	--color-warning-100: 204 251 241;
	--color-warning-200: 153 246 228;
	--color-warning-300: 94 234 212;
	--color-warning-400: 45 212 191;
	--color-warning-500: 20 184 166;
	--color-warning-600: 13 148 136;
	--color-warning-700: 15 118 110;
	--color-warning-800: 17 94 89;
	--color-warning-900: 19 78 74;
	/* surface (rose) */
	--color-surface-50: 255 241 242;
	--color-surface-100: 255 228 230;
	--color-surface-200: 254 205 211;
	--color-surface-300: 253 164 175;
	--color-surface-400: 251 113 133;
	--color-surface-500: 244 63 94;
	--color-surface-600: 225 29 72;
	--color-surface-700: 190 18 60;
	--color-surface-800: 159 18 57;
	--color-surface-900: 136 19 55;
}