---
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<div class="space-y-10">
		<header><h1 class="h1">Globals</h1></header>
		<!-- Scrollbars -->
		<section class="space-y-4">
			<h2 class="h2">Scrollbars</h2>
			<div class="preset-outlined-surface-200-800 max-h-40 overflow-y-auto p-4">
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque atque laudantium maiores ullam omnis repellat libero explicabo
					cumque ut sint. Distinctio cumque quia nostrum dolore ad fugit rem officiis velit. Lorem ipsum, dolor sit amet consectetur
					adipisicing elit. Neque atque laudantium maiores ullam omnis repellat libero explicabo cumque ut sint. Distinctio cumque quia
					nostrum dolore ad fugit rem officiis velit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque atque laudantium
					maiores ullam omnis repellat libero explicabo cumque ut sint. Distinctio cumque quia nostrum dolore ad fugit rem officiis velit.
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque atque laudantium maiores ullam omnis repellat libero explicabo
					cumque ut sint. Distinctio cumque quia nostrum dolore ad fugit rem officiis velit. Lorem ipsum, dolor sit amet consectetur
					adipisicing elit. Neque atque laudantium maiores ullam omnis repellat libero explicabo cumque ut sint. Distinctio cumque quia
					nostrum dolore ad fugit rem officiis velit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque atque laudantium
					maiores ullam omnis repellat libero explicabo cumque ut sint. Distinctio cumque quia nostrum dolore ad fugit rem officiis velit.
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque atque laudantium maiores ullam omnis repellat libero explicabo
					cumque ut sint. Distinctio cumque quia nostrum dolore ad fugit rem officiis velit. Lorem ipsum, dolor sit amet consectetur
					adipisicing elit. Neque atque laudantium maiores ullam omnis repellat libero explicabo cumque ut sint. Distinctio cumque quia
					nostrum dolore ad fugit rem officiis velit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque atque laudantium
					maiores ullam omnis repellat libero explicabo cumque ut sint. Distinctio cumque quia nostrum dolore ad fugit rem officiis velit.
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque atque laudantium maiores ullam omnis repellat libero explicabo
					cumque ut sint. Distinctio cumque quia nostrum dolore ad fugit rem officiis velit. Lorem ipsum, dolor sit amet consectetur
					adipisicing elit. Neque atque laudantium maiores ullam omnis repellat libero explicabo cumque ut sint. Distinctio cumque quia
					nostrum dolore ad fugit rem officiis velit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque atque laudantium
					maiores ullam omnis repellat libero explicabo cumque ut sint. Distinctio cumque quia nostrum dolore ad fugit rem officiis velit.
				</p>
			</div>
		</section>
		<!-- Mobile Tap Highlight Color -->
		<section class="space-y-4">
			<h2 class="h2">Mobile Tap Highlight Color</h2>
			<p class="text-xs">(Mobile WebKit only)</p>
			<div class="preset-outlined-surface-200-800 flex justify-center p-4 px-10 py-10">
				<button class="btn">Tap Me on Mobile</button>
			</div>
		</section>
		<!-- Selection -->
		<section class="space-y-4">
			<h2 class="h2">Selection</h2>
			<p class="text-xs">Select the text below to preview the selection color.</p>
			<div class="preset-outlined-surface-200-800 flex justify-center p-4 px-10 py-10">
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae modi nulla autem quas perferendis aperiam esse ipsa vitae, quae
					voluptatem iste magnam eos, consequatur non cumque laudantium similique? Praesentium, numquam. Lorem ipsum dolor sit amet
					consectetur, adipisicing elit. Beatae modi nulla autem quas perferendis aperiam esse ipsa vitae, quae voluptatem iste magnam eos,
					consequatur non cumque laudantium similique? Praesentium, numquam.
				</p>
			</div>
		</section>
		<!-- Disabled -->
		<section class="space-y-4">
			<h2 class="h2">Disabled</h2>
			<div class="preset-outlined-surface-200-800 flex justify-center p-4 px-10 py-10">
				<button class="btn preset-filled" disabled>Disabled Button</button>
			</div>
		</section>
	</div>
</Layout>
