---
import LayoutDocs from "@lib/layouts/LayoutDocs.astro";

const layoutProps = {
    categoryId: 0,
    title: 'Typography',
    description: 'The Skeleton typography system.',
    preview: false
};
---

<LayoutDocs {...layoutProps}>
    <section class="space-y-4">
        <!-- Headings -->
        <h2 class="h2">Headings</h2>
        <pre class="pre">{`<h1 class="h1">...</h1>`}</pre>
        <div class="docs-card-outlined-centered p-8">
            <div class="space-y-4">
                <h1 class="h1">Heading 1</h1>
                <h2 class="h2">Heading 2</h2>
                <h3 class="h3">Heading 3</h3>
                <h4 class="h4">Heading 4</h4>
                <h5 class="h5">Heading 5</h5>
                <h6 class="h6">Heading 6</h6>
            </div>
        </div>
        <!-- Paragraph -->
        <h2 class="h2">Paragraph</h2>
        <pre class="pre">{`<p>...</p>`}</pre>
        <div class="docs-card-outlined-centered p-8">
            <p>Paragraph - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta error, quas iste, hic quos saepe expedita odio ratione distinctio eligendi iure sint, obcaecati eaque. Soluta ex libero quae odio exercitationem.</p>
        </div>
        <!-- Blockquote -->
        <h2 class="h2">Blockquote</h2>
        <pre class="pre">{`<blockquote class="blockquote">...</blockquote>`}</pre>
        <div class="docs-card-outlined-centered p-8">
            <blockquote class="blockquote">Blockquote - "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta error, quas iste, hic quos saepe expedita odio ratione distinctio eligendi iure sint, obcaecati eaque. Soluta ex libero quae odio exercitationem."</blockquote>
        </div>
        <!-- Anchor -->
        <h2 class="h2">Anchor</h2>
        <pre class="pre">{`<a href="#" class="anchor">...</a>`}</pre>
        <div class="docs-card-outlined-centered p-8">
            <a class="anchor" href="/">Anchor</a>
        </div>
        <!-- Pre-Formatted -->
        <h2 class="h2">Pre-Formatted</h2>
        <pre class="pre">{`<pre class="pre">...</pre>`}</pre>
        <div class="docs-card-outlined-centered p-8">
            <pre class="pre">Pre - The quick brown fox jumps over the lazy dog.</pre>
        </div>
        <!-- Code -->
        <h2 class="h2">Code</h2>
        <pre class="pre">{`<code class="code"></code>`}</pre>
        <div class="docs-card-outlined-centered p-8">
            <div>Insert the <code class="code">.example</code> class here.</div>
        </div>
        <!-- Keyboard -->
        <h2 class="h2">Keyboard</h2>
        <pre class="pre">{`<kbd class="kbd">...</kbd>`}</pre>
        <div class="docs-card-outlined-centered p-8">
            <div>Press <kbd class="kbd">⌘</kbd> + <kbd class="kbd">C</kbd> to copy.</div>
        </div>
        <!-- Insert & Delete -->
        <h2 class="h2">Insert & Delete</h2>
        <pre class="pre">{`<del class="del"></del>`}</pre>
        <pre class="pre">{`<ins class="ins" cite="..." datetime="...">...</ins>`}</pre>
        <div class="docs-card-outlined-centered p-8">
            <div class="w-full">
                <del class="del"><s>Always</s> Gonna Give You Up</del>
                <ins class="ins" cite="https://youtu.be/dQw4w9WgXcQ" datetime="10-31-2022">
                    Never Gonna Give You Up
                </ins>
            </div>
        </div>
        <!-- Lists -->
        <h2 class="h2">Lists</h2>
        <h3 class="h3">Unordered</h3>
        <div class="docs-card-outlined-centered p-8">
            <ul class="list-disc list-outside translate-x-5 space-y-2">
                <li>Id maxime optio soluta placeat ea eaque similique consectetur dicta tempore.</li>
                <li>Repellat veritatis et harum ad sint reprehenderit tenetur, possimus tempora corporis.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit harum ad sint.</li>
            </ul>
        </div>
        <h3 class="h3">Ordered</h3>
        <div class="docs-card-outlined-centered p-8">
            <ol class="list-decimal list-outside translate-x-5 space-y-2">
                <li>Id maxime optio soluta placeat ea eaque similique consectetur dicta tempore.</li>
                <li>Repellat veritatis et harum ad sint reprehenderit tenetur, possimus tempora corporis.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit harum ad sint.</li>
            </ol>
        </div>
        <h3 class="h3">Basic</h3>
        <div class="docs-card-outlined-centered p-8">
            <ul class="list-none list-outside translate-x-5 space-y-2">
                <li>Id maxime optio soluta placeat ea eaque similique consectetur dicta tempore.</li>
                <li>Repellat veritatis et harum ad sint reprehenderit tenetur, possimus tempora corporis.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit harum ad sint.</li>
            </ul>
        </div>
        <h3 class="h3">Description</h3>
        <div class="docs-card-outlined-centered p-8">
            <dl class="space-y-2">
                <div>
                    <dt class="font-bold">Item A</dt>
                    <dd class="opacity-60">
                        Id maxime optio soluta placeat ea eaque similique consectetur dicta tempore.
                    </dd>
                </div>
                <div>
                    <dt class="font-bold">Item B</dt>
                    <dd class="opacity-60">
                        Repellat veritatis et harum ad sint reprehenderit tenetur, possimus tempora corporis.
                    </dd>
                </div>
                <div>
                    <dt class="font-bold">Item C</dt>
                    <dd class="opacity-60">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit harum ad sint.
                    </dd>
                </div>
            </dl>
        </div>
        <h3 class="h3">Navigation</h3>
        <div class="docs-card-outlined-centered p-8">
            <nav>
                <ul class="space-y-2">
                    <li>
                        <a class="anchor" href="#">Home</a>
                    </li>
                    <li>
                        <a class="anchor" href="#">About</a>
                    </li>
                    <li>
                        <a class="anchor" href="#">Blog</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</LayoutDocs>
