[data-theme='catppuccin'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-700);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family:
		ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri,
		source-sans-pro, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: var(--color-tertiary-500);
	--heading-font-color-dark: var(--color-secondary-200);
	--heading-font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	--heading-font-weight: bolder;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-secondary-600);
	--anchor-font-color-dark: var(--color-tertiary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: normal;
	--anchor-font-style: normal;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: oklch(1 0 0 / 1);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(97.74% 0.02 214.3deg);
	--color-primary-100: oklch(91.46% 0.04 259.65deg);
	--color-primary-200: oklch(85.14% 0.07 269.1deg);
	--color-primary-300: oklch(78.61% 0.11 272.56deg);
	--color-primary-400: oklch(72.39% 0.14 273.43deg);
	--color-primary-500: oklch(66.37% 0.18 273.14deg);
	--color-primary-600: oklch(64.04% 0.16 273.48deg);
	--color-primary-700: oklch(61.68% 0.15 273.88deg);
	--color-primary-800: oklch(59.39% 0.14 273.4deg);
	--color-primary-900: oklch(57.01% 0.12 273.81deg);
	--color-primary-950: oklch(54.61% 0.11 274.28deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-light);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(87% 0.08 336.33deg);
	--color-secondary-100: oklch(83.97% 0.09 337.05deg);
	--color-secondary-200: oklch(81.04% 0.12 337.14deg);
	--color-secondary-300: oklch(77.9% 0.14 337.36deg);
	--color-secondary-400: oklch(75.18% 0.16 337.67deg);
	--color-secondary-500: oklch(72.56% 0.17 338.45deg);
	--color-secondary-600: oklch(66.2% 0.16 338.65deg);
	--color-secondary-700: oklch(59.46% 0.14 337.89deg);
	--color-secondary-800: oklch(52.76% 0.13 338.06deg);
	--color-secondary-900: oklch(45.59% 0.11 336.89deg);
	--color-secondary-950: oklch(38.38% 0.09 336.89deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(85.85% 0.08 182.73deg);
	--color-tertiary-100: oklch(80.64% 0.09 187.1deg);
	--color-tertiary-200: oklch(75.45% 0.09 190.89deg);
	--color-tertiary-300: oklch(70.29% 0.1 194.31deg);
	--color-tertiary-400: oklch(65.21% 0.1 197.6deg);
	--color-tertiary-500: oklch(60.23% 0.1 201.09deg);
	--color-tertiary-600: oklch(55.35% 0.09 199.86deg);
	--color-tertiary-700: oklch(50.38% 0.08 199.41deg);
	--color-tertiary-800: oklch(45.28% 0.07 197.54deg);
	--color-tertiary-900: oklch(40.06% 0.06 196.51deg);
	--color-tertiary-950: oklch(34.66% 0.05 193.09deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(85.77% 0.11 142.7deg);
	--color-success-100: oklch(81.17% 0.13 141.58deg);
	--color-success-200: oklch(76.3% 0.14 141.25deg);
	--color-success-300: oklch(71.74% 0.16 140.63deg);
	--color-success-400: oklch(66.94% 0.17 140.57deg);
	--color-success-500: oklch(62.5% 0.18 140.44deg);
	--color-success-600: oklch(57.91% 0.16 141.06deg);
	--color-success-700: oklch(52.95% 0.14 141.78deg);
	--color-success-800: oklch(48.17% 0.12 143.12deg);
	--color-success-900: oklch(42.98% 0.1 145.05deg);
	--color-success-950: oklch(37.98% 0.08 149.06deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-light);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(91.93% 0.07 86.52deg);
	--color-warning-100: oklch(87.62% 0.09 81.75deg);
	--color-warning-200: oklch(83.37% 0.11 78.13deg);
	--color-warning-300: oklch(79.3% 0.12 76.32deg);
	--color-warning-400: oklch(75.27% 0.14 72.5deg);
	--color-warning-500: oklch(71.4% 0.15 67.77deg);
	--color-warning-600: oklch(65.9% 0.14 68.59deg);
	--color-warning-700: oklch(60.36% 0.12 70.74deg);
	--color-warning-800: oklch(54.63% 0.11 72.18deg);
	--color-warning-900: oklch(48.86% 0.09 75.69deg);
	--color-warning-950: oklch(42.84% 0.07 78.7deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(75.56% 0.13 2.78deg);
	--color-error-100: oklch(70.33% 0.15 5.3deg);
	--color-error-200: oklch(65.61% 0.18 8.14deg);
	--color-error-300: oklch(61.35% 0.19 11.81deg);
	--color-error-400: oklch(57.87% 0.21 15.53deg);
	--color-error-500: oklch(55.05% 0.22 19.81deg);
	--color-error-600: oklch(50.89% 0.2 18.37deg);
	--color-error-700: oklch(46.85% 0.18 17.05deg);
	--color-error-800: oklch(42.66% 0.16 14.84deg);
	--color-error-900: oklch(38.58% 0.14 12.55deg);
	--color-error-950: oklch(34.34% 0.11 8.3deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(90.6% 0.01 264.54deg);
	--color-surface-100: oklch(85.75% 0.01 268.51deg);
	--color-surface-200: oklch(80.83% 0.02 271.23deg);
	--color-surface-300: oklch(75.6% 0.02 276.28deg);
	--color-surface-400: oklch(70.52% 0.02 277.36deg);
	--color-surface-500: oklch(65.36% 0.03 278.14deg);
	--color-surface-600: oklch(57.72% 0.03 280.5deg);
	--color-surface-700: oklch(50.06% 0.03 280.09deg);
	--color-surface-800: oklch(41.85% 0.03 282.47deg);
	--color-surface-900: oklch(33.48% 0.03 281.97deg);
	--color-surface-950: oklch(24.29% 0.03 283.92deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-dark);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
