[data-theme='cerberus'] {
	--spacing: 0.25rem;
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--radius-base: 0.25rem;
	--radius-container: 0.25rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--color-primary-50: oklch(0.92 0.04 257.51);
	--color-primary-100: oklch(0.84 0.08 254.62);
	--color-primary-200: oklch(0.77 0.11 254.28);
	--color-primary-300: oklch(0.7 0.15 254.36);
	--color-primary-400: oklch(0.63 0.19 255.71);
	--color-primary-500: oklch(0.57 0.21 258.29);
	--color-primary-600: oklch(0.52 0.19 258.15);
	--color-primary-700: oklch(0.46 0.17 257.78);
	--color-primary-800: oklch(0.4 0.14 257.62);
	--color-primary-900: oklch(0.34 0.11 257.14);
	--color-primary-950: oklch(0.28 0.08 257.49);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(0.87 0.05 300.12);
	--color-secondary-100: oklch(0.79 0.09 303.55);
	--color-secondary-200: oklch(0.7 0.13 304.43);
	--color-secondary-300: oklch(0.63 0.17 303.8);
	--color-secondary-400: oklch(0.55 0.2 302.74);
	--color-secondary-500: oklch(0.49 0.23 300.45);
	--color-secondary-600: oklch(0.45 0.21 299.59);
	--color-secondary-700: oklch(0.42 0.19 298.25);
	--color-secondary-800: oklch(0.38 0.17 296.27);
	--color-secondary-900: oklch(0.34 0.15 293.96);
	--color-secondary-950: oklch(0.3 0.13 291.15);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(0.91 0.08 328.89);
	--color-tertiary-100: oklch(0.83 0.13 339.66);
	--color-tertiary-200: oklch(0.76 0.18 345.54);
	--color-tertiary-300: oklch(0.7 0.23 350.67);
	--color-tertiary-400: oklch(0.66 0.25 355.84);
	--color-tertiary-500: oklch(0.65 0.26 2.47);
	--color-tertiary-600: oklch(0.59 0.24 1.69);
	--color-tertiary-700: oklch(0.54 0.22 0.5);
	--color-tertiary-800: oklch(0.48 0.2 359.65);
	--color-tertiary-900: oklch(0.43 0.17 357.7);
	--color-tertiary-950: oklch(0.37 0.15 355.33);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(0.94 0.09 178.68);
	--color-success-100: oklch(0.92 0.1 178.62);
	--color-success-200: oklch(0.89 0.11 177.17);
	--color-success-300: oklch(0.87 0.12 176.91);
	--color-success-400: oklch(0.85 0.13 175.46);
	--color-success-500: oklch(0.83 0.13 174.96);
	--color-success-600: oklch(0.73 0.12 175.71);
	--color-success-700: oklch(0.62 0.1 176);
	--color-success-800: oklch(0.51 0.08 178.29);
	--color-success-900: oklch(0.4 0.06 179.75);
	--color-success-950: oklch(0.27 0.04 185.3);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(0.96 0.05 84.57);
	--color-warning-100: oklch(0.93 0.06 82.17);
	--color-warning-200: oklch(0.9 0.08 80.34);
	--color-warning-300: oklch(0.88 0.1 80.02);
	--color-warning-400: oklch(0.85 0.12 78.36);
	--color-warning-500: oklch(0.82 0.14 76.72);
	--color-warning-600: oklch(0.76 0.13 72.26);
	--color-warning-700: oklch(0.7 0.13 68.1);
	--color-warning-800: oklch(0.64 0.13 63.18);
	--color-warning-900: oklch(0.58 0.13 57.97);
	--color-warning-950: oklch(0.52 0.13 51.44);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(0.9 0.04 14);
	--color-error-100: oklch(0.83 0.07 19.8);
	--color-error-200: oklch(0.77 0.11 21.97);
	--color-error-300: oklch(0.72 0.15 24.89);
	--color-error-400: oklch(0.67 0.19 26.71);
	--color-error-500: oklch(0.64 0.22 28.71);
	--color-error-600: oklch(0.59 0.21 28.53);
	--color-error-700: oklch(0.55 0.2 28.58);
	--color-error-800: oklch(0.51 0.19 28.72);
	--color-error-900: oklch(0.46 0.18 28.88);
	--color-error-950: oklch(0.42 0.17 29.23);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(0.99 0 0);
	--color-surface-100: oklch(0.91 0 0);
	--color-surface-200: oklch(0.81 0 0);
	--color-surface-300: oklch(0.72 0 0);
	--color-surface-400: oklch(0.62 0 0);
	--color-surface-500: oklch(0.51 0 0);
	--color-surface-600: oklch(0.45 0 0);
	--color-surface-700: oklch(0.39 0 0);
	--color-surface-800: oklch(0.32 0 0);
	--color-surface-900: oklch(0.25 0 0);
	--color-surface-950: oklch(0.18 0 0);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
