[data-theme='cerberus'] {
	--spacing: 0.25rem;
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--radii-default: 6px;
	--radii-container: 6px;
	--border-width-default: 1px;
	--divide-width-default: 1px;
	--outline-width-default: 1px;
	--ring-width-default: 1px;
	--color-primary-100: rgb(169 206 253);
	--color-primary-200: rgb(127, 182, 250);
	--color-primary-300: rgb(85, 159, 248);
	--color-primary-400: rgb(43, 135, 245);
	--color-primary-500: rgb(1, 112, 243);
	--color-primary-600: rgb(3, 97, 210);
	--color-primary-700: rgb(4, 83, 178);
	--color-primary-800: rgb(6, 68, 145);
	--color-primary-900: rgb(7, 54, 113);
	--color-primary-950: rgb(9, 39, 80);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: rgb(216, 204, 241);
	--color-secondary-100: rgb(197, 171, 233);
	--color-secondary-200: rgb(178, 138, 225);
	--color-secondary-300: rgb(159, 106, 218);
	--color-secondary-400: rgb(140, 73, 210);
	--color-secondary-500: rgb(121, 40, 202);
	--color-secondary-600: rgb(107, 37, 182);
	--color-secondary-700: rgb(93, 34, 163);
	--color-secondary-800: rgb(78, 31, 143);
	--color-secondary-900: rgb(64, 28, 124);
	--color-secondary-950: rgb(50, 25, 104);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: rgb(255, 206, 251);
	--color-tertiary-100: rgb(255, 165, 226);
	--color-tertiary-200: rgb(255, 124, 202);
	--color-tertiary-300: rgb(255, 82, 177);
	--color-tertiary-400: rgb(255, 41, 153);
	--color-tertiary-500: rgb(255, 0, 128);
	--color-tertiary-600: rgb(228, 0, 116);
	--color-tertiary-700: rgb(200, 0, 104);
	--color-tertiary-800: rgb(173, 0, 91);
	--color-tertiary-900: rgb(145, 0, 79);
	--color-tertiary-950: rgb(118, 0, 67);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: rgb(170, 255, 236);
	--color-success-100: rgb(152, 249, 228);
	--color-success-200: rgb(134, 244, 219);
	--color-success-300: rgb(116, 238, 211);
	--color-success-400: rgb(98, 233, 202);
	--color-success-500: rgb(80, 227, 194);
	--color-success-600: rgb(65, 191, 164);
	--color-success-700: rgb(50, 155, 133);
	--color-success-800: rgb(35, 118, 103);
	--color-success-900: rgb(20, 82, 72);
	--color-success-950: rgb(5, 46, 42);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: rgb(255, 239, 207);
	--color-warning-100: rgb(253, 228, 183);
	--color-warning-200: rgb(252, 217, 158);
	--color-warning-300: rgb(250, 207, 134);
	--color-warning-400: rgb(249, 196, 109);
	--color-warning-500: rgb(247, 185, 85);
	--color-warning-600: rgb(230, 163, 69);
	--color-warning-700: rgb(213, 142, 53);
	--color-warning-800: rgb(195, 120, 37);
	--color-warning-900: rgb(178, 99, 21);
	--color-warning-950: rgb(161, 77, 5);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: rgb(247, 212, 214);
	--color-error-100: rgb(246, 182, 181);
	--color-error-200: rgb(245, 152, 149);
	--color-error-300: rgb(245, 123, 116);
	--color-error-400: rgb(244, 93, 84);
	--color-error-500: rgb(243, 63, 51);
	--color-error-600: rgb(224, 50, 41);
	--color-error-700: rgb(205, 38, 31);
	--color-error-800: rgb(186, 25, 20);
	--color-error-900: rgb(167, 13, 10);
	--color-error-950: rgb(148, 0, 0);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: rgb(253, 253, 253);
	--color-surface-100: rgb(224, 224, 224);
	--color-surface-200: rgb(194, 194, 194);
	--color-surface-300: rgb(163, 163, 163);
	--color-surface-400: rgb(133, 133, 133);
	--color-surface-500: rgb(102, 102, 102);
	--color-surface-600: rgb(85, 85, 85);
	--color-surface-700: rgb(68, 68, 68);
	--color-surface-800: rgb(51, 51, 51);
	--color-surface-900: rgb(34, 34, 34);
	--color-surface-950: rgb(17, 17, 17);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
