[data-theme='concord'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: 0.025em;
	--anchor-font-color: var(--color-tertiary-600);
	--anchor-font-color-dark: var(--color-tertiary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: oklch(1 0 0 / 1);
	--body-background-color-dark: var(--color-surface-900);
	--color-primary-50: oklch(93.95% 0.03 275.18deg);
	--color-primary-100: oklch(86.47% 0.06 279.05deg);
	--color-primary-200: oklch(79.21% 0.1 278.8deg);
	--color-primary-300: oklch(71.7% 0.14 277.75deg);
	--color-primary-400: oklch(64.67% 0.17 276.05deg);
	--color-primary-500: oklch(57.74% 0.21 273.85deg);
	--color-primary-600: oklch(54.35% 0.21 273.38deg);
	--color-primary-700: oklch(50.71% 0.21 272.98deg);
	--color-primary-800: oklch(47.4% 0.21 272.5deg);
	--color-primary-900: oklch(43.82% 0.21 271.71deg);
	--color-primary-950: oklch(40.56% 0.21 270.51deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(90.16% 0.09 326.33deg);
	--color-secondary-100: oklch(80.45% 0.13 345.87deg);
	--color-secondary-200: oklch(76.18% 0.15 347.32deg);
	--color-secondary-300: oklch(72.33% 0.18 348.51deg);
	--color-secondary-400: oklch(68.63% 0.2 350.12deg);
	--color-secondary-500: oklch(65.34% 0.22 351.93deg);
	--color-secondary-600: oklch(59.91% 0.19 351.97deg);
	--color-secondary-700: oklch(54.22% 0.17 351.74deg);
	--color-secondary-800: oklch(48.56% 0.15 351.82deg);
	--color-secondary-900: oklch(42.61% 0.12 351.59deg);
	--color-secondary-950: oklch(35.14% 0.08 349.39deg);
	--color-secondary-contrast-dark: oklch(0% 0 none);
	--color-secondary-contrast-light: oklch(100% 0 none);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(91.25% 0.04 240.67deg);
	--color-tertiary-100: oklch(86.76% 0.06 242.35deg);
	--color-tertiary-200: oklch(82.16% 0.08 244.56deg);
	--color-tertiary-300: oklch(77.89% 0.1 245.19deg);
	--color-tertiary-400: oklch(73.54% 0.13 246.82deg);
	--color-tertiary-500: oklch(69.62% 0.15 247.99deg);
	--color-tertiary-600: oklch(64.73% 0.14 249.06deg);
	--color-tertiary-700: oklch(59.52% 0.14 250.8deg);
	--color-tertiary-800: oklch(54.41% 0.13 252.03deg);
	--color-tertiary-900: oklch(48.99% 0.13 254.06deg);
	--color-tertiary-950: oklch(43.68% 0.12 255.66deg);
	--color-tertiary-contrast-dark: oklch(0% 0 none);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(97.79% 0.03 166.21deg);
	--color-success-100: oklch(94.75% 0.07 158.14deg);
	--color-success-200: oklch(92.12% 0.1 155.68deg);
	--color-success-300: oklch(89.55% 0.14 153.46deg);
	--color-success-400: oklch(87.47% 0.17 151.93deg);
	--color-success-500: oklch(85.47% 0.2 150.16deg);
	--color-success-600: oklch(78.41% 0.19 149.03deg);
	--color-success-700: oklch(71.2% 0.19 147.9deg);
	--color-success-800: oklch(63.6% 0.18 146.46deg);
	--color-success-900: oklch(56.13% 0.17 145.13deg);
	--color-success-950: oklch(48.51% 0.16 143.88deg);
	--color-success-contrast-dark: oklch(0% 0 none);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-dark);
	--color-success-contrast-900: var(--color-success-contrast-dark);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(97.17% 0.06 98.57deg);
	--color-warning-100: oklch(96.12% 0.08 99.22deg);
	--color-warning-200: oklch(95.11% 0.1 99.72deg);
	--color-warning-300: oklch(93.9% 0.12 99.83deg);
	--color-warning-400: oklch(93% 0.14 99.97deg);
	--color-warning-500: oklch(92.18% 0.16 99.86deg);
	--color-warning-600: oklch(85.61% 0.15 99.44deg);
	--color-warning-700: oklch(78.94% 0.15 98.85deg);
	--color-warning-800: oklch(72.12% 0.14 98.13deg);
	--color-warning-900: oklch(65.17% 0.13 97.06deg);
	--color-warning-950: oklch(58.06% 0.12 95.53deg);
	--color-warning-contrast-dark: oklch(0% 0 none);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-dark);
	--color-warning-contrast-900: var(--color-warning-contrast-dark);
	--color-warning-contrast-950: var(--color-warning-contrast-dark);
	--color-error-50: oklch(90.63% 0.05 32.16deg);
	--color-error-100: oklch(84.27% 0.08 25.62deg);
	--color-error-200: oklch(78.11% 0.11 22.63deg);
	--color-error-300: oklch(72.43% 0.15 22.36deg);
	--color-error-400: oklch(67.38% 0.18 22.87deg);
	--color-error-500: oklch(63.18% 0.21 24.57deg);
	--color-error-600: oklch(58.83% 0.2 25.07deg);
	--color-error-700: oklch(54.43% 0.19 25.32deg);
	--color-error-800: oklch(49.95% 0.17 25.95deg);
	--color-error-900: oklch(45.4% 0.16 26.34deg);
	--color-error-950: oklch(40.77% 0.15 27.15deg);
	--color-error-contrast-dark: oklch(0% 0 none);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-dark);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(97.02% 0 none);
	--color-surface-100: oklch(87.97% 0 286.75deg);
	--color-surface-200: oklch(78.7% 0.01 286.45deg);
	--color-surface-300: oklch(69.23% 0.01 264.57deg);
	--color-surface-400: oklch(59.34% 0.01 271.3deg);
	--color-surface-500: oklch(49.01% 0.01 274.73deg);
	--color-surface-600: oklch(44.29% 0.01 273.19deg);
	--color-surface-700: oklch(39.45% 0.01 271.17deg);
	--color-surface-800: oklch(34.3% 0.01 285.88deg);
	--color-surface-900: oklch(29.11% 0.01 285.87deg);
	--color-surface-950: oklch(23.67% 0.01 285.84deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
