[data-theme='crimson'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--heading-font-weight: normal;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: oklch(1 0 0 / 1);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(88.86% 0.05 4.44deg);
	--color-primary-100: oklch(80.66% 0.09 5.94deg);
	--color-primary-200: oklch(72.91% 0.13 8.14deg);
	--color-primary-300: oklch(65.86% 0.17 10.24deg);
	--color-primary-400: oklch(59.91% 0.2 14.19deg);
	--color-primary-500: oklch(55.71% 0.21 19.55deg);
	--color-primary-600: oklch(50.91% 0.2 19.59deg);
	--color-primary-700: oklch(46.18% 0.18 19.26deg);
	--color-primary-800: oklch(41.14% 0.16 19.25deg);
	--color-primary-900: oklch(36.08% 0.14 18.61deg);
	--color-primary-950: oklch(30.55% 0.12 17.97deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(92.56% 0.03 231.59deg);
	--color-secondary-100: oklch(86.02% 0.04 233.6deg);
	--color-secondary-200: oklch(79.42% 0.05 234.87deg);
	--color-secondary-300: oklch(72.61% 0.07 238deg);
	--color-secondary-400: oklch(65.93% 0.08 238.76deg);
	--color-secondary-500: oklch(59.26% 0.09 239.95deg);
	--color-secondary-600: oklch(54.31% 0.08 239.27deg);
	--color-secondary-700: oklch(49.31% 0.08 239.24deg);
	--color-secondary-800: oklch(43.86% 0.07 239.73deg);
	--color-secondary-900: oklch(38.56% 0.06 239.77deg);
	--color-secondary-950: oklch(33.02% 0.05 238.49deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(96.87% 0 18.01deg);
	--color-tertiary-100: oklch(95.67% 0 18deg);
	--color-tertiary-200: oklch(94.74% 0 49.04deg);
	--color-tertiary-300: oklch(91.56% 0 34.58deg);
	--color-tertiary-400: oklch(85.05% 0.01 27.4deg);
	--color-tertiary-500: oklch(78.4% 0.01 31.17deg);
	--color-tertiary-600: oklch(72.57% 0.01 32.61deg);
	--color-tertiary-700: oklch(63.56% 0.01 36.62deg);
	--color-tertiary-800: oklch(53.99% 0.01 28.97deg);
	--color-tertiary-900: oklch(46.84% 0.01 31.17deg);
	--color-tertiary-950: oklch(43.57% 0.01 31.17deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(97.91% 0.02 122.93deg);
	--color-success-100: oklch(97.16% 0.02 122.74deg);
	--color-success-200: oklch(96.6% 0.02 124.19deg);
	--color-success-300: oklch(94.25% 0.04 124.61deg);
	--color-success-400: oklch(90.14% 0.07 124.95deg);
	--color-success-500: oklch(86% 0.1 126.06deg);
	--color-success-600: oklch(79.54% 0.09 125.92deg);
	--color-success-700: oklch(69.53% 0.08 125.89deg);
	--color-success-800: oklch(59.17% 0.06 126.17deg);
	--color-success-900: oklch(51.08% 0.05 125.23deg);
	--color-success-950: oklch(47.93% 0.05 125.78deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(97.3% 0.02 91.54deg);
	--color-warning-100: oklch(96.43% 0.03 90.88deg);
	--color-warning-200: oklch(95.48% 0.03 92.24deg);
	--color-warning-300: oklch(92.83% 0.05 92.14deg);
	--color-warning-400: oklch(87.41% 0.09 91.27deg);
	--color-warning-500: oklch(82.4% 0.13 90.68deg);
	--color-warning-600: oklch(76.24% 0.11 91.06deg);
	--color-warning-700: oklch(66.71% 0.1 91.1deg);
	--color-warning-800: oklch(56.58% 0.08 90.28deg);
	--color-warning-900: oklch(49.1% 0.07 90.52deg);
	--color-warning-950: oklch(45.94% 0.07 89.94deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(95.25% 0.01 17.52deg);
	--color-error-100: oklch(93.57% 0.02 13.48deg);
	--color-error-200: oklch(92.09% 0.02 14.35deg);
	--color-error-300: oklch(87.34% 0.04 15.86deg);
	--color-error-400: oklch(77.78% 0.07 16.56deg);
	--color-error-500: oklch(68.53% 0.1 18.56deg);
	--color-error-600: oklch(63.39% 0.1 18.38deg);
	--color-error-700: oklch(55.64% 0.08 18.02deg);
	--color-error-800: oklch(47.45% 0.07 18.65deg);
	--color-error-900: oklch(41.28% 0.06 18.29deg);
	--color-error-950: oklch(38.24% 0.06 18.5deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(90.65% 0 264.68deg);
	--color-surface-100: oklch(80.46% 0.01 268.6deg);
	--color-surface-200: oklch(69.96% 0.01 271.26deg);
	--color-surface-300: oklch(58.9% 0.02 278.84deg);
	--color-surface-400: oklch(47.48% 0.03 277.42deg);
	--color-surface-500: oklch(35.33% 0.04 275.68deg);
	--color-surface-600: oklch(31.82% 0.03 277.05deg);
	--color-surface-700: oklch(28.12% 0.03 276.09deg);
	--color-surface-800: oklch(24.72% 0.03 274.9deg);
	--color-surface-900: oklch(20.75% 0.02 273.29deg);
	--color-surface-950: oklch(16.69% 0.02 275.16deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
