[data-theme='fennec'] {
	--text-scaling: 1.067;
	--base-font-color: oklch(0 0 0 / 1);
	--base-font-color-dark: oklch(1 0 0 / 1);
	--base-font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
	--base-font-size: 20px;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: oklch(0 0 0 / 1);
	--heading-font-color-dark: var(--color-secondary-50);
	--heading-font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
	--heading-font-weight: normal;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-600);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(92.25% 0.06 81.66deg);
	--color-primary-100: oklch(85.91% 0.09 64.53deg);
	--color-primary-200: oklch(79.89% 0.12 55.2deg);
	--color-primary-300: oklch(74.52% 0.15 48.54deg);
	--color-primary-400: oklch(69.73% 0.19 43.57deg);
	--color-primary-500: oklch(65.88% 0.21 38.25deg);
	--color-primary-600: oklch(60.43% 0.2 37.23deg);
	--color-primary-700: oklch(54.87% 0.18 35.55deg);
	--color-primary-800: oklch(49.28% 0.16 32.44deg);
	--color-primary-900: oklch(43.51% 0.14 27.22deg);
	--color-primary-950: oklch(37.65% 0.13 17.8deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(96.54% 0.03 81.98deg);
	--color-secondary-100: oklch(94.74% 0.05 80.07deg);
	--color-secondary-200: oklch(92.83% 0.06 76.95deg);
	--color-secondary-300: oklch(91.08% 0.07 76.39deg);
	--color-secondary-400: oklch(89.23% 0.08 74.52deg);
	--color-secondary-500: oklch(87.53% 0.1 74.15deg);
	--color-secondary-600: oklch(80.58% 0.09 77.3deg);
	--color-secondary-700: oklch(73.29% 0.09 79.53deg);
	--color-secondary-800: oklch(66.02% 0.09 83.16deg);
	--color-secondary-900: oklch(58.37% 0.09 85.41deg);
	--color-secondary-950: oklch(50.7% 0.09 88.6deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(98.4% 0.02 196.71deg);
	--color-tertiary-100: oklch(90.49% 0.03 193.88deg);
	--color-tertiary-200: oklch(82.5% 0.03 191.69deg);
	--color-tertiary-300: oklch(74.23% 0.04 187.98deg);
	--color-tertiary-400: oklch(65.86% 0.04 186.58deg);
	--color-tertiary-500: oklch(57.22% 0.05 185.36deg);
	--color-tertiary-600: oklch(52.67% 0.05 190.18deg);
	--color-tertiary-700: oklch(48.08% 0.05 195.73deg);
	--color-tertiary-800: oklch(43.11% 0.04 206.69deg);
	--color-tertiary-900: oklch(38.3% 0.04 214.6deg);
	--color-tertiary-950: oklch(33.3% 0.04 222.81deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(95.79% 0.08 143.23deg);
	--color-success-100: oklch(92.5% 0.08 140.83deg);
	--color-success-200: oklch(89.2% 0.09 138.94deg);
	--color-success-300: oklch(85.57% 0.1 137.46deg);
	--color-success-400: oklch(82.23% 0.11 136.3deg);
	--color-success-500: oklch(78.89% 0.12 135.4deg);
	--color-success-600: oklch(71.38% 0.12 136.02deg);
	--color-success-700: oklch(64% 0.12 136.24deg);
	--color-success-800: oklch(56.14% 0.12 136.98deg);
	--color-success-900: oklch(48.41% 0.12 137.48deg);
	--color-success-950: oklch(40.16% 0.12 138.73deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(97.85% 0.04 112deg);
	--color-warning-100: oklch(94.72% 0.05 108.51deg);
	--color-warning-200: oklch(91.68% 0.07 105.81deg);
	--color-warning-300: oklch(88.75% 0.09 105.79deg);
	--color-warning-400: oklch(85.73% 0.1 104.49deg);
	--color-warning-500: oklch(82.64% 0.11 104.07deg);
	--color-warning-600: oklch(75.3% 0.11 105.29deg);
	--color-warning-700: oklch(67.88% 0.11 106.01deg);
	--color-warning-800: oklch(59.97% 0.11 106.68deg);
	--color-warning-900: oklch(52.14% 0.1 107.43deg);
	--color-warning-950: oklch(43.96% 0.1 108.97deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(100% 0 none);
	--color-error-100: oklch(95.28% 0.01 353.31deg);
	--color-error-200: oklch(90.63% 0.03 354.64deg);
	--color-error-300: oklch(85.89% 0.04 354.79deg);
	--color-error-400: oklch(81.25% 0.06 355.68deg);
	--color-error-500: oklch(76.52% 0.07 356.13deg);
	--color-error-600: oklch(69.28% 0.07 356.69deg);
	--color-error-700: oklch(61.71% 0.07 355.57deg);
	--color-error-800: oklch(53.97% 0.07 355.81deg);
	--color-error-900: oklch(45.95% 0.07 354.89deg);
	--color-error-950: oklch(37.81% 0.07 356.1deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(80.11% 0.01 161.11deg);
	--color-surface-100: oklch(73.55% 0.01 164.66deg);
	--color-surface-200: oklch(67.01% 0.01 177.02deg);
	--color-surface-300: oklch(60.13% 0.01 184.96deg);
	--color-surface-400: oklch(53.22% 0.01 196.78deg);
	--color-surface-500: oklch(45.9% 0.01 208.66deg);
	--color-surface-600: oklch(42.01% 0.01 223.51deg);
	--color-surface-700: oklch(38.02% 0.01 239.98deg);
	--color-surface-800: oklch(33.97% 0.01 260.72deg);
	--color-surface-900: oklch(29.76% 0.01 271.04deg);
	--color-surface-950: oklch(25.39% 0.01 279.01deg);
	--color-surface-contrast-dark: oklch(0% 0 none);
	--color-surface-contrast-light: oklch(100% 0 none);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
