[data-theme='hamlindigo'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-secondary-500);
	--anchor-font-color-dark: var(--color-secondary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: oklch(1 0 0 / 1);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(95.58% 0.02 271.23deg);
	--color-primary-100: oklch(92.55% 0.03 269.83deg);
	--color-primary-200: oklch(89.45% 0.04 267.68deg);
	--color-primary-300: oklch(86.44% 0.05 267.85deg);
	--color-primary-400: oklch(83.33% 0.07 266.67deg);
	--color-primary-500: oklch(80.28% 0.08 266.51deg);
	--color-primary-600: oklch(73.59% 0.07 266.38deg);
	--color-primary-700: oklch(66.71% 0.06 265.83deg);
	--color-primary-800: oklch(59.46% 0.06 267.04deg);
	--color-primary-900: oklch(52.17% 0.05 266.43deg);
	--color-primary-950: oklch(44.65% 0.04 266.17deg);
	--color-primary-contrast-dark: oklch(0% 0 none);
	--color-primary-contrast-light: oklch(100% 0 none);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-dark);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(97.95% 0.03 90.07deg);
	--color-secondary-100: oklch(91.69% 0.04 89.43deg);
	--color-secondary-200: oklch(85.37% 0.05 88.52deg);
	--color-secondary-300: oklch(78.64% 0.05 87.86deg);
	--color-secondary-400: oklch(72.11% 0.06 87.29deg);
	--color-secondary-500: oklch(65.46% 0.07 87.04deg);
	--color-secondary-600: oklch(59.96% 0.07 87.89deg);
	--color-secondary-700: oklch(54.42% 0.06 87.8deg);
	--color-secondary-800: oklch(48.66% 0.05 88.52deg);
	--color-secondary-900: oklch(42.81% 0.05 88.51deg);
	--color-secondary-950: oklch(36.63% 0.04 90.4deg);
	--color-secondary-contrast-dark: oklch(0% 0 none);
	--color-secondary-contrast-light: oklch(100% 0 none);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(94.45% 0.01 209.68deg);
	--color-tertiary-100: oklch(88.45% 0.02 211.7deg);
	--color-tertiary-200: oklch(82.64% 0.03 212.03deg);
	--color-tertiary-300: oklch(76.45% 0.04 212.28deg);
	--color-tertiary-400: oklch(70.54% 0.05 212.56deg);
	--color-tertiary-500: oklch(64.32% 0.06 213.24deg);
	--color-tertiary-600: oklch(58.99% 0.05 213.74deg);
	--color-tertiary-700: oklch(53.49% 0.05 214.01deg);
	--color-tertiary-800: oklch(47.86% 0.04 212.78deg);
	--color-tertiary-900: oklch(42.04% 0.04 213deg);
	--color-tertiary-950: oklch(36.07% 0.03 213.86deg);
	--color-tertiary-contrast-dark: oklch(0% 0 none);
	--color-tertiary-contrast-light: oklch(100% 0 none);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(94.08% 0.02 181.64deg);
	--color-success-100: oklch(87.57% 0.03 178.18deg);
	--color-success-200: oklch(81.01% 0.05 176.49deg);
	--color-success-300: oklch(74.23% 0.06 174.48deg);
	--color-success-400: oklch(67.63% 0.07 173.16deg);
	--color-success-500: oklch(61.08% 0.08 171.46deg);
	--color-success-600: oklch(55.91% 0.08 172.05deg);
	--color-success-700: oklch(50.85% 0.07 170.86deg);
	--color-success-800: oklch(45.47% 0.06 171.27deg);
	--color-success-900: oklch(40.13% 0.06 169.57deg);
	--color-success-950: oklch(34.34% 0.05 170.23deg);
	--color-success-contrast-dark: oklch(0% 0 none);
	--color-success-contrast-light: oklch(100% 0 none);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(94.76% 0.03 86.85deg);
	--color-warning-100: oklch(90.85% 0.05 85.13deg);
	--color-warning-200: oklch(87.09% 0.07 86.74deg);
	--color-warning-300: oklch(83.31% 0.1 85.44deg);
	--color-warning-400: oklch(79.71% 0.12 85.54deg);
	--color-warning-500: oklch(76.13% 0.13 83.34deg);
	--color-warning-600: oklch(69.74% 0.12 83.31deg);
	--color-warning-700: oklch(63.21% 0.11 83.28deg);
	--color-warning-800: oklch(56.72% 0.1 84.21deg);
	--color-warning-900: oklch(49.81% 0.09 84.32deg);
	--color-warning-950: oklch(42.66% 0.08 84.47deg);
	--color-warning-contrast-dark: oklch(0% 0 none);
	--color-warning-contrast-light: oklch(100% 0 none);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-dark);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(95.3% 0.02 359.41deg);
	--color-error-100: oklch(87.75% 0.03 356.43deg);
	--color-error-200: oklch(80.34% 0.04 359.07deg);
	--color-error-300: oklch(72.57% 0.06 358.15deg);
	--color-error-400: oklch(64.98% 0.07 0.27deg);
	--color-error-500: oklch(57.08% 0.09 0.42deg);
	--color-error-600: oklch(52.41% 0.08 1.3deg);
	--color-error-700: oklch(47.34% 0.07 0.01deg);
	--color-error-800: oklch(42.43% 0.06 1.1deg);
	--color-error-900: oklch(37.07% 0.06 359.3deg);
	--color-error-950: oklch(31.82% 0.05 0.72deg);
	--color-error-contrast-dark: oklch(0% 0 none);
	--color-error-contrast-light: oklch(100% 0 none);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(93.75% 0.01 273.43deg);
	--color-surface-100: oklch(91.84% 0.01 266.73deg);
	--color-surface-200: oklch(89.7% 0.02 266.3deg);
	--color-surface-300: oklch(83.29% 0.03 268.82deg);
	--color-surface-400: oklch(70.33% 0.05 267.74deg);
	--color-surface-500: oklch(56.88% 0.07 266.47deg);
	--color-surface-600: oklch(52.73% 0.07 266.75deg);
	--color-surface-700: oklch(46.53% 0.06 265.38deg);
	--color-surface-800: oklch(39.92% 0.05 265.76deg);
	--color-surface-900: oklch(35% 0.04 267.12deg);
	--color-surface-950: oklch(31.91% 0.04 266.95deg);
	--color-surface-contrast-dark: oklch(0% 0 none);
	--color-surface-contrast-light: oklch(100% 0 none);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
