[data-theme='legacy'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: oklch(1 0 0 / 1);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(93.76% 0.05 174.04deg);
	--color-primary-100: oklch(88.31% 0.07 172.12deg);
	--color-primary-200: oklch(83.12% 0.1 170.96deg);
	--color-primary-300: oklch(78.47% 0.12 168.13deg);
	--color-primary-400: oklch(73.96% 0.14 165.85deg);
	--color-primary-500: oklch(69.84% 0.15 162.21deg);
	--color-primary-600: oklch(63.62% 0.14 162.09deg);
	--color-primary-700: oklch(57.25% 0.12 161.89deg);
	--color-primary-800: oklch(50.43% 0.11 162.71deg);
	--color-primary-900: oklch(43.64% 0.09 162.59deg);
	--color-primary-950: oklch(36.55% 0.08 162.58deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(91.85% 0.03 289.61deg);
	--color-secondary-100: oklch(83.36% 0.07 287.46deg);
	--color-secondary-200: oklch(74.94% 0.11 286.33deg);
	--color-secondary-300: oklch(66.53% 0.15 284.04deg);
	--color-secondary-400: oklch(58.49% 0.19 281.34deg);
	--color-secondary-500: oklch(51.06% 0.23 276.97deg);
	--color-secondary-600: oklch(46.04% 0.21 277.09deg);
	--color-secondary-700: oklch(41.03% 0.18 277.06deg);
	--color-secondary-800: oklch(35.81% 0.16 277.12deg);
	--color-secondary-900: oklch(30.46% 0.13 277.07deg);
	--color-secondary-950: oklch(24.69% 0.1 277.33deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(91.76% 0.04 225.29deg);
	--color-tertiary-100: oklch(86.44% 0.07 227.24deg);
	--color-tertiary-200: oklch(81.31% 0.09 228.59deg);
	--color-tertiary-300: oklch(76.77% 0.12 229.92deg);
	--color-tertiary-400: oklch(72.38% 0.13 232.91deg);
	--color-tertiary-500: oklch(68.47% 0.15 237.31deg);
	--color-tertiary-600: oklch(62.85% 0.13 236.83deg);
	--color-tertiary-700: oklch(57.1% 0.12 236.22deg);
	--color-tertiary-800: oklch(50.99% 0.11 236.75deg);
	--color-tertiary-900: oklch(44.91% 0.09 235.85deg);
	--color-tertiary-950: oklch(38.6% 0.08 234.47deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(95.13% 0.04 124.07deg);
	--color-success-100: oklch(91.13% 0.08 125.02deg);
	--color-success-200: oklch(87.3% 0.12 126.12deg);
	--color-success-300: oklch(83.56% 0.16 127.53deg);
	--color-success-400: oklch(80.09% 0.19 128.96deg);
	--color-success-500: oklch(76.81% 0.2 130.85deg);
	--color-success-600: oklch(70.29% 0.19 130.77deg);
	--color-success-700: oklch(63.6% 0.17 130.68deg);
	--color-success-800: oklch(57.06% 0.15 130.45deg);
	--color-success-900: oklch(49.99% 0.13 130.26deg);
	--color-success-950: oklch(42.66% 0.11 129.96deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(94.62% 0.05 92.15deg);
	--color-warning-100: oklch(91.23% 0.08 91.79deg);
	--color-warning-200: oklch(88.15% 0.12 92.2deg);
	--color-warning-300: oklch(85.04% 0.14 91.03deg);
	--color-warning-400: oklch(82.3% 0.16 89.59deg);
	--color-warning-500: oklch(79.53% 0.16 86.04deg);
	--color-warning-600: oklch(73.86% 0.15 86.09deg);
	--color-warning-700: oklch(67.97% 0.14 86.63deg);
	--color-warning-800: oklch(62.27% 0.13 87.5deg);
	--color-warning-900: oklch(56.11% 0.11 88.37deg);
	--color-warning-950: oklch(49.89% 0.1 88.83deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(92.23% 0.04 347.14deg);
	--color-error-100: oklch(83.76% 0.08 347.97deg);
	--color-error-200: oklch(75.58% 0.12 349.14deg);
	--color-error-300: oklch(68.16% 0.17 351.73deg);
	--color-error-400: oklch(61.78% 0.2 354.34deg);
	--color-error-500: oklch(57.22% 0.22 358.61deg);
	--color-error-600: oklch(52.66% 0.2 358.6deg);
	--color-error-700: oklch(47.87% 0.19 358.39deg);
	--color-error-800: oklch(43.13% 0.17 357.83deg);
	--color-error-900: oklch(38.06% 0.15 357.41deg);
	--color-error-950: oklch(32.89% 0.13 357deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(92.32% 0.01 279.78deg);
	--color-surface-100: oklch(83.77% 0.02 274.72deg);
	--color-surface-200: oklch(75.06% 0.04 273.55deg);
	--color-surface-300: oklch(66.32% 0.05 270.91deg);
	--color-surface-400: oklch(57.19% 0.07 270.48deg);
	--color-surface-500: oklch(47.8% 0.09 269.38deg);
	--color-surface-600: oklch(44.12% 0.08 269.69deg);
	--color-surface-700: oklch(40.23% 0.07 268.97deg);
	--color-surface-800: oklch(36.14% 0.07 270.51deg);
	--color-surface-900: oklch(32.03% 0.06 269.71deg);
	--color-surface-950: oklch(27.93% 0.05 270.32deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
