[data-theme='mint'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: inherit;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: var(--color-surface-600);
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: normal;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: oklch(1 0 0 / 1);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-200);
	--body-background-color-dark: var(--color-surface-700);
	--color-primary-50: oklch(91.62% 0.05 161.07deg);
	--color-primary-100: oklch(89.8% 0.08 156.34deg);
	--color-primary-200: oklch(88.07% 0.1 153.27deg);
	--color-primary-300: oklch(86.28% 0.13 151.76deg);
	--color-primary-400: oklch(84.84% 0.15 150.11deg);
	--color-primary-500: oklch(83.57% 0.18 148.98deg);
	--color-primary-600: oklch(77.48% 0.16 149.01deg);
	--color-primary-700: oklch(71.28% 0.15 148.61deg);
	--color-primary-800: oklch(64.67% 0.14 148.69deg);
	--color-primary-900: oklch(58.17% 0.13 148.16deg);
	--color-primary-950: oklch(51.46% 0.12 148.08deg);
	--color-primary-contrast-dark: var(--color-surface-950);
	--color-primary-contrast-light: oklch(100% 0 none);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-dark);
	--color-primary-contrast-900: var(--color-primary-contrast-dark);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(88.58% 0.06 292.85deg);
	--color-secondary-100: oklch(82.63% 0.09 290.3deg);
	--color-secondary-200: oklch(76.51% 0.12 288.83deg);
	--color-secondary-300: oklch(70.71% 0.15 287.34deg);
	--color-secondary-400: oklch(64.79% 0.18 285.4deg);
	--color-secondary-500: oklch(59.27% 0.21 282.75deg);
	--color-secondary-600: oklch(53.92% 0.19 281.89deg);
	--color-secondary-700: oklch(48.45% 0.18 280.84deg);
	--color-secondary-800: oklch(42.99% 0.16 279.84deg);
	--color-secondary-900: oklch(37.2% 0.14 278.17deg);
	--color-secondary-950: oklch(31.2% 0.13 275.9deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(83.58% 0.03 322.48deg);
	--color-tertiary-100: oklch(76.23% 0.03 322.27deg);
	--color-tertiary-200: oklch(68.83% 0.03 322.28deg);
	--color-tertiary-300: oklch(60.89% 0.03 322.3deg);
	--color-tertiary-400: oklch(53.03% 0.03 322.32deg);
	--color-tertiary-500: oklch(44.74% 0.03 322.1deg);
	--color-tertiary-600: oklch(41.52% 0.03 321.49deg);
	--color-tertiary-700: oklch(38.14% 0.02 317.7deg);
	--color-tertiary-800: oklch(34.51% 0.02 319.5deg);
	--color-tertiary-900: oklch(30.96% 0.02 313.01deg);
	--color-tertiary-950: oklch(27.43% 0.01 308.04deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(95.62% 0.02 226.91deg);
	--color-success-100: oklch(92.13% 0.02 209.19deg);
	--color-success-200: oklch(88.44% 0.03 203.44deg);
	--color-success-300: oklch(84.99% 0.04 199.92deg);
	--color-success-400: oklch(81.31% 0.05 197.64deg);
	--color-success-500: oklch(77.87% 0.06 194.62deg);
	--color-success-600: oklch(70.49% 0.06 194.48deg);
	--color-success-700: oklch(62.96% 0.07 194.29deg);
	--color-success-800: oklch(54.99% 0.07 194.04deg);
	--color-success-900: oklch(47.15% 0.07 193.73deg);
	--color-success-950: oklch(39.18% 0.06 193.34deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(100% 0 none);
	--color-warning-100: oklch(96.72% 0.02 90.5deg);
	--color-warning-200: oklch(93.46% 0.04 90.64deg);
	--color-warning-300: oklch(90.53% 0.06 90.71deg);
	--color-warning-400: oklch(87.31% 0.08 90.69deg);
	--color-warning-500: oklch(84.13% 0.09 90.55deg);
	--color-warning-600: oklch(75.53% 0.09 91.15deg);
	--color-warning-700: oklch(66.8% 0.08 90.77deg);
	--color-warning-800: oklch(57.88% 0.07 92.8deg);
	--color-warning-900: oklch(48.49% 0.07 92.52deg);
	--color-warning-950: oklch(38.5% 0.06 93.74deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(100% 0 none);
	--color-error-100: oklch(93.83% 0.01 0.42deg);
	--color-error-200: oklch(87.61% 0.03 0.82deg);
	--color-error-300: oklch(81.46% 0.04 0.1deg);
	--color-error-400: oklch(75.17% 0.06 1.1deg);
	--color-error-500: oklch(68.89% 0.08 2.15deg);
	--color-error-600: oklch(61.51% 0.08 1.95deg);
	--color-error-700: oklch(53.97% 0.08 0.75deg);
	--color-error-800: oklch(46.35% 0.08 1.47deg);
	--color-error-900: oklch(38.34% 0.08 0.65deg);
	--color-error-950: oklch(30.06% 0.08 1.77deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(89.13% 0.03 155.27deg);
	--color-surface-100: oklch(79.9% 0.04 161.15deg);
	--color-surface-200: oklch(70.51% 0.04 167.09deg);
	--color-surface-300: oklch(60.97% 0.04 169.98deg);
	--color-surface-400: oklch(50.97% 0.05 174.26deg);
	--color-surface-500: oklch(40.48% 0.05 176.23deg);
	--color-surface-600: oklch(37.05% 0.05 176.27deg);
	--color-surface-700: oklch(33.3% 0.04 177.78deg);
	--color-surface-800: oklch(29.73% 0.04 180.78deg);
	--color-surface-900: oklch(25.75% 0.03 184.32deg);
	--color-surface-950: oklch(21.88% 0.02 186.33deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
