[data-theme='modern'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family:
		ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri,
		source-sans-pro, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: inherit;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family:
		ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri,
		source-sans-pro, sans-serif;
	--heading-font-weight: bolder;
	--heading-font-style: normal;
	--heading-letter-spacing: 0.025em;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(88.26% 0.09 326.3deg);
	--color-primary-100: oklch(83.08% 0.11 335.27deg);
	--color-primary-200: oklch(78.13% 0.14 341.6deg);
	--color-primary-300: oklch(73.41% 0.16 345.81deg);
	--color-primary-400: oklch(69.22% 0.19 350.18deg);
	--color-primary-500: oklch(65.59% 0.21 354.32deg);
	--color-primary-600: oklch(59.29% 0.2 355.45deg);
	--color-primary-700: oklch(52.78% 0.18 356.79deg);
	--color-primary-800: oklch(46.44% 0.17 358.47deg);
	--color-primary-900: oklch(39.72% 0.15 1.05deg);
	--color-primary-950: oklch(32.83% 0.13 4.81deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(88.73% 0.05 226.12deg);
	--color-secondary-100: oklch(84.49% 0.07 218.72deg);
	--color-secondary-200: oklch(80.77% 0.09 214.75deg);
	--color-secondary-300: oklch(77.19% 0.11 213.88deg);
	--color-secondary-400: oklch(74.25% 0.12 213.55deg);
	--color-secondary-500: oklch(71.48% 0.13 215.21deg);
	--color-secondary-600: oklch(64.8% 0.12 216.99deg);
	--color-secondary-700: oklch(57.99% 0.1 220deg);
	--color-secondary-800: oklch(50.93% 0.09 222.96deg);
	--color-secondary-900: oklch(43.67% 0.08 227.87deg);
	--color-secondary-950: oklch(36.04% 0.07 233.37deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(92.03% 0.08 195.89deg);
	--color-tertiary-100: oklch(87.42% 0.09 192.12deg);
	--color-tertiary-200: oklch(82.97% 0.1 189.14deg);
	--color-tertiary-300: oklch(78.43% 0.11 187.91deg);
	--color-tertiary-400: oklch(74.31% 0.12 185.27deg);
	--color-tertiary-500: oklch(70.37% 0.12 182.49deg);
	--color-tertiary-600: oklch(63.72% 0.11 181.7deg);
	--color-tertiary-700: oklch(56.62% 0.1 181.41deg);
	--color-tertiary-800: oklch(49.53% 0.09 179.19deg);
	--color-tertiary-900: oklch(41.91% 0.08 178.28deg);
	--color-tertiary-950: oklch(34.2% 0.06 175.78deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(94.41% 0.13 131.66deg);
	--color-success-100: oklch(90.82% 0.15 130.63deg);
	--color-success-200: oklch(87.33% 0.17 129.89deg);
	--color-success-300: oklch(83.58% 0.19 129.69deg);
	--color-success-400: oklch(80.2% 0.2 129.93deg);
	--color-success-500: oklch(76.81% 0.2 130.85deg);
	--color-success-600: oklch(69.44% 0.19 133.05deg);
	--color-success-700: oklch(61.88% 0.18 135.65deg);
	--color-success-800: oklch(54.52% 0.17 138.28deg);
	--color-success-900: oklch(46.76% 0.15 140.76deg);
	--color-success-950: oklch(38.95% 0.13 142.5deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(98.55% 0.08 107.73deg);
	--color-warning-100: oklch(94.55% 0.1 101.64deg);
	--color-warning-200: oklch(90.66% 0.13 97.74deg);
	--color-warning-300: oklch(86.6% 0.15 94.45deg);
	--color-warning-400: oklch(82.98% 0.16 90.83deg);
	--color-warning-500: oklch(79.53% 0.16 86.04deg);
	--color-warning-600: oklch(72.24% 0.15 84.37deg);
	--color-warning-700: oklch(64.97% 0.13 82.89deg);
	--color-warning-800: oklch(57.17% 0.12 80.8deg);
	--color-warning-900: oklch(49.43% 0.1 78.1deg);
	--color-warning-950: oklch(41.18% 0.09 73.23deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(91.01% 0.05 35.87deg);
	--color-error-100: oklch(84.73% 0.08 27.61deg);
	--color-error-200: oklch(78.56% 0.11 23.94deg);
	--color-error-300: oklch(72.84% 0.15 23.81deg);
	--color-error-400: oklch(67.76% 0.18 23.92deg);
	--color-error-500: oklch(63.69% 0.21 25.33deg);
	--color-error-600: oklch(57.47% 0.19 25.78deg);
	--color-error-700: oklch(51.22% 0.18 26.25deg);
	--color-error-800: oklch(44.95% 0.16 26.98deg);
	--color-error-900: oklch(38.45% 0.15 27.75deg);
	--color-error-950: oklch(31.6% 0.13 29.23deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(91.63% 0.04 285.57deg);
	--color-surface-100: oklch(84.95% 0.07 283.9deg);
	--color-surface-200: oklch(78.07% 0.1 283.1deg);
	--color-surface-300: oklch(71.48% 0.14 281.4deg);
	--color-surface-400: oklch(64.79% 0.17 279.71deg);
	--color-surface-500: oklch(58.54% 0.2 277.12deg);
	--color-surface-600: oklch(53.83% 0.19 276.75deg);
	--color-surface-700: oklch(48.9% 0.17 276.96deg);
	--color-surface-800: oklch(44.04% 0.15 276.39deg);
	--color-surface-900: oklch(38.84% 0.13 276.61deg);
	--color-surface-950: oklch(33.59% 0.11 275.82deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
