[data-theme='mona'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: system-ui, sans-serif;
	--heading-font-weight: 900;
	--heading-font-style: normal;
	--heading-letter-spacing: 0.025em;
	--anchor-font-color: var(--color-tertiary-800);
	--anchor-font-color-dark: var(--color-tertiary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: oklch(1 0 0 / 1);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(95.05% 0.04 325.97deg);
	--color-primary-100: oklch(87.17% 0.08 312.56deg);
	--color-primary-200: oklch(79.22% 0.11 306.63deg);
	--color-primary-300: oklch(71.52% 0.14 302.18deg);
	--color-primary-400: oklch(63.71% 0.17 298.81deg);
	--color-primary-500: oklch(56.31% 0.21 294.98deg);
	--color-primary-600: oklch(51.94% 0.19 295.36deg);
	--color-primary-700: oklch(47.6% 0.18 296.3deg);
	--color-primary-800: oklch(43.11% 0.16 296.99deg);
	--color-primary-900: oklch(38.55% 0.15 298.42deg);
	--color-primary-950: oklch(33.76% 0.13 299.57deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(96.29% 0.06 152.54deg);
	--color-secondary-100: oklch(89.59% 0.08 152.64deg);
	--color-secondary-200: oklch(82.92% 0.1 152.26deg);
	--color-secondary-300: oklch(76.12% 0.13 151.01deg);
	--color-secondary-400: oklch(69.66% 0.15 149.95deg);
	--color-secondary-500: oklch(63.43% 0.16 148.39deg);
	--color-secondary-600: oklch(56.69% 0.15 147.49deg);
	--color-secondary-700: oklch(49.77% 0.14 146.68deg);
	--color-secondary-800: oklch(42.89% 0.12 145.35deg);
	--color-secondary-900: oklch(35.44% 0.11 144.15deg);
	--color-secondary-950: oklch(27.48% 0.09 142.5deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(98.82% 0.02 196.78deg);
	--color-tertiary-100: oklch(95.16% 0.04 194.35deg);
	--color-tertiary-200: oklch(91.49% 0.05 191.9deg);
	--color-tertiary-300: oklch(87.79% 0.07 192.55deg);
	--color-tertiary-400: oklch(84.34% 0.09 191.01deg);
	--color-tertiary-500: oklch(81.11% 0.1 190.5deg);
	--color-tertiary-600: oklch(73.06% 0.09 190.03deg);
	--color-tertiary-700: oklch(64.52% 0.09 190.37deg);
	--color-tertiary-800: oklch(56.06% 0.08 190.76deg);
	--color-tertiary-900: oklch(47.02% 0.07 191.19deg);
	--color-tertiary-950: oklch(37.93% 0.07 190.27deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(98.55% 0.08 107.73deg);
	--color-success-100: oklch(95.53% 0.12 114.55deg);
	--color-success-200: oklch(92.68% 0.16 118.32deg);
	--color-success-300: oklch(89.72% 0.19 121.19deg);
	--color-success-400: oklch(87.23% 0.21 123.72deg);
	--color-success-500: oklch(84.91% 0.22 126.38deg);
	--color-success-600: oklch(77.65% 0.2 128.27deg);
	--color-success-700: oklch(69.99% 0.19 130.26deg);
	--color-success-800: oklch(62.38% 0.18 132.95deg);
	--color-success-900: oklch(54.4% 0.16 135.57deg);
	--color-success-950: oklch(46.52% 0.15 138.52deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(99.2% 0.04 107.08deg);
	--color-warning-100: oklch(97.3% 0.06 103.71deg);
	--color-warning-200: oklch(95.45% 0.09 102.29deg);
	--color-warning-300: oklch(93.55% 0.11 102.15deg);
	--color-warning-400: oklch(91.82% 0.13 101.48deg);
	--color-warning-500: oklch(90.15% 0.15 100.84deg);
	--color-warning-600: oklch(82.74% 0.14 101.41deg);
	--color-warning-700: oklch(75.18% 0.14 101.95deg);
	--color-warning-800: oklch(67.66% 0.13 103.15deg);
	--color-warning-900: oklch(59.72% 0.12 103.74deg);
	--color-warning-950: oklch(51.53% 0.11 104.38deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(92.99% 0.05 74.47deg);
	--color-error-100: oklch(87.1% 0.07 52.28deg);
	--color-error-200: oklch(81.54% 0.11 42.36deg);
	--color-error-300: oklch(76.46% 0.14 38.67deg);
	--color-error-400: oklch(71.95% 0.18 35.77deg);
	--color-error-500: oklch(68.27% 0.21 34.01deg);
	--color-error-600: oklch(62.88% 0.19 33.06deg);
	--color-error-700: oklch(57.39% 0.18 31.94deg);
	--color-error-800: oklch(51.68% 0.17 29.97deg);
	--color-error-900: oklch(45.94% 0.15 28.21deg);
	--color-error-950: oklch(40.05% 0.14 26deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(92.83% 0 287.25deg);
	--color-surface-200: oklch(85.51% 0 286.73deg);
	--color-surface-300: oklch(78.13% 0 228.52deg);
	--color-surface-400: oklch(70.47% 0 247.84deg);
	--color-surface-500: oklch(62.6% 0.01 258.36deg);
	--color-surface-600: oklch(55.34% 0.01 247.95deg);
	--color-surface-700: oklch(47.73% 0.01 261.77deg);
	--color-surface-800: oklch(39.92% 0.02 255.6deg);
	--color-surface-900: oklch(31.6% 0.02 262.55deg);
	--color-surface-950: oklch(22.88% 0.03 258.32deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
