[data-theme='nosh'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--base-font-size: 18px;
	--base-line-height: 28px;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--heading-font-weight: bolder;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-600);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(89.39% 0.06 29.22deg);
	--color-primary-100: oklch(80.54% 0.1 18.64deg);
	--color-primary-200: oklch(72.3% 0.14 15.89deg);
	--color-primary-300: oklch(64.97% 0.18 16.82deg);
	--color-primary-400: oklch(59.5% 0.21 19.82deg);
	--color-primary-500: oklch(56.22% 0.23 24.62deg);
	--color-primary-600: oklch(52.95% 0.21 24.73deg);
	--color-primary-700: oklch(49.83% 0.2 24.69deg);
	--color-primary-800: oklch(46.47% 0.19 24.87deg);
	--color-primary-900: oklch(43.27% 0.17 24.89deg);
	--color-primary-950: oklch(39.81% 0.16 25.23deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-light);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(96.07% 0.02 22.18deg);
	--color-secondary-100: oklch(94.62% 0.02 17.61deg);
	--color-secondary-200: oklch(93.33% 0.02 20.8deg);
	--color-secondary-300: oklch(91.97% 0.03 17.76deg);
	--color-secondary-400: oklch(90.68% 0.03 20.12deg);
	--color-secondary-500: oklch(89.23% 0.04 17.93deg);
	--color-secondary-600: oklch(81.07% 0.04 12.23deg);
	--color-secondary-700: oklch(72.59% 0.05 7.68deg);
	--color-secondary-800: oklch(64.01% 0.05 3.25deg);
	--color-secondary-900: oklch(55.05% 0.06 0.41deg);
	--color-secondary-950: oklch(45.92% 0.06 357.34deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(92.69% 0.02 161.63deg);
	--color-tertiary-100: oklch(83.32% 0.03 161.75deg);
	--color-tertiary-200: oklch(73.68% 0.03 161.75deg);
	--color-tertiary-300: oklch(63.99% 0.03 162.62deg);
	--color-tertiary-400: oklch(53.67% 0.04 162.17deg);
	--color-tertiary-500: oklch(42.89% 0.04 161.33deg);
	--color-tertiary-600: oklch(39.99% 0.04 160.45deg);
	--color-tertiary-700: oklch(36.7% 0.03 161.51deg);
	--color-tertiary-800: oklch(33.73% 0.02 163.26deg);
	--color-tertiary-900: oklch(30.32% 0.01 166.7deg);
	--color-tertiary-950: oklch(27.21% 0.01 164.39deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(96.13% 0.03 196.6deg);
	--color-success-100: oklch(89.1% 0.04 198.59deg);
	--color-success-200: oklch(81.96% 0.04 199.99deg);
	--color-success-300: oklch(74.96% 0.05 197.76deg);
	--color-success-400: oklch(67.6% 0.06 198.89deg);
	--color-success-500: oklch(60.11% 0.06 199.83deg);
	--color-success-600: oklch(53.33% 0.06 200.22deg);
	--color-success-700: oklch(46.02% 0.05 200.8deg);
	--color-success-800: oklch(38.7% 0.05 201.34deg);
	--color-success-900: oklch(30.76% 0.04 202.46deg);
	--color-success-950: oklch(22.58% 0.04 203.51deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(99.04% 0.05 107.24deg);
	--color-warning-100: oklch(97.19% 0.07 106.86deg);
	--color-warning-200: oklch(95.4% 0.1 106.86deg);
	--color-warning-300: oklch(93.93% 0.12 107.02deg);
	--color-warning-400: oklch(92.26% 0.14 107.14deg);
	--color-warning-500: oklch(90.63% 0.16 107.22deg);
	--color-warning-600: oklch(82.89% 0.15 105.38deg);
	--color-warning-700: oklch(74.97% 0.14 103.12deg);
	--color-warning-800: oklch(66.96% 0.13 99.75deg);
	--color-warning-900: oklch(58.65% 0.12 95.8deg);
	--color-warning-950: oklch(50.09% 0.1 90.18deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(92.15% 0.04 17.94deg);
	--color-error-100: oklch(88.97% 0.06 18.33deg);
	--color-error-200: oklch(85.87% 0.08 18.78deg);
	--color-error-300: oklch(82.66% 0.1 19.35deg);
	--color-error-400: oklch(79.78% 0.12 19.97deg);
	--color-error-500: oklch(77.03% 0.14 20.69deg);
	--color-error-600: oklch(70.26% 0.13 22.66deg);
	--color-error-700: oklch(63.19% 0.13 24.3deg);
	--color-error-800: oklch(56.25% 0.12 27.32deg);
	--color-error-900: oklch(48.87% 0.12 29.36deg);
	--color-error-950: oklch(41.49% 0.11 32.09deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-dark);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(97.61% 0 none);
	--color-surface-100: oklch(90.06% 0 none);
	--color-surface-200: oklch(82.34% 0 none);
	--color-surface-300: oklch(74.44% 0 none);
	--color-surface-400: oklch(66.33% 0 none);
	--color-surface-500: oklch(57.95% 0 none);
	--color-surface-600: oklch(49.62% 0 none);
	--color-surface-700: oklch(40.91% 0 none);
	--color-surface-800: oklch(32.11% 0 none);
	--color-surface-900: oklch(22.21% 0 none);
	--color-surface-950: oklch(9.69% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
