[data-theme='nouveau'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-tertiary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(94.79% 0.06 98.37deg);
	--color-primary-100: oklch(92.36% 0.08 97.86deg);
	--color-primary-200: oklch(89.92% 0.11 98.16deg);
	--color-primary-300: oklch(87.83% 0.13 98.4deg);
	--color-primary-400: oklch(85.55% 0.15 98.11deg);
	--color-primary-500: oklch(83.44% 0.16 97deg);
	--color-primary-600: oklch(76.21% 0.14 96.89deg);
	--color-primary-700: oklch(68.8% 0.13 96.75deg);
	--color-primary-800: oklch(61.41% 0.12 97.24deg);
	--color-primary-900: oklch(53.56% 0.1 97.12deg);
	--color-primary-950: oklch(45.41% 0.09 96.95deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(93.03% 0.03 249.76deg);
	--color-secondary-100: oklch(85.15% 0.06 250.74deg);
	--color-secondary-200: oklch(77.32% 0.1 250.51deg);
	--color-secondary-300: oklch(69.88% 0.13 251.69deg);
	--color-secondary-400: oklch(62.85% 0.17 253.13deg);
	--color-secondary-500: oklch(56.7% 0.19 256.45deg);
	--color-secondary-600: oklch(51.95% 0.18 256.27deg);
	--color-secondary-700: oklch(47.16% 0.16 256.21deg);
	--color-secondary-800: oklch(41.94% 0.14 256.3deg);
	--color-secondary-900: oklch(36.87% 0.12 256.18deg);
	--color-secondary-950: oklch(31.52% 0.1 255.64deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(94.52% 0.02 289.14deg);
	--color-tertiary-100: oklch(88.15% 0.04 288.36deg);
	--color-tertiary-200: oklch(81.73% 0.07 287.6deg);
	--color-tertiary-300: oklch(75.39% 0.1 287.3deg);
	--color-tertiary-400: oklch(68.93% 0.12 286deg);
	--color-tertiary-500: oklch(62.5% 0.15 284.38deg);
	--color-tertiary-600: oklch(57.45% 0.13 284.41deg);
	--color-tertiary-700: oklch(52.34% 0.12 284.35deg);
	--color-tertiary-800: oklch(47.04% 0.1 284.37deg);
	--color-tertiary-900: oklch(41.65% 0.09 284.25deg);
	--color-tertiary-950: oklch(36.03% 0.07 284.21deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(95.77% 0.05 152.69deg);
	--color-success-100: oklch(91.59% 0.06 152deg);
	--color-success-200: oklch(87.45% 0.08 152.08deg);
	--color-success-300: oklch(83.57% 0.09 150.85deg);
	--color-success-400: oklch(79.47% 0.11 150.71deg);
	--color-success-500: oklch(75.38% 0.12 149.99deg);
	--color-success-600: oklch(67.65% 0.11 149.94deg);
	--color-success-700: oklch(59.71% 0.09 150.42deg);
	--color-success-800: oklch(51.74% 0.08 150.24deg);
	--color-success-900: oklch(43.2% 0.06 151.12deg);
	--color-success-950: oklch(34.2% 0.04 151.44deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(95.02% 0.03 72.47deg);
	--color-warning-100: oklch(89.44% 0.06 70.84deg);
	--color-warning-200: oklch(84.04% 0.09 69.55deg);
	--color-warning-300: oklch(79.06% 0.12 68.37deg);
	--color-warning-400: oklch(74.22% 0.15 64.67deg);
	--color-warning-500: oklch(69.79% 0.16 58.22deg);
	--color-warning-600: oklch(63.66% 0.15 58.47deg);
	--color-warning-700: oklch(57.2% 0.13 58.22deg);
	--color-warning-800: oklch(50.73% 0.12 58.57deg);
	--color-warning-900: oklch(43.87% 0.1 58.37deg);
	--color-warning-950: oklch(36.91% 0.09 59.09deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(90.76% 0.02 6.73deg);
	--color-error-100: oklch(80.16% 0.05 8.37deg);
	--color-error-200: oklch(69.58% 0.08 8.86deg);
	--color-error-300: oklch(59.33% 0.11 11.88deg);
	--color-error-400: oklch(49.64% 0.14 14.93deg);
	--color-error-500: oklch(41.76% 0.16 21.54deg);
	--color-error-600: oklch(38.3% 0.15 22.05deg);
	--color-error-700: oklch(34.55% 0.13 22.55deg);
	--color-error-800: oklch(30.9% 0.12 22.63deg);
	--color-error-900: oklch(26.83% 0.1 22.98deg);
	--color-error-950: oklch(22.71% 0.09 23.71deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(98.18% 0.01 308.72deg);
	--color-surface-100: oklch(95.48% 0.01 306.17deg);
	--color-surface-200: oklch(90.72% 0.03 307.1deg);
	--color-surface-300: oklch(83.26% 0.05 307.83deg);
	--color-surface-400: oklch(65.99% 0.1 306deg);
	--color-surface-500: oklch(49.67% 0.14 304.12deg);
	--color-surface-600: oklch(39.43% 0.1 304.38deg);
	--color-surface-700: oklch(32.09% 0.08 303.77deg);
	--color-surface-800: oklch(23.14% 0.05 304.85deg);
	--color-surface-900: oklch(16.6% 0.03 308.28deg);
	--color-surface-950: oklch(10.09% 0.05 307.48deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
