[data-theme='pine'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: var(--color-primary-800);
	--heading-font-color-dark: var(--color-primary-300);
	--heading-font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
	--heading-font-weight: inherit;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-secondary-400);
	--anchor-font-color-dark: var(--color-secondary-100);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: normal;
	--anchor-font-style: normal;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(94% 0.04 73.73deg);
	--color-primary-100: oklch(87.73% 0.05 75.59deg);
	--color-primary-200: oklch(81.57% 0.06 78.51deg);
	--color-primary-300: oklch(75.14% 0.06 78.5deg);
	--color-primary-400: oklch(68.79% 0.07 80.12deg);
	--color-primary-500: oklch(62.15% 0.08 79.85deg);
	--color-primary-600: oklch(57.47% 0.08 80.81deg);
	--color-primary-700: oklch(52.58% 0.07 83deg);
	--color-primary-800: oklch(47.45% 0.06 83.48deg);
	--color-primary-900: oklch(42.32% 0.06 86.84deg);
	--color-primary-950: oklch(37.14% 0.05 89.85deg);
	--color-primary-contrast-dark: oklch(0% 0 none);
	--color-primary-contrast-light: oklch(100% 0 none);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(75.37% 0.13 342.36deg);
	--color-secondary-100: oklch(67.14% 0.13 343.16deg);
	--color-secondary-200: oklch(58.72% 0.12 343.51deg);
	--color-secondary-300: oklch(50.03% 0.12 344.44deg);
	--color-secondary-400: oklch(41.1% 0.11 345.31deg);
	--color-secondary-500: oklch(31.9% 0.11 347.8deg);
	--color-secondary-600: oklch(31.08% 0.1 347.17deg);
	--color-secondary-700: oklch(30.22% 0.09 347.48deg);
	--color-secondary-800: oklch(29.36% 0.09 346.31deg);
	--color-secondary-900: oklch(28.52% 0.08 346.67deg);
	--color-secondary-950: oklch(27.73% 0.08 345.86deg);
	--color-secondary-contrast-dark: oklch(0% 0 none);
	--color-secondary-contrast-light: oklch(100% 0 none);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-light);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(94.34% 0.01 106.56deg);
	--color-tertiary-100: oklch(88.02% 0.01 101.97deg);
	--color-tertiary-200: oklch(81.69% 0.02 106.7deg);
	--color-tertiary-300: oklch(75.14% 0.02 102.87deg);
	--color-tertiary-400: oklch(68.54% 0.02 106.87deg);
	--color-tertiary-500: oklch(61.68% 0.02 103.61deg);
	--color-tertiary-600: oklch(56.31% 0.02 103.04deg);
	--color-tertiary-700: oklch(50.78% 0.02 102.71deg);
	--color-tertiary-800: oklch(44.79% 0.01 101.04deg);
	--color-tertiary-900: oklch(38.91% 0.01 100.24deg);
	--color-tertiary-950: oklch(32.82% 0.01 97.56deg);
	--color-tertiary-contrast-dark: oklch(0% 0 none);
	--color-tertiary-contrast-light: oklch(100% 0 none);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(71.46% 0.07 200.66deg);
	--color-success-100: oklch(65.95% 0.07 196.69deg);
	--color-success-200: oklch(60.45% 0.08 193.03deg);
	--color-success-300: oklch(54.6% 0.08 189.42deg);
	--color-success-400: oklch(49.08% 0.08 185.64deg);
	--color-success-500: oklch(43.57% 0.08 181.34deg);
	--color-success-600: oklch(41.12% 0.07 182.63deg);
	--color-success-700: oklch(38.65% 0.06 184.19deg);
	--color-success-800: oklch(35.92% 0.05 189.57deg);
	--color-success-900: oklch(33.49% 0.05 192.97deg);
	--color-success-950: oklch(31.14% 0.03 198.54deg);
	--color-success-contrast-dark: oklch(0% 0 none);
	--color-success-contrast-light: oklch(100% 0 none);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-light);
	--color-success-contrast-400: var(--color-success-contrast-light);
	--color-success-contrast-500: var(--color-success-contrast-light);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(94.82% 0.05 78.84deg);
	--color-warning-100: oklch(91.74% 0.07 78.31deg);
	--color-warning-200: oklch(88.71% 0.09 78.11deg);
	--color-warning-300: oklch(85.87% 0.11 78.6deg);
	--color-warning-400: oklch(83.02% 0.13 77.38deg);
	--color-warning-500: oklch(80.29% 0.14 75.34deg);
	--color-warning-600: oklch(72.04% 0.13 76.24deg);
	--color-warning-700: oklch(63.67% 0.11 76.81deg);
	--color-warning-800: oklch(54.71% 0.08 77.03deg);
	--color-warning-900: oklch(45.73% 0.06 77.56deg);
	--color-warning-950: oklch(36.25% 0.03 79.67deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(91.32% 0.04 29.94deg);
	--color-error-100: oklch(86.37% 0.06 30.9deg);
	--color-error-200: oklch(81.27% 0.08 30.47deg);
	--color-error-300: oklch(76.57% 0.1 30.38deg);
	--color-error-400: oklch(71.68% 0.12 30.54deg);
	--color-error-500: oklch(67.12% 0.14 31.43deg);
	--color-error-600: oklch(60.43% 0.12 31.18deg);
	--color-error-700: oklch(53.38% 0.1 31.65deg);
	--color-error-800: oklch(46.09% 0.09 30.35deg);
	--color-error-900: oklch(38.52% 0.07 30.88deg);
	--color-error-950: oklch(30.76% 0.05 29.92deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(88.66% 0.01 121.61deg);
	--color-surface-100: oklch(82.52% 0.02 123.96deg);
	--color-surface-200: oklch(76.19% 0.03 127.63deg);
	--color-surface-300: oklch(70.02% 0.04 128.16deg);
	--color-surface-400: oklch(63.44% 0.04 129.91deg);
	--color-surface-500: oklch(56.78% 0.05 130.07deg);
	--color-surface-600: oklch(50.82% 0.04 130.16deg);
	--color-surface-700: oklch(44.67% 0.04 130.28deg);
	--color-surface-800: oklch(38.03% 0.03 129.43deg);
	--color-surface-900: oklch(31.37% 0.03 129.41deg);
	--color-surface-950: oklch(24.33% 0.02 129.39deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
