[data-theme='reign'] {
	--text-scaling: 1.067;
	--base-font-color: oklch(0 0 0 / 1);
	--base-font-color-dark: oklch(1 0 0 / 1);
	--base-font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	--base-font-size: 18px;
	--base-line-height: inherit;
	--base-font-weight: lighter;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: 0.025em;
	--anchor-font-color: var(--color-surface-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: underline;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-100);
	--body-background-color-dark: var(--color-surface-700);
	--color-primary-50: oklch(97.29% 0.11 109.38deg);
	--color-primary-100: oklch(96.77% 0.13 109.49deg);
	--color-primary-200: oklch(96.22% 0.14 110.06deg);
	--color-primary-300: oklch(95.75% 0.15 110.15deg);
	--color-primary-400: oklch(95.24% 0.16 110.62deg);
	--color-primary-500: oklch(94.82% 0.17 110.7deg);
	--color-primary-600: oklch(93.36% 0.17 110.73deg);
	--color-primary-700: oklch(91.9% 0.17 110.75deg);
	--color-primary-800: oklch(90.51% 0.17 110.41deg);
	--color-primary-900: oklch(89.04% 0.16 110.43deg);
	--color-primary-950: oklch(87.56% 0.16 110.46deg);
	--color-primary-contrast-dark: oklch(0% 0 none);
	--color-primary-contrast-light: var(--color-surface-500);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(97.29% 0.11 109.38deg);
	--color-secondary-100: oklch(96.77% 0.13 109.49deg);
	--color-secondary-200: oklch(96.22% 0.14 110.06deg);
	--color-secondary-300: oklch(95.75% 0.15 110.15deg);
	--color-secondary-400: oklch(95.24% 0.16 110.62deg);
	--color-secondary-500: oklch(94.82% 0.17 110.7deg);
	--color-secondary-600: oklch(93.36% 0.17 110.73deg);
	--color-secondary-700: oklch(91.9% 0.17 110.75deg);
	--color-secondary-800: oklch(90.51% 0.17 110.41deg);
	--color-secondary-900: oklch(89.04% 0.16 110.43deg);
	--color-secondary-950: oklch(87.56% 0.16 110.46deg);
	--color-secondary-contrast-dark: oklch(0% 0 none);
	--color-secondary-contrast-light: var(--color-surface-500);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(97.29% 0.11 109.38deg);
	--color-tertiary-100: oklch(96.77% 0.13 109.49deg);
	--color-tertiary-200: oklch(96.22% 0.14 110.06deg);
	--color-tertiary-300: oklch(95.75% 0.15 110.15deg);
	--color-tertiary-400: oklch(95.24% 0.16 110.62deg);
	--color-tertiary-500: oklch(94.82% 0.17 110.7deg);
	--color-tertiary-600: oklch(93.36% 0.17 110.73deg);
	--color-tertiary-700: oklch(91.9% 0.17 110.75deg);
	--color-tertiary-800: oklch(90.51% 0.17 110.41deg);
	--color-tertiary-900: oklch(89.04% 0.16 110.43deg);
	--color-tertiary-950: oklch(87.56% 0.16 110.46deg);
	--color-tertiary-contrast-dark: oklch(0% 0 none);
	--color-tertiary-contrast-light: var(--color-surface-500);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(99.04% 0.05 107.24deg);
	--color-success-100: oklch(97.29% 0.08 116.69deg);
	--color-success-200: oklch(95.53% 0.11 120.22deg);
	--color-success-300: oklch(93.99% 0.14 123.09deg);
	--color-success-400: oklch(92.42% 0.17 124.73deg);
	--color-success-500: oklch(90.16% 0.17 125.26deg);
	--color-success-600: oklch(85.74% 0.17 126.35deg);
	--color-success-700: oklch(80.25% 0.15 126.39deg);
	--color-success-800: oklch(74.52% 0.13 125.95deg);
	--color-success-900: oklch(68.86% 0.11 126.18deg);
	--color-success-950: oklch(63.2% 0.08 126.35deg);
	--color-success-contrast-dark: oklch(0% 0 none);
	--color-success-contrast-light: oklch(100% 0 none);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(95.6% 0.05 86.34deg);
	--color-warning-100: oklch(93.97% 0.06 85.5deg);
	--color-warning-200: oklch(92.54% 0.07 86.52deg);
	--color-warning-300: oklch(90.93% 0.08 85.8deg);
	--color-warning-400: oklch(89.52% 0.09 86.44deg);
	--color-warning-500: oklch(87.95% 0.1 85.73deg);
	--color-warning-600: oklch(86.14% 0.1 85.42deg);
	--color-warning-700: oklch(84.5% 0.1 86.27deg);
	--color-warning-800: oklch(82.76% 0.1 85.32deg);
	--color-warning-900: oklch(81.11% 0.1 86.16deg);
	--color-warning-950: oklch(79.26% 0.1 85.84deg);
	--color-warning-contrast-dark: oklch(0% 0 none);
	--color-warning-contrast-light: oklch(100% 0 none);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(97.46% 0.01 41.28deg);
	--color-error-100: oklch(95.74% 0.02 38.21deg);
	--color-error-200: oklch(91.5% 0.04 39.93deg);
	--color-error-300: oklch(87.18% 0.06 37.71deg);
	--color-error-400: oklch(83.12% 0.08 38.66deg);
	--color-error-500: oklch(79.21% 0.1 38.55deg);
	--color-error-600: oklch(77.43% 0.1 38.97deg);
	--color-error-700: oklch(75.78% 0.09 38.47deg);
	--color-error-800: oklch(73.99% 0.09 38.95deg);
	--color-error-900: oklch(72.33% 0.08 38.36deg);
	--color-error-950: oklch(68.81% 0.08 39.22deg);
	--color-error-contrast-dark: oklch(0% 0 none);
	--color-error-contrast-light: oklch(100% 0 none);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(96.24% 0 164.22deg);
	--color-surface-100: oklch(84.03% 0 164.35deg);
	--color-surface-200: oklch(71.38% 0 196.53deg);
	--color-surface-300: oklch(57.98% 0 286.84deg);
	--color-surface-400: oklch(43.93% 0 286.44deg);
	--color-surface-500: oklch(28.58% 0 286.27deg);
	--color-surface-600: oklch(32.18% 0 286.32deg);
	--color-surface-700: oklch(35.65% 0 286.57deg);
	--color-surface-800: oklch(39.08% 0 286.62deg);
	--color-surface-900: oklch(42.39% 0 none);
	--color-surface-950: oklch(45.68% 0 none);
	--color-surface-contrast-dark: oklch(0% 0 none);
	--color-surface-contrast-light: oklch(100% 0 none);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
