[data-theme='rocket'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
	--heading-font-weight: lighter;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-600);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: oklch(1 0 0 / 1);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(95.11% 0.03 211.57deg);
	--color-primary-100: oklch(89.65% 0.06 209.91deg);
	--color-primary-200: oklch(84.27% 0.08 209.95deg);
	--color-primary-300: oklch(79.6% 0.11 210.67deg);
	--color-primary-400: oklch(75.13% 0.12 212.31deg);
	--color-primary-500: oklch(71.48% 0.13 215.21deg);
	--color-primary-600: oklch(64.97% 0.11 214.79deg);
	--color-primary-700: oklch(58.04% 0.1 215.21deg);
	--color-primary-800: oklch(51.15% 0.09 214.62deg);
	--color-primary-900: oklch(43.76% 0.08 215.22deg);
	--color-primary-950: oklch(36.34% 0.06 214.48deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(90.39% 0.04 262.14deg);
	--color-secondary-100: oklch(84.43% 0.07 261.23deg);
	--color-secondary-200: oklch(78.58% 0.1 261.05deg);
	--color-secondary-300: oklch(72.98% 0.13 259.62deg);
	--color-secondary-400: oklch(67.5% 0.16 259.73deg);
	--color-secondary-500: oklch(62.31% 0.19 259.81deg);
	--color-secondary-600: oklch(56.67% 0.17 259.62deg);
	--color-secondary-700: oklch(50.88% 0.15 259.38deg);
	--color-secondary-800: oklch(45.27% 0.14 259.05deg);
	--color-secondary-900: oklch(39.12% 0.12 258.61deg);
	--color-secondary-950: oklch(32.73% 0.1 257.99deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(90.9% 0.05 308.41deg);
	--color-tertiary-100: oklch(84.93% 0.09 307.99deg);
	--color-tertiary-200: oklch(78.99% 0.13 306.89deg);
	--color-tertiary-300: oklch(73.11% 0.17 306.64deg);
	--color-tertiary-400: oklch(67.63% 0.2 305.25deg);
	--color-tertiary-500: oklch(62.68% 0.23 303.91deg);
	--color-tertiary-600: oklch(57.13% 0.21 304.11deg);
	--color-tertiary-700: oklch(51.32% 0.19 303.9deg);
	--color-tertiary-800: oklch(45.54% 0.16 304.3deg);
	--color-tertiary-900: oklch(39.39% 0.13 304.01deg);
	--color-tertiary-950: oklch(33.13% 0.1 304.38deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(95.46% 0.05 135.76deg);
	--color-success-100: oklch(90.63% 0.09 136.23deg);
	--color-success-200: oklch(86.02% 0.14 136.64deg);
	--color-success-300: oklch(81.71% 0.18 137.18deg);
	--color-success-400: oklch(77.74% 0.21 138.01deg);
	--color-success-500: oklch(74.17% 0.23 139.28deg);
	--color-success-600: oklch(67.56% 0.21 139.23deg);
	--color-success-700: oklch(61.07% 0.19 139.23deg);
	--color-success-800: oklch(54.16% 0.16 139.07deg);
	--color-success-900: oklch(47.27% 0.14 139.07deg);
	--color-success-950: oklch(39.83% 0.12 139.03deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(97.2% 0.03 94.02deg);
	--color-warning-100: oklch(94.07% 0.07 92.41deg);
	--color-warning-200: oklch(91.26% 0.1 92.56deg);
	--color-warning-300: oklch(88.49% 0.13 90.94deg);
	--color-warning-400: oklch(85.95% 0.15 90.22deg);
	--color-warning-500: oklch(83.38% 0.16 87.97deg);
	--color-warning-600: oklch(76.76% 0.15 88.43deg);
	--color-warning-700: oklch(70% 0.13 89.01deg);
	--color-warning-800: oklch(63.39% 0.12 89.83deg);
	--color-warning-900: oklch(56.27% 0.11 90.82deg);
	--color-warning-950: oklch(48.93% 0.09 92.19deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(91.53% 0.03 354.83deg);
	--color-error-100: oklch(82.96% 0.06 357.86deg);
	--color-error-200: oklch(74.51% 0.09 359.04deg);
	--color-error-300: oklch(66.39% 0.12 1.65deg);
	--color-error-400: oklch(58.7% 0.15 3.98deg);
	--color-error-500: oklch(51.95% 0.17 8.24deg);
	--color-error-600: oklch(47.94% 0.16 8.02deg);
	--color-error-700: oklch(44.05% 0.15 7.39deg);
	--color-error-800: oklch(39.86% 0.13 7deg);
	--color-error-900: oklch(35.77% 0.12 6.01deg);
	--color-error-950: oklch(31.35% 0.1 5.2deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(93.67% 0.01 264.6deg);
	--color-surface-100: oklch(86.3% 0.01 264.53deg);
	--color-surface-200: oklch(78.92% 0.02 256.3deg);
	--color-surface-300: oklch(71.27% 0.03 259.82deg);
	--color-surface-400: oklch(63.53% 0.03 256.06deg);
	--color-surface-500: oklch(55.44% 0.04 257.42deg);
	--color-surface-600: oklch(51.28% 0.04 256.82deg);
	--color-surface-700: oklch(46.75% 0.03 257.79deg);
	--color-surface-800: oklch(42.39% 0.03 257.09deg);
	--color-surface-900: oklch(37.62% 0.03 258.36deg);
	--color-surface-950: oklch(33.01% 0.03 257.52deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
