/* https://github.com/rose-pine/ */

[data-theme='rosepine'] {
	--text-scaling: 1;
	--typo-base--font-family: system-ui, sans-serif;
	--typo-base--font-size: inherit;
	--typo-base--color-light: var(--color-secondary-950);
	--typo-base--color-dark: var(--color-surface-100);
	--typo-base--line-height: inherit;
	--typo-base--font-weight: normal;
	--typo-base--font-style: normal;
	--typo-base--letter-spacing: 0em;
	--typo-base--font-stretch: inherit;
	--typo-base--font-kerning: inherit;
	--typo-base--text-shadow: inherit;
	--typo-base--word-spacing: inherit;
	--typo-base--hyphens: inherit;
	--typo-base--text-transform: inherit;
	--typo-heading--font-family: system-ui, sans-serif;
	--typo-heading--color-light: var(--color-secondary-950);
	--typo-heading--color-dark: var(--color-surface-50);
	--typo-heading--font-weight: 500;
	--typo-heading--font-style: normal;
	--typo-heading--letter-spacing: inherit;
	--typo-heading--font-stretch: inherit;
	--typo-heading--font-kerning: inherit;
	--typo-heading--text-shadow: inherit;
	--typo-heading--word-spacing: inherit;
	--typo-heading--hyphens: inherit;
	--typo-heading--text-transform: inherit;
	--typo-anchor--font-family: inherit;
	--typo-anchor--font-size: inherit;
	--typo-anchor--color-light: var(--color-primary-600);
	--typo-anchor--color-dark: var(--color-primary-400);
	--typo-anchor--line-height: inherit;
	--typo-anchor--font-weight: inherit;
	--typo-anchor--font-style: inherit;
	--typo-anchor--letter-spacing: inherit;
	--typo-anchor--font-stretch: inherit;
	--typo-anchor--font-kerning: inherit;
	--typo-anchor--text-shadow: inherit;
	--typo-anchor--word-spacing: inherit;
	--typo-anchor--hyphens: inherit;
	--typo-anchor--text-transform: inherit;
	--typo-anchor--text-decoration-line: none;
	--typo-anchor--text-decoration-color: inherit;
	--typo-anchor--text-decoration-style: inherit;
	--typo-anchor--text-decoration-thickness: inherit;
	--typo-anchor--text-underline-offset: inherit;
	--typo-anchor--text-underline-position: inherit;
	--typo-anchor--hover--text-decoration-line: underline;
	--typo-anchor--hover--text-decoration-color: inherit;
	--typo-anchor--hover--text-decoration-style: solid;
	--typo-anchor--hover--text-decoration-thickness: 2px;
	--typo-anchor--hover--text-underline-offset: 2px;
	--typo-anchor--hover--text-underline-position: inherit;
	--typo-anchor--active--text-decoration-line: none;
	--typo-anchor--active--text-decoration-color: inherit;
	--typo-anchor--active--text-decoration-style: inherit;
	--typo-anchor--active--text-decoration-thickness: inherit;
	--typo-anchor--active--text-underline-offset: inherit;
	--typo-anchor--active--text-underline-position: inherit;
	--typo-anchor--focus--text-decoration-line: none;
	--typo-anchor--focus--text-decoration-color: inherit;
	--typo-anchor--focus--text-decoration-style: inherit;
	--typo-anchor--focus--text-decoration-thickness: inherit;
	--typo-anchor--focus--text-underline-offset: inherit;
	--typo-anchor--focus--text-underline-position: inherit;
	--spacing: 0.25rem;
	--radius-base: 9999rem;
	--radius-container: 1.5rem;
	--default-border-width: 1px;
	--default-ring-width: 1px;
	--default-outline-width: 1px;
	--corner-shape-base: round;
	--corner-shape-container: squircle;
	--color-root-bg-light: var(--color-surface-50);
	--color-root-bg-dark: var(--color-surface-950);
	--color-brand-light: var(--color-primary-500);
	--color-brand-contrast-light: var(--color-primary-contrast-500);
	--color-brand-dark: var(--color-primary-500);
	--color-brand-contrast-dark: var(--color-primary-contrast-500);
	--color-primary-50: oklch(94.01% 0.07 201.51deg);
	--color-primary-100: oklch(86.07% 0.07 207.14deg);
	--color-primary-200: oklch(78.2% 0.07 211.6deg);
	--color-primary-300: oklch(69.91% 0.07 216.38deg);
	--color-primary-400: oklch(61.7% 0.08 221.08deg);
	--color-primary-500: oklch(53.06% 0.08 227.38deg);
	--color-primary-600: oklch(49.7% 0.08 227.33deg);
	--color-primary-700: oklch(46.35% 0.08 228.4deg);
	--color-primary-800: oklch(42.94% 0.07 228.88deg);
	--color-primary-900: oklch(39.51% 0.07 230.44deg);
	--color-primary-950: oklch(35.97% 0.07 231.24deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-light);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(93.96% 0.05 324.03deg);
	--color-secondary-100: oklch(90.82% 0.06 318.92deg);
	--color-secondary-200: oklch(87.67% 0.07 314.8deg);
	--color-secondary-300: oklch(84.41% 0.07 310.56deg);
	--color-secondary-400: oklch(81.22% 0.08 307.76deg);
	--color-secondary-500: oklch(78.02% 0.09 305.36deg);
	--color-secondary-600: oklch(70.21% 0.09 305.14deg);
	--color-secondary-700: oklch(61.96% 0.09 305.66deg);
	--color-secondary-800: oklch(53.69% 0.09 305.33deg);
	--color-secondary-900: oklch(44.88% 0.09 305.72deg);
	--color-secondary-950: oklch(35.95% 0.09 304.99deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(93.12% 0.03 22.83deg);
	--color-tertiary-100: oklch(91.26% 0.03 22.38deg);
	--color-tertiary-200: oklch(89.48% 0.04 21.93deg);
	--color-tertiary-300: oklch(87.62% 0.04 21.68deg);
	--color-tertiary-400: oklch(85.83% 0.05 21.42deg);
	--color-tertiary-500: oklch(83.96% 0.05 21.29deg);
	--color-tertiary-600: oklch(75% 0.05 21.53deg);
	--color-tertiary-700: oklch(65.8% 0.05 20.17deg);
	--color-tertiary-800: oklch(56.25% 0.05 20.47deg);
	--color-tertiary-900: oklch(46.33% 0.05 19.11deg);
	--color-tertiary-950: oklch(35.88% 0.05 19.81deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(95.01% 0.05 205.51deg);
	--color-success-100: oklch(92.4% 0.05 207.23deg);
	--color-success-200: oklch(89.98% 0.05 207.24deg);
	--color-success-300: oklch(87.23% 0.05 207.24deg);
	--color-success-400: oklch(84.78% 0.05 207.25deg);
	--color-success-500: oklch(82.09% 0.05 209.04deg);
	--color-success-600: oklch(73.35% 0.05 209.36deg);
	--color-success-700: oklch(64.62% 0.05 209.45deg);
	--color-success-800: oklch(55.29% 0.05 209.64deg);
	--color-success-900: oklch(45.97% 0.05 210deg);
	--color-success-950: oklch(35.96% 0.05 211.23deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(91.91% 0.1 90.04deg);
	--color-warning-100: oklch(90.27% 0.1 86.66deg);
	--color-warning-200: oklch(88.61% 0.1 83.58deg);
	--color-warning-300: oklch(87.26% 0.11 80.6deg);
	--color-warning-400: oklch(85.61% 0.11 77.7deg);
	--color-warning-500: oklch(83.99% 0.11 74.58deg);
	--color-warning-600: oklch(74.99% 0.11 72.78deg);
	--color-warning-700: oklch(65.75% 0.1 70.21deg);
	--color-warning-800: oklch(56.1% 0.1 67.94deg);
	--color-warning-900: oklch(46.25% 0.09 63.46deg);
	--color-warning-950: oklch(36.01% 0.09 57.34deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(87.1% 0.08 345.64deg);
	--color-error-100: oklch(83.51% 0.09 351.39deg);
	--color-error-200: oklch(79.86% 0.11 354.88deg);
	--color-error-300: oklch(76.45% 0.13 358.74deg);
	--color-error-400: oklch(73.04% 0.14 1.21deg);
	--color-error-500: oklch(69.91% 0.16 4.32deg);
	--color-error-600: oklch(63.2% 0.16 3.64deg);
	--color-error-700: oklch(56.47% 0.16 3.27deg);
	--color-error-800: oklch(49.65% 0.16 3.15deg);
	--color-error-900: oklch(43.17% 0.16 4.1deg);
	--color-error-950: oklch(36.99% 0.15 6.37deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-dark);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(96.94% 0.01 72.66deg);
	--color-surface-100: oklch(89.73% 0.01 61.49deg);
	--color-surface-200: oklch(82.3% 0.01 48.81deg);
	--color-surface-300: oklch(74.8% 0 0.38deg);
	--color-surface-400: oklch(67% 0.01 325.9deg);
	--color-surface-500: oklch(59.06% 0.01 312.4deg);
	--color-surface-600: oklch(52.15% 0.01 299.12deg);
	--color-surface-700: oklch(44.83% 0.01 301.01deg);
	--color-surface-800: oklch(37.39% 0.02 293.84deg);
	--color-surface-900: oklch(29.38% 0.02 295.51deg);
	--color-surface-950: oklch(21.02% 0.03 289.74deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
