[data-theme='rose'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: var(--color-secondary-900);
	--heading-font-color-dark: var(--color-secondary-100);
	--heading-font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	--heading-font-weight: normal;
	--heading-font-style: normal;
	--heading-letter-spacing: 0.025em;
	--anchor-font-color: var(--color-primary-700);
	--anchor-font-color-dark: var(--color-primary-300);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: normal;
	--anchor-font-style: normal;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(98.84% 0.01 325.87deg);
	--color-primary-100: oklch(92.93% 0.03 340.64deg);
	--color-primary-200: oklch(87.07% 0.05 342.86deg);
	--color-primary-300: oklch(81.16% 0.08 345.32deg);
	--color-primary-400: oklch(75.46% 0.1 346.37deg);
	--color-primary-500: oklch(69.89% 0.13 348.12deg);
	--color-primary-600: oklch(63.65% 0.11 347.4deg);
	--color-primary-700: oklch(57.25% 0.1 346.44deg);
	--color-primary-800: oklch(50.34% 0.08 345.11deg);
	--color-primary-900: oklch(43.55% 0.07 343deg);
	--color-primary-950: oklch(36.5% 0.05 339.28deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(86.05% 0.08 297.02deg);
	--color-secondary-100: oklch(77.99% 0.1 289.95deg);
	--color-secondary-200: oklch(69.79% 0.13 285.81deg);
	--color-secondary-300: oklch(61.82% 0.16 281.24deg);
	--color-secondary-400: oklch(53.93% 0.2 277.3deg);
	--color-secondary-500: oklch(46.75% 0.22 272.16deg);
	--color-secondary-600: oklch(44.25% 0.2 273.25deg);
	--color-secondary-700: oklch(41.8% 0.17 274.56deg);
	--color-secondary-800: oklch(39.69% 0.14 276.3deg);
	--color-secondary-900: oklch(37.44% 0.11 278.16deg);
	--color-secondary-950: oklch(35.34% 0.08 280.43deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: oklch(100% 0 none);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(91.02% 0.03 283.86deg);
	--color-tertiary-100: oklch(88.62% 0.04 287.09deg);
	--color-tertiary-200: oklch(85.94% 0.05 289.02deg);
	--color-tertiary-300: oklch(83.53% 0.06 290.39deg);
	--color-tertiary-400: oklch(80.83% 0.07 291.18deg);
	--color-tertiary-500: oklch(78.41% 0.08 291.85deg);
	--color-tertiary-600: oklch(70.11% 0.07 291.76deg);
	--color-tertiary-700: oklch(61.64% 0.06 289.88deg);
	--color-tertiary-800: oklch(52.79% 0.06 289.43deg);
	--color-tertiary-900: oklch(43.63% 0.05 285.98deg);
	--color-tertiary-950: oklch(33.87% 0.04 284.17deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: oklch(100% 0 none);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(94.94% 0.03 193.62deg);
	--color-success-100: oklch(90.96% 0.03 194.03deg);
	--color-success-200: oklch(86.99% 0.04 196.47deg);
	--color-success-300: oklch(83.03% 0.04 196.36deg);
	--color-success-400: oklch(78.99% 0.05 198.01deg);
	--color-success-500: oklch(74.9% 0.05 197.71deg);
	--color-success-600: oklch(68.18% 0.04 207.57deg);
	--color-success-700: oklch(61.23% 0.04 220.28deg);
	--color-success-800: oklch(54.13% 0.04 234.71deg);
	--color-success-900: oklch(46.77% 0.04 251.34deg);
	--color-success-950: oklch(39.23% 0.04 267.48deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: oklch(100% 0 none);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(95.05% 0.04 89.08deg);
	--color-warning-100: oklch(93.14% 0.07 89.33deg);
	--color-warning-200: oklch(91.3% 0.09 89.53deg);
	--color-warning-300: oklch(89.39% 0.12 88.39deg);
	--color-warning-400: oklch(87.77% 0.14 87.88deg);
	--color-warning-500: oklch(86.28% 0.15 86.64deg);
	--color-warning-600: oklch(77.23% 0.13 85.95deg);
	--color-warning-700: oklch(67.92% 0.11 84.82deg);
	--color-warning-800: oklch(58.62% 0.09 83.05deg);
	--color-warning-900: oklch(48.62% 0.06 78.54deg);
	--color-warning-950: oklch(38.16% 0.03 62.96deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: oklch(100% 0 none);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(85% 0.08 340.19deg);
	--color-error-100: oklch(81.23% 0.09 352.41deg);
	--color-error-200: oklch(77.38% 0.1 1.51deg);
	--color-error-300: oklch(73.88% 0.11 10.23deg);
	--color-error-400: oklch(70.25% 0.13 15.98deg);
	--color-error-500: oklch(66.92% 0.14 21.65deg);
	--color-error-600: oklch(61.21% 0.13 12.87deg);
	--color-error-700: oklch(55.42% 0.12 2.77deg);
	--color-error-800: oklch(49.6% 0.12 349.78deg);
	--color-error-900: oklch(43.73% 0.12 335.83deg);
	--color-error-950: oklch(38.01% 0.13 321.16deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: oklch(100% 0 none);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(96.76% 0.01 318.08deg);
	--color-surface-100: oklch(89.43% 0.01 322.48deg);
	--color-surface-200: oklch(81.95% 0.02 323.72deg);
	--color-surface-300: oklch(74.42% 0.03 325.97deg);
	--color-surface-400: oklch(66.63% 0.04 326.1deg);
	--color-surface-500: oklch(58.65% 0.06 326.28deg);
	--color-surface-600: oklch(52.51% 0.05 324.99deg);
	--color-surface-700: oklch(46.18% 0.04 323.16deg);
	--color-surface-800: oklch(39.81% 0.03 321.83deg);
	--color-surface-900: oklch(33% 0.02 316.85deg);
	--color-surface-950: oklch(25.82% 0.01 304.87deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
