[data-theme='sahara'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0.025em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
	--heading-font-weight: normal;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-tertiary-800);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(91.62% 0.04 80.3deg);
	--color-primary-100: oklch(88.74% 0.07 80.84deg);
	--color-primary-200: oklch(85.97% 0.09 80.37deg);
	--color-primary-300: oklch(83.19% 0.11 80.38deg);
	--color-primary-400: oklch(80.63% 0.13 78.92deg);
	--color-primary-500: oklch(78.19% 0.15 76.87deg);
	--color-primary-600: oklch(74.03% 0.14 75.83deg);
	--color-primary-700: oklch(69.63% 0.13 73.95deg);
	--color-primary-800: oklch(65.34% 0.13 72.73deg);
	--color-primary-900: oklch(60.81% 0.12 70.35deg);
	--color-primary-950: oklch(56.39% 0.12 68.46deg);
	--color-primary-contrast-dark: oklch(0% 0 none);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(92.18% 0.03 194.04deg);
	--color-secondary-100: oklch(88.48% 0.05 190.34deg);
	--color-secondary-200: oklch(85.19% 0.08 187.46deg);
	--color-secondary-300: oklch(81.96% 0.09 186.93deg);
	--color-secondary-400: oklch(79.12% 0.11 184.89deg);
	--color-secondary-500: oklch(76.32% 0.12 183.49deg);
	--color-secondary-600: oklch(70.06% 0.11 183.71deg);
	--color-secondary-700: oklch(63.6% 0.1 183.21deg);
	--color-secondary-800: oklch(56.77% 0.09 184.29deg);
	--color-secondary-900: oklch(49.94% 0.08 183.71deg);
	--color-secondary-950: oklch(42.93% 0.07 184.14deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(92.13% 0.03 125.15deg);
	--color-tertiary-100: oklch(90.83% 0.05 125.1deg);
	--color-tertiary-200: oklch(89.46% 0.07 125.79deg);
	--color-tertiary-300: oklch(88.21% 0.09 125.93deg);
	--color-tertiary-400: oklch(86.91% 0.1 126.5deg);
	--color-tertiary-500: oklch(85.72% 0.12 126.76deg);
	--color-tertiary-600: oklch(78.44% 0.11 126.76deg);
	--color-tertiary-700: oklch(71.21% 0.1 127.12deg);
	--color-tertiary-800: oklch(63.6% 0.09 126.32deg);
	--color-tertiary-900: oklch(55.96% 0.08 126.72deg);
	--color-tertiary-950: oklch(47.78% 0.07 126.72deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(92.63% 0.03 122.63deg);
	--color-success-100: oklch(89.09% 0.07 124.91deg);
	--color-success-200: oklch(85.69% 0.12 126.01deg);
	--color-success-300: oklch(82.52% 0.15 127.33deg);
	--color-success-400: oklch(79.55% 0.19 128.82deg);
	--color-success-500: oklch(76.81% 0.2 130.85deg);
	--color-success-600: oklch(70.53% 0.19 130.9deg);
	--color-success-700: oklch(63.85% 0.17 130.77deg);
	--color-success-800: oklch(57.25% 0.15 130.83deg);
	--color-success-900: oklch(50.18% 0.13 130.59deg);
	--color-success-950: oklch(43.13% 0.12 130.51deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(93.26% 0.06 94.56deg);
	--color-warning-100: oklch(91.02% 0.07 93.19deg);
	--color-warning-200: oklch(88.78% 0.09 92.44deg);
	--color-warning-300: oklch(86.5% 0.1 92.21deg);
	--color-warning-400: oklch(84.33% 0.12 91.47deg);
	--color-warning-500: oklch(82.22% 0.13 90.47deg);
	--color-warning-600: oklch(75.44% 0.12 90.62deg);
	--color-warning-700: oklch(68.29% 0.11 90.16deg);
	--color-warning-800: oklch(61.07% 0.1 91.06deg);
	--color-warning-900: oklch(53.51% 0.08 90.51deg);
	--color-warning-950: oklch(45.9% 0.07 90.82deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(90.58% 0.04 348.92deg);
	--color-error-100: oklch(85.27% 0.06 348.16deg);
	--color-error-200: oklch(79.87% 0.09 348.8deg);
	--color-error-300: oklch(74.74% 0.12 349.03deg);
	--color-error-400: oklch(69.77% 0.15 350.31deg);
	--color-error-500: oklch(65.35% 0.17 351.55deg);
	--color-error-600: oklch(60.74% 0.17 351.86deg);
	--color-error-700: oklch(56.21% 0.16 352.52deg);
	--color-error-800: oklch(51.44% 0.15 353.56deg);
	--color-error-900: oklch(46.79% 0.15 354.57deg);
	--color-error-950: oklch(41.93% 0.14 355.49deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(94.95% 0.02 2.38deg);
	--color-surface-100: oklch(87.73% 0.05 5.32deg);
	--color-surface-200: oklch(80.76% 0.08 7.18deg);
	--color-surface-300: oklch(73.91% 0.11 9.52deg);
	--color-surface-400: oklch(67.64% 0.15 11.53deg);
	--color-surface-500: oklch(61.92% 0.17 14.12deg);
	--color-surface-600: oklch(56.84% 0.16 14.16deg);
	--color-surface-700: oklch(51.79% 0.15 13.98deg);
	--color-surface-800: oklch(46.47% 0.13 14.02deg);
	--color-surface-900: oklch(41.14% 0.12 13.76deg);
	--color-surface-950: oklch(35.48% 0.1 13.78deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
