[data-theme='seafoam'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0.025em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-tertiary-500);
	--anchor-font-color-dark: var(--color-tertiary-300);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(86.35% 0.04 189.19deg);
	--color-primary-100: oklch(85.27% 0.05 188.47deg);
	--color-primary-200: oklch(84.01% 0.06 190.5deg);
	--color-primary-300: oklch(83.02% 0.06 189.62deg);
	--color-primary-400: oklch(81.79% 0.07 191.16deg);
	--color-primary-500: oklch(80.78% 0.07 190.34deg);
	--color-primary-600: oklch(73.85% 0.07 193.39deg);
	--color-primary-700: oklch(67.02% 0.07 195.59deg);
	--color-primary-800: oklch(59.83% 0.07 199.41deg);
	--color-primary-900: oklch(52.66% 0.06 202.3deg);
	--color-primary-950: oklch(45.03% 0.06 207.35deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(91.05% 0.02 272.34deg);
	--color-secondary-100: oklch(80.13% 0.03 267.9deg);
	--color-secondary-200: oklch(68.96% 0.03 267.84deg);
	--color-secondary-300: oklch(57.45% 0.04 263.44deg);
	--color-secondary-400: oklch(45.31% 0.05 263.83deg);
	--color-secondary-500: oklch(32.36% 0.07 262.2deg);
	--color-secondary-600: oklch(30.31% 0.06 260.77deg);
	--color-secondary-700: oklch(28.04% 0.07 261.53deg);
	--color-secondary-800: oklch(26.03% 0.07 260.64deg);
	--color-secondary-900: oklch(23.71% 0.07 261.32deg);
	--color-secondary-950: oklch(21.54% 0.07 259.59deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(90.76% 0.03 37.85deg);
	--color-tertiary-100: oklch(84.09% 0.07 38.61deg);
	--color-tertiary-200: oklch(77.78% 0.12 38.08deg);
	--color-tertiary-300: oklch(72.57% 0.16 38.08deg);
	--color-tertiary-400: oklch(68.22% 0.21 36.8deg);
	--color-tertiary-500: oklch(65.36% 0.23 34.04deg);
	--color-tertiary-600: oklch(60.2% 0.22 33.84deg);
	--color-tertiary-700: oklch(55% 0.2 33.85deg);
	--color-tertiary-800: oklch(49.42% 0.18 33.57deg);
	--color-tertiary-900: oklch(43.94% 0.16 33.5deg);
	--color-tertiary-950: oklch(38.21% 0.14 32.79deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(96.87% 0.04 176.7deg);
	--color-success-100: oklch(92.72% 0.07 174.92deg);
	--color-success-200: oklch(89.03% 0.11 172.37deg);
	--color-success-300: oklch(86.15% 0.14 169.82deg);
	--color-success-400: oklch(83.58% 0.16 166.65deg);
	--color-success-500: oklch(81.59% 0.18 163.19deg);
	--color-success-600: oklch(75.63% 0.16 163.14deg);
	--color-success-700: oklch(69.54% 0.15 163.11deg);
	--color-success-800: oklch(63.06% 0.13 163.38deg);
	--color-success-900: oklch(56.68% 0.12 163.37deg);
	--color-success-950: oklch(50.11% 0.11 163.31deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(97.91% 0.02 103.36deg);
	--color-warning-100: oklch(96.16% 0.05 104.95deg);
	--color-warning-200: oklch(94.52% 0.08 105.64deg);
	--color-warning-300: oklch(92.87% 0.11 106.76deg);
	--color-warning-400: oklch(91.4% 0.14 107.05deg);
	--color-warning-500: oklch(90.02% 0.16 107.27deg);
	--color-warning-600: oklch(82.57% 0.15 107.06deg);
	--color-warning-700: oklch(75.17% 0.13 107.29deg);
	--color-warning-800: oklch(67.36% 0.12 107.02deg);
	--color-warning-900: oklch(59.55% 0.11 107.31deg);
	--color-warning-950: oklch(51.23% 0.09 106.93deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(91.83% 0.01 17.51deg);
	--color-error-100: oklch(84.54% 0.04 17.96deg);
	--color-error-200: oklch(77.52% 0.07 18.84deg);
	--color-error-300: oklch(70.54% 0.11 20.12deg);
	--color-error-400: oklch(64.46% 0.14 21.93deg);
	--color-error-500: oklch(59.13% 0.18 24.29deg);
	--color-error-600: oklch(54.39% 0.17 24.09deg);
	--color-error-700: oklch(49.67% 0.15 24.21deg);
	--color-error-800: oklch(44.73% 0.14 24deg);
	--color-error-900: oklch(39.78% 0.13 24.16deg);
	--color-error-950: oklch(34.58% 0.12 24deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(93.2% 0.04 209.05deg);
	--color-surface-100: oklch(85.64% 0.05 200.59deg);
	--color-surface-200: oklch(78.32% 0.07 194.64deg);
	--color-surface-300: oklch(70.86% 0.08 190.45deg);
	--color-surface-400: oklch(63.79% 0.09 186.91deg);
	--color-surface-500: oklch(56.76% 0.1 183.91deg);
	--color-surface-600: oklch(52.47% 0.09 189.64deg);
	--color-surface-700: oklch(48.4% 0.08 196.09deg);
	--color-surface-800: oklch(43.99% 0.07 204.9deg);
	--color-surface-900: oklch(39.84% 0.06 216.87deg);
	--color-surface-950: oklch(35.4% 0.05 234.87deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
