[data-theme='terminus'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0.025em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: -0.025em;
	--anchor-font-color: var(--color-secondary-950);
	--anchor-font-color-dark: var(--color-secondary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: inherit;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(84.53% 0.06 286.02deg);
	--color-primary-100: oklch(75.06% 0.12 292.12deg);
	--color-primary-200: oklch(66.15% 0.19 292.78deg);
	--color-primary-300: oklch(58.37% 0.24 290.13deg);
	--color-primary-400: oklch(52.28% 0.28 285.76deg);
	--color-primary-500: oklch(48.65% 0.3 279.02deg);
	--color-primary-600: oklch(45.08% 0.27 279.33deg);
	--color-primary-700: oklch(41.55% 0.25 279.58deg);
	--color-primary-800: oklch(37.87% 0.23 280.01deg);
	--color-primary-900: oklch(34.18% 0.21 280.42deg);
	--color-primary-950: oklch(30.27% 0.18 281.19deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: oklch(100% 0 none);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-light);
	--color-primary-contrast-400: var(--color-primary-contrast-light);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(97.03% 0.04 168.34deg);
	--color-secondary-100: oklch(94.88% 0.07 172.64deg);
	--color-secondary-200: oklch(93.07% 0.1 174.09deg);
	--color-secondary-300: oklch(91.37% 0.13 173.92deg);
	--color-secondary-400: oklch(90.21% 0.15 173.28deg);
	--color-secondary-500: oklch(89.36% 0.16 171.7deg);
	--color-secondary-600: oklch(82.49% 0.15 170.81deg);
	--color-secondary-700: oklch(75.2% 0.14 169.64deg);
	--color-secondary-800: oklch(68.03% 0.13 168.31deg);
	--color-secondary-900: oklch(60.39% 0.12 166.5deg);
	--color-secondary-950: oklch(52.82% 0.11 164.37deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(97.55% 0.07 121.8deg);
	--color-tertiary-100: oklch(96.1% 0.11 118.94deg);
	--color-tertiary-200: oklch(94.64% 0.14 117.3deg);
	--color-tertiary-300: oklch(93.45% 0.17 117.34deg);
	--color-tertiary-400: oklch(92.25% 0.19 117.1deg);
	--color-tertiary-500: oklch(91.3% 0.21 117.7deg);
	--color-tertiary-600: oklch(84.07% 0.19 119.05deg);
	--color-tertiary-700: oklch(76.47% 0.18 120.36deg);
	--color-tertiary-800: oklch(68.85% 0.17 122.6deg);
	--color-tertiary-900: oklch(60.86% 0.15 124.63deg);
	--color-tertiary-950: oklch(52.88% 0.14 127.42deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(97.74% 0.05 129.02deg);
	--color-success-100: oklch(95.69% 0.08 135.46deg);
	--color-success-200: oklch(93.77% 0.11 138.2deg);
	--color-success-300: oklch(91.83% 0.14 139.3deg);
	--color-success-400: oklch(90.21% 0.17 140.23deg);
	--color-success-500: oklch(88.75% 0.2 140.81deg);
	--color-success-600: oklch(81.22% 0.2 141.41deg);
	--color-success-700: oklch(73.66% 0.2 141.78deg);
	--color-success-800: oklch(66.03% 0.19 142.29deg);
	--color-success-900: oklch(58.42% 0.19 142.45deg);
	--color-success-950: oklch(50.8% 0.17 142.5deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(95.31% 0.02 344.31deg);
	--color-warning-100: oklch(93.82% 0.03 342.23deg);
	--color-warning-200: oklch(92.32% 0.05 342.78deg);
	--color-warning-300: oklch(90.79% 0.06 341.45deg);
	--color-warning-400: oklch(89.35% 0.07 342.17deg);
	--color-warning-500: oklch(87.96% 0.08 341.98deg);
	--color-warning-600: oklch(79.99% 0.08 342.02deg);
	--color-warning-700: oklch(71.74% 0.08 342.35deg);
	--color-warning-800: oklch(63.36% 0.07 341.45deg);
	--color-warning-900: oklch(54.59% 0.07 341.87deg);
	--color-warning-950: oklch(45.55% 0.07 342.01deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(91.07% 0.05 44.91deg);
	--color-error-100: oklch(84.45% 0.09 41.25deg);
	--color-error-200: oklch(78.34% 0.13 39.32deg);
	--color-error-300: oklch(72.79% 0.17 38.05deg);
	--color-error-400: oklch(68.41% 0.21 36.54deg);
	--color-error-500: oklch(65.28% 0.24 33.83deg);
	--color-error-600: oklch(61.33% 0.22 33.59deg);
	--color-error-700: oklch(57.6% 0.2 33.22deg);
	--color-error-800: oklch(53.58% 0.18 31.83deg);
	--color-error-900: oklch(49.79% 0.17 29.56deg);
	--color-error-950: oklch(45.72% 0.15 25.06deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(99.11% 0 none);
	--color-surface-100: oklch(90.97% 0 none);
	--color-surface-200: oklch(82.97% 0 none);
	--color-surface-300: oklch(74.44% 0 none);
	--color-surface-400: oklch(66% 0 none);
	--color-surface-500: oklch(56.93% 0 none);
	--color-surface-600: oklch(49.97% 0 none);
	--color-surface-700: oklch(42.76% 0 none);
	--color-surface-800: oklch(35.23% 0 none);
	--color-surface-900: oklch(27.27% 0 none);
	--color-surface-950: oklch(18.67% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
