[data-theme='vintage'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: var(--color-secondary-950);
	--heading-font-color-dark: oklch(1 0 0 / 1);
	--heading-font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-600);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(95.02% 0.11 100.34deg);
	--color-primary-100: oklch(90.13% 0.12 91.31deg);
	--color-primary-200: oklch(85.12% 0.13 82.4deg);
	--color-primary-300: oklch(80.35% 0.14 75.05deg);
	--color-primary-400: oklch(75.65% 0.15 67.11deg);
	--color-primary-500: oklch(71.39% 0.16 59.66deg);
	--color-primary-600: oklch(63.94% 0.15 55.68deg);
	--color-primary-700: oklch(56.65% 0.14 51.28deg);
	--color-primary-800: oklch(48.89% 0.13 46.01deg);
	--color-primary-900: oklch(41.32% 0.12 40.46deg);
	--color-primary-950: oklch(33.41% 0.12 35.2deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(98.29% 0.02 167.04deg);
	--color-secondary-100: oklch(94.64% 0.03 161.36deg);
	--color-secondary-200: oklch(90.98% 0.05 158.22deg);
	--color-secondary-300: oklch(87.56% 0.06 154.22deg);
	--color-secondary-400: oklch(83.89% 0.07 153.08deg);
	--color-secondary-500: oklch(80.21% 0.08 152.14deg);
	--color-secondary-600: oklch(72.77% 0.08 152.75deg);
	--color-secondary-700: oklch(65.39% 0.08 153.08deg);
	--color-secondary-800: oklch(57.56% 0.08 152.84deg);
	--color-secondary-900: oklch(49.78% 0.08 152.82deg);
	--color-secondary-950: oklch(41.49% 0.08 152.66deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(96.23% 0.03 211.02deg);
	--color-tertiary-100: oklch(90.57% 0.06 208.83deg);
	--color-tertiary-200: oklch(85.08% 0.09 210.4deg);
	--color-tertiary-300: oklch(80.11% 0.11 210.36deg);
	--color-tertiary-400: oklch(75.45% 0.12 212.87deg);
	--color-tertiary-500: oklch(71.48% 0.13 215.21deg);
	--color-tertiary-600: oklch(64.8% 0.12 216.99deg);
	--color-tertiary-700: oklch(57.99% 0.1 220deg);
	--color-tertiary-800: oklch(50.93% 0.09 222.96deg);
	--color-tertiary-900: oklch(43.67% 0.08 227.87deg);
	--color-tertiary-950: oklch(36.04% 0.07 233.37deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(99.02% 0.05 107.26deg);
	--color-success-100: oklch(94.56% 0.07 120.38deg);
	--color-success-200: oklch(90.03% 0.09 126.59deg);
	--color-success-300: oklch(85.68% 0.12 131deg);
	--color-success-400: oklch(81.26% 0.14 133.59deg);
	--color-success-500: oklch(77.09% 0.16 135.74deg);
	--color-success-600: oklch(69.58% 0.16 137.26deg);
	--color-success-700: oklch(61.89% 0.15 139.14deg);
	--color-success-800: oklch(54.4% 0.15 140.58deg);
	--color-success-900: oklch(46.54% 0.14 141.99deg);
	--color-success-950: oklch(38.63% 0.13 142.5deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(98.02% 0.11 108.28deg);
	--color-warning-100: oklch(94.96% 0.13 104.16deg);
	--color-warning-200: oklch(92.23% 0.14 100.87deg);
	--color-warning-300: oklch(89.3% 0.15 97.77deg);
	--color-warning-400: oklch(86.71% 0.16 94.79deg);
	--color-warning-500: oklch(83.92% 0.17 91.31deg);
	--color-warning-600: oklch(75.81% 0.15 88.7deg);
	--color-warning-700: oklch(67.4% 0.13 84.01deg);
	--color-warning-800: oklch(58.84% 0.12 79.18deg);
	--color-warning-900: oklch(49.95% 0.11 70.85deg);
	--color-warning-950: oklch(40.82% 0.09 62.01deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(92.64% 0.04 45.08deg);
	--color-error-100: oklch(87.88% 0.05 37.49deg);
	--color-error-200: oklch(82.85% 0.06 31.65deg);
	--color-error-300: oklch(78.14% 0.08 27.84deg);
	--color-error-400: oklch(73.15% 0.09 25.37deg);
	--color-error-500: oklch(68.52% 0.11 24.52deg);
	--color-error-600: oklch(61.02% 0.11 22.91deg);
	--color-error-700: oklch(53.36% 0.11 22.82deg);
	--color-error-800: oklch(45.55% 0.11 21.61deg);
	--color-error-900: oklch(37.58% 0.11 22.3deg);
	--color-error-950: oklch(29.76% 0.1 23.16deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-dark);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(91.65% 0 78.25deg);
	--color-surface-100: oklch(81.22% 0.01 75.38deg);
	--color-surface-200: oklch(70.23% 0.01 61.43deg);
	--color-surface-300: oklch(58.92% 0.01 67.64deg);
	--color-surface-400: oklch(46.9% 0.01 58.02deg);
	--color-surface-500: oklch(34.32% 0.02 59.12deg);
	--color-surface-600: oklch(31.5% 0.01 57.78deg);
	--color-surface-700: oklch(28.58% 0.01 62.11deg);
	--color-surface-800: oklch(25.73% 0.01 55.81deg);
	--color-surface-900: oklch(22.65% 0.01 60.89deg);
	--color-surface-950: oklch(19.49% 0.01 59.11deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
