[data-theme='vox'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--heading-font-weight: 600;
	--heading-font-style: normal;
	--heading-letter-spacing: 0.025em;
	--anchor-font-color: var(--color-tertiary-700);
	--anchor-font-color-dark: var(--color-secondary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(96.94% 0.02 50.48deg);
	--color-primary-100: oklch(94.06% 0.03 52.35deg);
	--color-primary-200: oklch(91.01% 0.05 52.1deg);
	--color-primary-300: oklch(88.31% 0.07 51.83deg);
	--color-primary-400: oklch(85.37% 0.08 51.51deg);
	--color-primary-500: oklch(82.71% 0.1 51.5deg);
	--color-primary-600: oklch(76.61% 0.08 51.74deg);
	--color-primary-700: oklch(70.5% 0.07 52.37deg);
	--color-primary-800: oklch(63.99% 0.05 50.98deg);
	--color-primary-900: oklch(57.63% 0.04 51.62deg);
	--color-primary-950: oklch(51.06% 0.02 51.7deg);
	--color-primary-contrast-dark: var(--color-surface-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-dark);
	--color-primary-contrast-900: var(--color-primary-contrast-dark);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(99.6% 0.02 106.69deg);
	--color-secondary-100: oklch(98.09% 0.05 116.54deg);
	--color-secondary-200: oklch(96.57% 0.09 119.76deg);
	--color-secondary-300: oklch(95.02% 0.12 120.81deg);
	--color-secondary-400: oklch(93.69% 0.15 122.31deg);
	--color-secondary-500: oklch(92.54% 0.17 123.36deg);
	--color-secondary-600: oklch(86.4% 0.16 123.97deg);
	--color-secondary-700: oklch(79.92% 0.16 124.41deg);
	--color-secondary-800: oklch(73.61% 0.15 124.75deg);
	--color-secondary-900: oklch(66.86% 0.14 125.35deg);
	--color-secondary-950: oklch(60.19% 0.13 126.4deg);
	--color-secondary-contrast-dark: oklch(0% 0 none);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(100% 0 none);
	--color-tertiary-100: oklch(96.06% 0.02 300.28deg);
	--color-tertiary-200: oklch(92.13% 0.04 299.82deg);
	--color-tertiary-300: oklch(88.02% 0.07 299.94deg);
	--color-tertiary-400: oklch(84.11% 0.09 299.25deg);
	--color-tertiary-500: oklch(80.24% 0.12 298.53deg);
	--color-tertiary-600: oklch(73.29% 0.12 297.42deg);
	--color-tertiary-700: oklch(66.07% 0.13 296.35deg);
	--color-tertiary-800: oklch(58.83% 0.13 294.97deg);
	--color-tertiary-900: oklch(51.32% 0.14 293.43deg);
	--color-tertiary-950: oklch(43.8% 0.14 291.24deg);
	--color-tertiary-contrast-dark: oklch(0% 0 none);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(100% 0 none);
	--color-success-100: oklch(98.16% 0.02 173.95deg);
	--color-success-200: oklch(96.31% 0.03 174.1deg);
	--color-success-300: oklch(94.56% 0.05 171.97deg);
	--color-success-400: oklch(92.85% 0.07 171.85deg);
	--color-success-500: oklch(91.28% 0.08 171.23deg);
	--color-success-600: oklch(83.78% 0.08 171.45deg);
	--color-success-700: oklch(76.31% 0.09 171.2deg);
	--color-success-800: oklch(68.53% 0.08 172.07deg);
	--color-success-900: oklch(60.75% 0.08 171.41deg);
	--color-success-950: oklch(52.58% 0.08 170.86deg);
	--color-success-contrast-dark: oklch(0% 0 none);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(100% 0 none);
	--color-warning-100: oklch(98.93% 0.02 109.78deg);
	--color-warning-200: oklch(97.85% 0.04 110.11deg);
	--color-warning-300: oklch(96.84% 0.06 110.51deg);
	--color-warning-400: oklch(95.83% 0.08 110.87deg);
	--color-warning-500: oklch(94.87% 0.1 111.24deg);
	--color-warning-600: oklch(87.55% 0.1 112.07deg);
	--color-warning-700: oklch(79.86% 0.1 112.34deg);
	--color-warning-800: oklch(72.29% 0.1 112.63deg);
	--color-warning-900: oklch(64.22% 0.09 113.02deg);
	--color-warning-950: oklch(56.15% 0.09 114.2deg);
	--color-warning-contrast-dark: oklch(0% 0 none);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-dark);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(100% 0 none);
	--color-error-100: oklch(96.29% 0.02 347.54deg);
	--color-error-200: oklch(92.43% 0.04 347.14deg);
	--color-error-300: oklch(88.82% 0.06 348.02deg);
	--color-error-400: oklch(85.09% 0.08 348.39deg);
	--color-error-500: oklch(81.63% 0.1 349.28deg);
	--color-error-600: oklch(74.28% 0.1 348.86deg);
	--color-error-700: oklch(66.73% 0.1 349.23deg);
	--color-error-800: oklch(58.91% 0.1 348.51deg);
	--color-error-900: oklch(50.98% 0.1 349.14deg);
	--color-error-950: oklch(42.88% 0.1 349.25deg);
	--color-error-contrast-dark: oklch(0% 0 none);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-dark);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(92.52% 0.03 294.62deg);
	--color-surface-100: oklch(86.55% 0.03 295.73deg);
	--color-surface-200: oklch(80.56% 0.04 298.43deg);
	--color-surface-300: oklch(74.42% 0.04 298.5deg);
	--color-surface-400: oklch(68.2% 0.04 300.46deg);
	--color-surface-500: oklch(61.75% 0.05 300.7deg);
	--color-surface-600: oklch(56.18% 0.05 300.86deg);
	--color-surface-700: oklch(50.43% 0.06 301.43deg);
	--color-surface-800: oklch(44.68% 0.06 302.58deg);
	--color-surface-900: oklch(38.62% 0.07 302.83deg);
	--color-surface-950: oklch(32.44% 0.07 302.21deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
