[data-theme='wintry'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: oklch(1 0 0 / 1);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(96.19% 0.04 201.62deg);
	--color-primary-100: oklch(89.29% 0.06 230.4deg);
	--color-primary-200: oklch(82.2% 0.09 245.96deg);
	--color-primary-300: oklch(75.45% 0.12 253.41deg);
	--color-primary-400: oklch(68.61% 0.15 257.7deg);
	--color-primary-500: oklch(62.31% 0.19 259.81deg);
	--color-primary-600: oklch(56.01% 0.18 260.79deg);
	--color-primary-700: oklch(49.59% 0.18 261.77deg);
	--color-primary-800: oklch(43.07% 0.17 262.89deg);
	--color-primary-900: oklch(36.42% 0.16 263.66deg);
	--color-primary-950: oklch(29.67% 0.16 263.4deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(95.68% 0.06 196.1deg);
	--color-secondary-100: oklch(89.83% 0.08 209.36deg);
	--color-secondary-200: oklch(84.09% 0.1 217.66deg);
	--color-secondary-300: oklch(78.56% 0.12 224.65deg);
	--color-secondary-400: oklch(73.31% 0.13 230.6deg);
	--color-secondary-500: oklch(68.47% 0.15 237.31deg);
	--color-secondary-600: oklch(62% 0.14 240.02deg);
	--color-secondary-700: oklch(55.31% 0.13 242.76deg);
	--color-secondary-800: oklch(48.5% 0.12 246.43deg);
	--color-secondary-900: oklch(41.38% 0.12 250.13deg);
	--color-secondary-950: oklch(34.06% 0.11 254.48deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(92.26% 0.05 306.01deg);
	--color-tertiary-100: oklch(86.96% 0.07 296.34deg);
	--color-tertiary-200: oklch(81.6% 0.1 290.49deg);
	--color-tertiary-300: oklch(76.55% 0.13 286.63deg);
	--color-tertiary-400: oklch(71.31% 0.15 283.43deg);
	--color-tertiary-500: oklch(66.28% 0.18 280.87deg);
	--color-tertiary-600: oklch(58.39% 0.18 282.35deg);
	--color-tertiary-700: oklch(50.63% 0.18 283.21deg);
	--color-tertiary-800: oklch(42.59% 0.18 283.85deg);
	--color-tertiary-900: oklch(34.95% 0.18 283.03deg);
	--color-tertiary-950: oklch(27.57% 0.17 280.45deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(97.96% 0.12 108.35deg);
	--color-success-100: oklch(93.56% 0.14 115.38deg);
	--color-success-200: oklch(89.31% 0.16 120.22deg);
	--color-success-300: oklch(84.86% 0.18 124.21deg);
	--color-success-400: oklch(80.8% 0.19 127.53deg);
	--color-success-500: oklch(76.81% 0.2 130.85deg);
	--color-success-600: oklch(69.44% 0.19 133.05deg);
	--color-success-700: oklch(61.88% 0.18 135.65deg);
	--color-success-800: oklch(54.52% 0.17 138.28deg);
	--color-success-900: oklch(46.76% 0.15 140.76deg);
	--color-success-950: oklch(38.95% 0.13 142.5deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(97.87% 0.12 108.45deg);
	--color-warning-100: oklch(94.1% 0.14 103.73deg);
	--color-warning-200: oklch(90.39% 0.15 99.65deg);
	--color-warning-300: oklch(86.48% 0.16 95.56deg);
	--color-warning-400: oklch(82.95% 0.16 91.25deg);
	--color-warning-500: oklch(79.53% 0.16 86.04deg);
	--color-warning-600: oklch(70.68% 0.14 85.14deg);
	--color-warning-700: oklch(61.76% 0.12 84.62deg);
	--color-warning-800: oklch(52.18% 0.1 83.48deg);
	--color-warning-900: oklch(42.49% 0.08 81.81deg);
	--color-warning-950: oklch(31.98% 0.06 75.91deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(91.14% 0.07 332.14deg);
	--color-error-100: oklch(82.94% 0.11 339.91deg);
	--color-error-200: oklch(75.2% 0.14 345.21deg);
	--color-error-300: oklch(68.13% 0.18 348.96deg);
	--color-error-400: oklch(62.02% 0.21 353.41deg);
	--color-error-500: oklch(57.22% 0.22 358.61deg);
	--color-error-600: oklch(51.7% 0.2 358.74deg);
	--color-error-700: oklch(46.21% 0.18 358.64deg);
	--color-error-800: oklch(40.37% 0.16 358.83deg);
	--color-error-900: oklch(34.48% 0.13 358.66deg);
	--color-error-950: oklch(28.04% 0.11 358.71deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(97.59% 0 264.7deg);
	--color-surface-100: oklch(88.12% 0.01 261.81deg);
	--color-surface-200: oklch(78.51% 0.02 265.97deg);
	--color-surface-300: oklch(68.49% 0.03 264.38deg);
	--color-surface-400: oklch(58.25% 0.04 265.77deg);
	--color-surface-500: oklch(47.47% 0.05 264.53deg);
	--color-surface-600: oklch(42.05% 0.05 264.5deg);
	--color-surface-700: oklch(36.45% 0.05 264.44deg);
	--color-surface-800: oklch(31.02% 0.04 264.35deg);
	--color-surface-900: oklch(24.95% 0.04 264.15deg);
	--color-surface-950: oklch(18.53% 0.04 263.67deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
