---
import Header from '@components/docs/Header.astro';
import LayoutRoot from '@layouts/LayoutRoot.astro';
import { Icon } from 'astro-icon/components';

const layoutProps = {
	title: 'Page Not Found',
	description: 'Sorry, this page does not appear to exist.',
	classList: 'space-y-10',
};
---

<LayoutRoot {...layoutProps}>
	<!-- Header -->
	<Header />
	<!-- Main -->
	<main class="container mx-auto space-y-10 px-4">
		<section class="mx-auto flex flex-col justify-center gap-4 text-center">
			<div class="space-y-4">
				<Icon name="skeleton-full" size={128} class="mx-auto" />
				<h2 class="h2">Page Not Found</h2>
				<p class="opacity-60">Sorry, this page does not appear to exist.</p>
			</div>
		</section>
	</main>
</LayoutRoot>
