---
import { getCollection } from 'astro:content';

const frameworks = await getCollection('frameworks');
---

{
	frameworks.map((framework) => (
		<div class={framework.id === Astro.params.framework ? 'contents' : 'hidden'}>
			<Fragment set:html={Astro.slots.render(framework.id)} />
		</div>
	))
}
