<div class="table-wrap">
	<table class="table caption-bottom">
		<caption class="pt-4">A list of elements from the periodic table.</caption>
		<thead>
			<tr>
				<th>Position</th>
				<th>Symbol</th>
				<th>Name</th>
				<th class="text-right!">Weight</th>
			</tr>
		</thead>
		<tbody class="[&>tr]:hover:preset-tonal-brand">
			<tr>
				<td>0</td>
				<td>Fe</td>
				<td>Iron</td>
				<td class="text-right">26</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Rh</td>
				<td>Rhodium</td>
				<td class="text-right">45</td>
			</tr>
			<tr>
				<td>2</td>
				<td>I</td>
				<td>Iodine</td>
				<td class="text-right">53</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Rn</td>
				<td>Radon</td>
				<td class="text-right">86</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Tc</td>
				<td>Technetium</td>
				<td class="text-right">43</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">Total</td>
				<td class="text-right">5 Elements</td>
			</tr>
		</tfoot>
	</table>
</div>
