---
const { pathname } = Astro.url;
const exceptions = ['components']; // Add more exceptions here
const breadcrumbs = pathname.split('/').filter((crumb) => Boolean(crumb) && crumb !== 'docs');
---

<ol class="flex gap-2 text-xs">
	{
		breadcrumbs.map((crumb, i, arr) => {
			const isLast = i === arr.length - 1;
			const isException = exceptions.includes(breadcrumbs[0]);
			const href = isException || isLast ? undefined : `/docs/${breadcrumbs[0]}/${crumb}`;
			const displayCrumb = crumb.replace('-', ' ');

			return (
				<>
					<li class={`capitalize ${isLast ? '' : 'opacity-60'}`}>
						{href ? (
							<a href={href} class="hover:underline">
								{displayCrumb}
							</a>
						) : (
							displayCrumb
						)}
					</li>
					{!isLast && <li class="opacity-60">›</li>}
				</>
			);
		})
	}
</ol>
