---
import { PersonStanding as IconA11y, BookOpen as IconBook, Code as IconCode, Blocks as IconZap } from 'lucide-react';

// Props
const { frontmatter, urls } = Astro.props;
---

<div class="flex gap-2 overflow-x-auto pb-2">
	{
		frontmatter.srcCore && (
			<a class="chip preset-filled-surface-200-800" href={urls.githubSkeletonUrl + frontmatter.srcCore} target="_blank">
				<IconCode size={16} />
				<span>Source</span>
			</a>
		)
	}
	{
		frontmatter.srcReact && (
			<a class="chip preset-filled-surface-200-800" href={urls.githubReactUrl + frontmatter.srcReact} target="_blank">
				<IconCode size={16} />
				<span>React</span>
			</a>
		)
	}
	{
		frontmatter.srcSvelte && (
			<a class="chip preset-filled-surface-200-800" href={urls.githubSvelteUrl + frontmatter.srcSvelte} target="_blank">
				<IconCode size={16} />
				<span>Svelte</span>
			</a>
		)
	}
	{
		frontmatter.showDocsUrl && (
			<a
				class="chip preset-filled-surface-200-800"
				href={urls.githubDocsUrl + Astro.url.pathname.replace(/\/$/, '') + '.mdx'}
				target="_blank"
			>
				<IconBook size={16} />
				<span>Doc</span>
			</a>
		)
	}
	{
		frontmatter.srcAlly && (
			<a class="chip preset-filled-surface-200-800" href={frontmatter.srcAlly} target="_blank">
				<IconA11y size={16} />
				<span>A11y</span>
			</a>
		)
	}
	{
		frontmatter.srcZag && (
			<a class="chip preset-filled-surface-200-800" href={frontmatter.srcZag} target="_blank">
				<IconZap size={16} />
				<span>API</span>
			</a>
		)
	}
</div>
