---
// Lightswitch
// Ref: https://docs.astro.build/en/tutorial/6-islands/2/

import { SunMoon } from 'lucide-react';
---

<nav>
	<button class="btn-icon hover:preset-tonal" title="Toggle dark mode." aria-label="Toggle dark mode." data-lightswitch>
		<SunMoon size={20} />
	</button>
</nav>

<script>
	function initializeClickHandlers() {
		function onClick() {
			const newMode = document.documentElement.getAttribute('data-mode') === 'dark' ? 'light' : 'dark';
			document.documentElement.setAttribute('data-mode', newMode);
			localStorage.setItem('mode', newMode);
		}
		const lightSwitches = document.querySelectorAll('[data-lightswitch]');
		lightSwitches.forEach((lightSwitch) => {
			lightSwitch.removeEventListener('click', onClick);
			lightSwitch.addEventListener('click', onClick);
		});
	}
	initializeClickHandlers();
	document.addEventListener('astro:after-swap', () => {
		initializeClickHandlers();
	});
</script>
