---
import { themes } from '@skeletonlabs/skeleton-common';
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-2">
	{
		themes.map((theme) => (
			<button
				data-theme={theme.name}
				class="w-full bg-surface-50-950 p-4 preset-outlined-surface-100-900 hover:preset-outlined-surface-800-200 rounded-md grid grid-cols-[auto_1fr_auto] items-center gap-4"
			>
				<span>{theme.emoji}</span>
				<h3 class="text-lg capitalize cap text-left">{theme.name}</h3>
				<div class="flex justify-center items-center -space-x-1">
					<div class="aspect-square w-4 bg-primary-500 border-[1px] border-black/10 rounded-full" />
					<div class="aspect-square w-4 bg-secondary-500 border-[1px] border-black/10 rounded-full" />
					<div class="aspect-square w-4 bg-tertiary-500 border-[1px] border-black/10 rounded-full" />
					<div class="aspect-square w-4 bg-success-500 border-[1px] border-black/10 rounded-full" />
					<div class="aspect-square w-4 bg-warning-500 border-[1px] border-black/10 rounded-full" />
					<div class="aspect-square w-4 bg-error-500 border-[1px] border-black/10 rounded-full" />
					<div class="aspect-square w-4 bg-surface-500 border-[1px] border-black/10 rounded-full" />
				</div>
			</button>
		))
	}
</div>

<script>
	for (const button of document.querySelectorAll<HTMLButtonElement>('button[data-theme]')) {
		button.addEventListener('click', async () => {
			await navigator.clipboard.writeText(button.dataset.theme!);
		});
	}
</script>
