---
import { HeartIcon } from 'lucide-react';
---

<div class="flex flex-col items-center gap-4">
	<!-- Badge -->
	<span class="badge preset-tonal">
		<HeartIcon className="icon-label-xxs" />
		<span>Favorite</span>
	</span>

	<hr class="hr" />

	<!-- Buttons -->
	<button type="button" class="btn btn-xs preset-tonal" title="Favorite" aria-label="Favorite">
		<HeartIcon className="icon-label-xs" />
		<span>Favorite</span>
	</button>
	<button type="button" class="btn btn-sm preset-tonal" title="Favorite" aria-label="Favorite">
		<HeartIcon className="icon-label-sm" />
		<span>Favorite</span>
	</button>
	<button type="button" class="btn btn-base preset-tonal" title="Favorite" aria-label="Favorite">
		<HeartIcon className="icon-label-base" />
		<span>Favorite</span>
	</button>
	<button type="button" class="btn btn-lg preset-tonal" title="Favorite" aria-label="Favorite">
		<HeartIcon className="icon-label-lg" />
		<span>Favorite</span>
	</button>
	<button type="button" class="btn btn-xl preset-tonal" title="Favorite" aria-label="Favorite">
		<HeartIcon className="icon-label-xl" />
		<span>Favorite</span>
	</button>
</div>
