---
import { ZapIcon } from 'lucide-react';
---

<div class="flex flex-col items-center gap-4">
	<!-- Badge -->
	<!-- TIP: replace the stroke with a fill -->
	<span class="badge preset-filled-primary-500">
		<ZapIcon className="icon-label-xxs stroke-0 fill-current" />
		<span>Badge</span>
	</span>

	<hr class="hr" />

	<!-- Chip -->
	<span class="chip preset-outlined-surface-200-800">
		<ZapIcon className="icon-label-sm" />
		<span>Chip</span>
	</span>

	<hr class="hr" />

	<!-- Buttons -->
	<button type="button" class="btn btn-xs preset-tonal">
		<ZapIcon className="icon-label-xs" />
		<span>Button</span>
	</button>
	<button type="button" class="btn btn-sm preset-tonal">
		<ZapIcon className="icon-label-sm" />
		<span>Button</span>
	</button>
	<button type="button" class="btn btn-base preset-tonal">
		<ZapIcon className="icon-label-base" />
		<span>Button</span>
	</button>
	<button type="button" class="btn btn-lg preset-tonal">
		<ZapIcon className="icon-label-lg" />
		<span>Button</span>
	</button>
	<button type="button" class="btn btn-xl preset-tonal">
		<ZapIcon className="icon-label-xl" />
		<span>Button</span>
	</button>
</div>
