---
import { HeartIcon } from 'lucide-react';
---

<div class="flex items-center gap-4">
	<div class="flex flex-col items-center gap-2">
		<HeartIcon className="icon-xs" />
		<span class="text-xs opacity-60">12px</span>
	</div>
	<div class="flex flex-col items-center gap-2">
		<HeartIcon className="icon-sm" />
		<span class="text-xs opacity-60">18px</span>
	</div>
	<div class="flex flex-col items-center gap-2">
		<HeartIcon className="icon-base" />
		<span class="text-xs underline">24px</span>
	</div>
	<div class="flex flex-col items-center gap-2">
		<HeartIcon className="icon-lg" />
		<span class="text-xs opacity-60">32px</span>
	</div>
	<div class="flex flex-col items-center gap-2">
		<HeartIcon className="icon-xl" />
		<span class="text-xs opacity-60">48px</span>
	</div>
	<div class="flex flex-col items-center gap-2">
		<HeartIcon className="icon-2xl" />
		<span class="text-xs opacity-60">64px</span>
	</div>
	<div class="flex flex-col items-center gap-2">
		<HeartIcon className="icon-3xl" />
		<span class="text-xs opacity-60">128px</span>
	</div>
</div>
