<button class="btn preset-filled" data-copy-button-default>Copy to Clipboard</button>

<script>
	const data = 'Hello World!';

	const copyButton = document.querySelector<HTMLButtonElement>('[data-copy-button-default]');

	copyButton?.addEventListener('click', async () => {
		await navigator.clipboard.writeText(data);
		alert(`Copied "${data}" to clipboard!`);
	});
</script>
