:root {
	/* --- Tailwind Theme --- */
	/* primary (pink) */
	--color-primary-50: 253 242 248;
	--color-primary-100: 252 231 243;
	--color-primary-200: 251 207 232;
	--color-primary-300: 249 168 212;
	--color-primary-400: 244 114 182;
	--color-primary-500: 236 72 153;
	--color-primary-600: 219 39 119;
	--color-primary-700: 190 24 93;
	--color-primary-800: 157 23 77;
	--color-primary-900: 131 24 67;
	/* accent (cyan) */
	--color-accent-50: 236 254 255;
	--color-accent-100: 207 250 254;
	--color-accent-200: 165 243 252;
	--color-accent-300: 103 232 249;
	--color-accent-400: 34 211 238;
	--color-accent-500: 6 182 212;
	--color-accent-600: 8 145 178;
	--color-accent-700: 14 116 144;
	--color-accent-800: 21 94 117;
	--color-accent-900: 22 78 99;
	/* warning (yellow) */
	--color-warning-50: 254 252 232;
	--color-warning-100: 254 249 195;
	--color-warning-200: 254 240 138;
	--color-warning-300: 253 224 71;
	--color-warning-400: 250 204 21;
	--color-warning-500: 234 179 8;
	--color-warning-600: 202 138 4;
	--color-warning-700: 161 98 7;
	--color-warning-800: 133 77 14;
	--color-warning-900: 113 63 18;
	/* surface (indigo) */
	--color-surface-50: 238 242 255;
	--color-surface-100: 224 231 255;
	--color-surface-200: 199 210 254;
	--color-surface-300: 165 180 252;
	--color-surface-400: 129 140 248;
	--color-surface-500: 99 102 241;
	--color-surface-600: 79 70 229;
	--color-surface-700: 67 56 202;
	--color-surface-800: 55 48 163;
	--color-surface-900: 49 46 129;
}