---
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<div class="space-y-10">
		<header><h1 class="h1">Presets</h1></header>
		<!-- Filled -->
		<section class="space-y-4">
			<h2 class="h2">Filled</h2>
			<p>....</p>
		</section>
		<!-- Tonal -->
		<section class="space-y-4">
			<h2 class="h2">Tonal</h2>
			<p>....</p>
		</section>
		<!-- Outlined -->
		<section class="space-y-4">
			<h2 class="h2">Outlined</h2>
			<p>....</p>
		</section>
	</div>
</Layout>
