---
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<div class="space-y-10">
		<header><h1 class="h1">Typography</h1></header>
		<!-- Sizes -->
		<section class="space-y-4">
			<p class="text-9xl">text-9xl</p>
			<p class="text-8xl">text-8xl</p>
			<p class="text-7xl">text-7xl</p>
			<p class="text-6xl">text-6xl</p>
			<p class="text-5xl">text-5xl</p>
			<p class="text-4xl">text-4xl</p>
			<p class="text-3xl">text-3xl</p>
			<p class="text-2xl">text-2xl</p>
			<p class="text-xl">text-xl</p>
			<p class="text-lg">text-lg</p>
			<p class="text-base">text-base</p>
			<p class="text-sm">text-sm</p>
			<p class="text-xs">text-xs</p>
		</section>
		<!-- Headings -->
		<section class="space-y-4">
			<h1 class="h1">Skeleton</h1>
			<h2 class="h2">Skeleton</h2>
			<h3 class="h3">Skeleton</h3>
			<h4 class="h4">Skeleton</h4>
			<h5 class="h5">Skeleton</h5>
			<h6 class="h6">Skeleton</h6>
		</section>
		<!-- Paragraph -->
		<section class="space-y-4">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta pariatur, deserunt repudiandae nihil odio ipsum doloribus nesciunt
				voluptatum, quia debitis exercitationem harum commodi laboriosam vel quibusdam assumenda illo, cum a!
			</p>
		</section>
		<!-- Anchors -->
		<section class="space-y-4">
			<a href="/" class="anchor">This is an anchor link</a>
		</section>
	</div>
</Layout>
