---
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<div class="space-y-10">
		<header><h1 class="h1">Typography</h1></header>
		<!-- Sizes -->
		<section class="space-y-4">
			<div class="text-9xl">text-9xl</div>
			<div class="text-8xl">text-8xl</div>
			<div class="text-7xl">text-7xl</div>
			<div class="text-6xl">text-6xl</div>
			<div class="text-5xl">text-5xl</div>
			<div class="text-4xl">text-4xl</div>
			<div class="text-3xl">text-3xl</div>
			<div class="text-2xl">text-2xl</div>
			<div class="text-xl">text-xl</div>
			<div class="text-lg">text-lg</div>
			<div class="text-base">text-base</div>
			<div class="text-sm">text-sm</div>
			<div class="text-xs">text-xs</div>
		</section>
		<!-- Headings -->
		<section class="space-y-4">
			<h1 class="h1">Skeleton</h1>
			<h2 class="h2">Skeleton</h2>
			<h3 class="h3">Skeleton</h3>
			<h4 class="h4">Skeleton</h4>
			<h5 class="h5">Skeleton</h5>
			<h6 class="h6">Skeleton</h6>
		</section>
		<!-- Paragraph -->
		<section class="space-y-4">
			<h2 class="h2">Paragraph</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta pariatur, deserunt repudiandae nihil odio ipsum doloribus nesciunt
				voluptatum, quia debitis exercitationem harum commodi laboriosam vel quibusdam assumenda illo, cum a!
			</p>
		</section>
		<!-- Anchors -->
		<section class="space-y-4">
			<h2 class="h2">Anchors</h2>
			<a href="/" class="anchor">This is an anchor link</a>
		</section>
		<!-- Blockquotes -->
		<section class="space-y-4">
			<h2 class="h2">Blockquotes</h2>
			<blockquote class="blockquote">
				"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, aliquid. Molestias, odio illum voluptatibus natus dignissimos,
				quidem est unde aspernatur veniam pariatur fuga distinctio esse in quas, repellendus neque reiciendis!"
			</blockquote>
		</section>
		<!-- Keyboard -->
		<section class="space-y-4">
			<h2 class="h2">Keyboard</h2>
			<div>Press <kbd class="kbd">⌘</kbd> + <kbd class="kbd">C</kbd> to copy.</div>
		</section>
		<!-- Pre-Formatted -->
		<section class="space-y-4">
			<h2 class="h2">Pre-Formatted</h2>
			<pre class="pre">The quick brown fox jumps over the lazy dog.</pre>
		</section>
		<!-- Code -->
		<section class="space-y-4">
			<h2 class="h2">Code</h2>
			<div>Insert the <code class="code">.example</code> class here.</div>
		</section>
		<!-- Inset and Delete -->
		<section class="space-y-4">
			<h2 class="h2">Inset and Delete</h2>
			<div>
				<del class="del"><s>Always</s> Gonna Give You Up</del>
				<ins class="ins" cite="https://youtu.be/dQw4w9WgXcQ" datetime="10-31-2022"> Never Gonna Give You Up </ins>
			</div>
		</section>
	</div>
</Layout>
