<!-- Grid -->
<section class="grid grid-cols-2 gap-4 md:grid-cols-4">
	<!-- Column -->
	<div class="grid gap-4">
		<img class="rounded-lg" src="https://images.unsplash.com/photo-1617296538902-887900d9b592" alt="" />
		<img class="rounded-lg" src="https://images.unsplash.com/photo-1597077962467-be16edcc6a43" alt="" />
		<img class="rounded-lg" src="https://images.unsplash.com/photo-1591775161903-497839a443c1" alt="" />
	</div>
	<!-- Column -->
	<div class="grid gap-4">
		<img class="rounded-lg" src="https://images.unsplash.com/photo-1617296539691-67feaadf389e" alt="" />
		<img class="rounded-lg" src="https://images.unsplash.com/photo-1542835435-4fa357baa00b" alt="" />
		<img class="rounded-lg" src="https://images.unsplash.com/photo-1553184570-557b84a3a308" alt="" />
	</div>
	<!-- Column -->
	<div class="grid gap-4">
		<img class="rounded-lg" src="https://images.unsplash.com/photo-1603855873822-0931a843ee3a" alt="" />
		<img class="rounded-lg" src="https://images.unsplash.com/photo-1509130446053-899ae7358ce6" alt="" />
		<img class="rounded-lg" src="https://images.unsplash.com/photo-1508931133503-b1944a4ecdd5" alt="" />
	</div>
	<!-- Column -->
	<div class="grid gap-4">
		<img class="rounded-lg" src="https://images.unsplash.com/photo-1633053663400-655b31fb88ac" alt="" />
		<img class="rounded-lg" src="https://images.unsplash.com/photo-1578170222009-c7893aa20afd" alt="" />
		<img class="rounded-lg" src="https://images.unsplash.com/photo-1610220941077-1ec123e7c043" alt="" />
	</div>
</section>
