<!-- Flex -->
<section class="flex justify-center">
	<!-- Grid -->
	<div class="grid gap-4">
		<!-- Featured -->
		<div>
			<img class="h-auto max-w-full rounded-lg" src="https://images.unsplash.com/photo-1597077962467-be16edcc6a43" alt="" />
		</div>
		<!-- Row -->
		<div class="grid grid-cols-5 gap-4">
			<div class="w-86 h-48">
				<img class="h-full w-full rounded-lg object-cover" src="https://images.unsplash.com/photo-1620005839871-7ac4aed5ddbc" alt="" />
			</div>
			<div class="w-86 h-48">
				<img class="h-full w-full rounded-lg object-cover" src="https://images.unsplash.com/photo-1553184570-557b84a3a308" alt="" />
			</div>
			<div class="w-86 h-48">
				<img class="h-full w-full rounded-lg object-cover" src="https://images.unsplash.com/photo-1509130446053-899ae7358ce6" alt="" />
			</div>
			<div class="w-86 h-48">
				<img class="h-full w-full rounded-lg object-cover" src="https://images.unsplash.com/photo-1510111652602-195fc654aa83" alt="" />
			</div>
			<div class="w-86 h-48">
				<img class="h-full w-full rounded-lg object-cover" src="https://images.unsplash.com/photo-1597077917598-97ca3922a317" alt="" />
			</div>
		</div>
	</div>
</section>
