<!-- Flex -->
<section class="flex justify-center">
	<!-- Grid -->
	<div class="grid grid-cols-2 gap-4">
		<div class="h-96 w-96">
			<img class="h-full w-full rounded-lg object-cover" src="https://images.unsplash.com/photo-1617296538902-887900d9b592" alt="" />
		</div>
		<div class="h-96 w-96">
			<img class="h-full w-full rounded-lg object-cover" src="https://images.unsplash.com/photo-1597077962467-be16edcc6a43" alt="" />
		</div>
		<div class="h-96 w-96">
			<img class="h-full w-full rounded-lg object-cover" src="https://images.unsplash.com/photo-1553184570-557b84a3a308" alt="" />
		</div>
		<div class="h-96 w-96">
			<img class="h-full w-full rounded-lg object-cover" src="https://images.unsplash.com/photo-1509130446053-899ae7358ce6" alt="" />
		</div>
	</div>
</section>
