---
import LayoutDocs from "@lib/layouts/LayoutDocs.astro";

const layoutProps = {
    categoryId: 2,
    title: 'Accordions',
    description: 'Divide content into collapsible sections.',
};
---

<LayoutDocs {...layoutProps}>
    <!-- Preview -->
    <Fragment slot="preview">
        <p>{layoutProps.title} Preview.</p>
    </Fragment>
    <!-- Usage -->
    <section class="space-y-4">
        <p>The {layoutProps.title} usage goes here.</p>
    </section>
</LayoutDocs>
