---
import LayoutDocs from "@lib/layouts/LayoutDocs.astro";
---

<LayoutDocs>
    <div class="space-y-10">
        <!-- Breadcrumbs -->
        <div class="flex gap-2 text-xs">
            <span class="opacity-50">Components</span>
            <span class="opacity-50">&rsaquo;</span>
            <span>Accordions</span>
        </div>
        <!-- Header -->
        <header class="space-y-4">
            <h1 class="h1">Accordions</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </header>
        <!-- Preview -->
        <section class="card border border-neutral-800">
            <div class="text-center opacity-50">Preview.</div>
        </section>
        <!-- Content -->
        <section>
            <p>The page contents go here.</p>
        </section>
    </div>
</LayoutDocs>

