<form class="mx-auto w-full max-w-md space-y-4">
	<select class="select">
		<option disabled selected>Preferred Flavor</option>
		<option value="1">Strawberry</option>
		<option value="2">Grape</option>
		<option value="3">Watermelon</option>
		<option value="4">Apple</option>
		<option value="5">Mango</option>
	</select>
</form>
