/* Utilities: Presets */

@use '../constants.scss';
@use 'sass:list';

/* Filled --- */

/* Neutral */
@utility preset-filled {
	background-color: var(--color-surface-950-50);
	color: var(--color-surface-50-950);
}

/* Generated */
@each $name in constants.$color-names {
	/* 500 */
	@utility preset-filled-#{$name}-500 {
		background-color: var(--color-#{$name}-500);
		color: var(--color-#{$name}-contrast-500);
	}
	/* Pairings 50-950 */
	@each $pairing in constants.$color-pairings {
		$light: list.nth($pairing, 1);
		$dark: list.nth($pairing, 2);
		@utility preset-filled-#{$name}-#{$light}-#{$dark} {
			background-color: var(--color-#{$name}-#{$light}-#{$dark});
			color: var(--color-#{$name}-contrast-#{$light}-#{$dark});
		}
	}
}

/* Tonal --- */

/* Neutral */
@utility preset-tonal {
	background-color: color-mix(in oklab, light-dark(var(--color-surface-950), var(--color-surface-50)) 5%, transparent);
}

/* Generated */
@each $name in constants.$color-names {
	@utility preset-tonal-#{$name} {
		background-color: var(--color-#{$name}-50-950);
		color: var(--color-#{$name}-950-50);
	}
}

/* Outlined --- */

/* Neutral */
@utility preset-outlined {
	border-width: 1px;
	border-color: var(--color-surface-950-50);
}

/* Generated */
@each $name in constants.$color-names {
	/* 500 */
	@utility preset-outlined-#{$name}-500 {
		border-width: 1px;
		border-color: var(--color-#{$name}-500);
	}
	/* Pairings 50-950 */
	@each $pairing in constants.$color-pairings {
		$light: list.nth($pairing, 1);
		$dark: list.nth($pairing, 2);
		@utility preset-outlined-#{$name}-#{$light}-#{$dark} {
			border-width: 1px;
			border-color: var(--color-#{$name}-#{$light}-#{$dark});
		}
	}
}
