---
import LayoutRoot from '@layouts/LayoutRoot.astro';
---

<LayoutRoot>
    <div class="max-w-6xl mx-auto p-4">
        <h1 class="h1">Blog</h1>
        <p>Coming Soon...</p>
    </div>
</LayoutRoot>

