---
import LayoutRoot from '@layouts/LayoutRoot.astro';
import Header from '@components/docs/Header.astro';

const layoutProps = {
	classList: 'space-y-10'
};
---

<LayoutRoot {...layoutProps}>
	<!-- Header -->
	<Header />
	<!-- Main -->
	<main class="container mx-auto space-y-10 px-4">
		<section class="mx-auto flex flex-col justify-center gap-4 text-center">
			<p>Coming Soon...</p>
		</section>
	</main>
</LayoutRoot>
