<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, <mark class="mark">aliquid</mark>. Molestias, odio illum <mark
		class="mark">voluptatibus</mark
	>
	natus dignissimos, quidem est unde aspernatur veniam pariatur fuga distinctio esse in quas, <mark class="mark">repellendus</mark>
	neque reiciendis!
</p>
