<div class="space-y-4">
	<p>Use <code class="code">.code</code> to highlight partials.</p>
	<p>Use <code class="code preset-tonal-secondary">.code</code> to highlight partials.</p>
	<p>Use <code class="code preset-tonal-tertiary">.code</code> to highlight partials.</p>
</div>
