<div class="space-y-4">
	<p>Use <code class="code">.code</code> to highlight partials.</p>
	<hr class="hr" />
	<p>Use <code class="code preset-filled-primary-500">.code</code> to highlight partials.</p>
	<p>Use <code class="code preset-filled-secondary-500">.code</code> to highlight partials.</p>
	<p>Use <code class="code preset-filled-tertiary-500">.code</code> to highlight partials.</p>
</div>
