/* Reference: https://www.skeleton.dev/guides/styling */

html,
body {
	@apply h-full overflow-hidden;
}

/* Page Styles */
.page-container {
	@apply container mx-auto p-4 md:p-12 space-y-8 md:space-y-12;
}
