<div class="w-full space-y-4">
  <p class="type-scale-1 opacity-60">Default</p>
  <hr class="hr" />
  <p class="type-scale-1 opacity-60">border-t-2</p>
  <hr class="hr border-t-2" />
  <p class="type-scale-1 opacity-60">border-t-4</p>
  <hr class="hr border-t-4" />
  <p class="type-scale-1 opacity-60">border-t-8</p>
  <hr class="hr border-t-8" />
</div>
