---
const lorem =
	'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem similique animi consequuntur sapiente mollitia soluta at deserunt, obcaecati veritatis consectetur eum hic necessitatibus doloremque minus recusandae ullam ducimus, beatae libero.';
---

<!-- <body> -->
<div class="w-full">
	<!-- Header -->
	<header class="preset-filled-primary-500 p-4">(header)</header>
	<!-- Main -->
	<main class="preset-filled-secondary-500 p-4 space-y-4">
		<p>(main)</p>
		<p>{lorem}</p>
	</main>
	<!-- Footer -->
	<footer class="preset-filled-tertiary-500 p-4">(footer)</footer>
</div>
