---
const lorem =
	'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem similique animi consequuntur sapiente mollitia soluta at deserunt, obcaecati veritatis consectetur eum hic necessitatibus doloremque minus recusandae ullam ducimus, beatae libero.';
---

<!-- <body> -->
<div class="grid grid-cols-[auto_1fr] w-full h-[320px] overflow-y-auto">
	<!-- Sidebar -->
	<!-- NOTE: In a real world example, add h-screen to set 100vh (100% viewport height) -->
	<aside class="self-start sticky top-0 preset-filled-warning-500 p-4">(sidebar)</aside>
	<!-- Main -->
	<main class="preset-filled-secondary-500 p-4 space-y-4">
		<p>(main)</p>
		<p>{lorem}</p>
		<p>{lorem}</p>
		<p>{lorem}</p>
		<p>{lorem}</p>
	</main>
</div>
