---
const lorem =
	'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem similique animi consequuntur sapiente mollitia soluta at deserunt, obcaecati veritatis consectetur eum hic necessitatibus doloremque minus recusandae ullam ducimus, beatae libero.';
---

<!-- <body> -->
<div class="w-full">
	<!-- Header -->
	<header class="preset-filled-primary-500 p-4">(header)</header>
	<!-- Grid Column -->
	<div class="grid grid-cols-1 md:grid-cols-[auto_1fr_auto]">
		<!-- Sidebar (Left) -->
		<aside class="preset-filled-warning-500 p-4">(sidebar)</aside>
		<!-- Main -->
		<main class="preset-filled-secondary-500 p-4 space-y-4">
			<p>(main)</p>
			<p>{lorem}</p>
		</main>
		<!-- Sidebar (Right) -->
		<aside class="preset-filled-warning-500 p-4">(sidebar)</aside>
	</div>
	<!-- Footer -->
	<footer class="preset-filled-tertiary-500 p-4">(footer)</footer>
</div>
