---
import { Check } from 'lucide-react';
---

<div class="flex items-center gap-4">
  <button type="button" class="chip-icon preset-filled">
    <Check size={16} />
  </button>
  <button type="button" class="chip preset-filled">Chip</button>
  <button type="button" class="chip preset-filled">
    <span>Chip</span>
    <Check size={16} />
  </button>
</div>
