<div class="flex items-center gap-4">
    <button type="button" class="chip-icon preset-filled">
        <span class="font-bold">&check;</span>
    </button>
    <button type="button" class="chip preset-filled">Chip</button>
    <button type="button" class="chip preset-filled">
        <span class="font-bold">&check;</span>
        <span>Chip</span>
    </button>
</div>
