---
import {
	BadgeCheck as IconFramework,
	Palette as IconDesign,
	FileCode as IconTypescript,
	SunMoon as IconDarkMode,
	Puzzle as IconIntegrations,
	Blocks as IconZag,
} from 'lucide-react';
---

<div class="space-y-10">
	<!-- Text -->
	<div class="space-y-2 text-center">
		<h2 class="h2">And Even More...</h2>
		<p class="opacity-60">
			Solve the hard problems at scale. Skeleton comes with an assortment of quality of life features out of the box.
		</p>
	</div>
	<!-- Grid -->
	<div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3">
		<!-- 1 -->
		<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-10">
			<div class="flex h-full w-full flex-col justify-end space-y-2">
				<IconFramework class:list="size-8 opacity-60" />
				<h3 class="h3">Framework Agnostic</h3>
				<p class="opacity-60">Core features require only a single dependency for themes and utility classes &mdash; Tailwind CSS.</p>
			</div>
		</div>
		<!-- 2 -->
		<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-10">
			<div class="flex h-full w-full flex-col justify-end space-y-2">
				<IconZag class:list="size-8 opacity-60" />
				<h3 class="h3">Built with Zag.js</h3>
				<p class="opacity-60">Enables cross-framework components with standardized features and accessibility.</p>
			</div>
		</div>
		<!-- 3 -->
		<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-10">
			<div class="flex h-full w-full flex-col justify-end space-y-2">
				<IconIntegrations class:list="size-8 opacity-60" />
				<h3 class="h3">Integrations</h3>
				<p class="opacity-60">Easily extend Skeleton using turnkey guides for popovers, code blocks, and more.</p>
			</div>
		</div>
		<!-- 4 -->
		<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-10">
			<div class="flex h-full w-full flex-col justify-end space-y-2">
				<IconDesign class:list="size-8 opacity-60" />
				<h3 class="h3">Adaptive Design</h3>
				<p class="opacity-60">Utilize themes as the foundation for implementing any visual aesthetic.</p>
			</div>
		</div>
		<!-- 5 -->
		<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-10">
			<div class="flex h-full w-full flex-col justify-end space-y-2">
				<IconDarkMode class:list="size-8 opacity-60" />
				<h3 class="h3">Dark Mode</h3>
				<p class="opacity-60">Full support for Tailwind's dark mode mechanisms out of the box.</p>
			</div>
		</div>
		<!-- 6 -->
		<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-10">
			<div class="flex h-full w-full flex-col justify-end space-y-2">
				<IconTypescript class:list="size-8 opacity-60" />
				<h3 class="h3">Typescript</h3>
				<p class="opacity-60">Type-safe by default, with helpful IntelliSense feedback as you work.</p>
			</div>
		</div>
	</div>
</div>
