<div class="card preset-outlined-surface-200-800 px-10 py-8 grid grid-cols-1 md:grid-cols-[1fr_auto_1fr_auto_1fr] gap-10">
	<div class="flex md:justify-center">
		<div>
			<h2 class="heading-font-family text-6xl xl:text-8xl font-bold">80k+</h2>
			<p class="text-sx opacity-60">Monthly Downloads</p>
		</div>
	</div>
	<span class="hidden md:block vr"></span>
	<div class="flex md:justify-center">
		<div>
			<h2 class="heading-font-family text-6xl xl:text-8xl font-bold">5k+</h2>
			<p class="text-sx opacity-60">GitHub Stars</p>
		</div>
	</div>
	<span class="hidden md:block vr"></span>
	<div class="flex md:justify-center">
		<div>
			<h2 class="heading-font-family text-6xl xl:text-8xl font-bold">2k+</h2>
			<p class="text-sx opacity-60">Discord Members</p>
		</div>
	</div>
</div>
