<div class="grid grid-cols-1 xl:grid-cols-[1fr_2fr] gap-10">
	<!-- Text -->
	<div class="space-y-4">
		<div class="space-y-2">
			<h2 class="h2 text-balance">Sponsor Us</h2>
			<p class="opacity-60">
				Your generosity enables open source projects like Skeleton to exist. Funds directly contribute to our operational costs, while
				providing fun incentives in return for each supporter.
			</p>
		</div>
	</div>
	<nav class="grid grid-cols-2 gap-10">
		<a href="/" class="card preset-filled-surface-100-900 hover:preset-filled-surface-200-800 p-10">
			<div class="flex flex-col items-center gap-10">
				<h3 class="h5">On GitHub</h3>
				<div class="w-full aspect-square rounded-full bg-[url('https://i.imgur.com/sCbl5la.png')] bg-cover bg-center bg-no-repeat"></div>
				<button type="button" class="btn preset-filled">Contribute Now</button>
			</div>
		</a>
		<a href="/" class="card preset-filled-surface-100-900 hover:preset-filled-surface-200-800 p-10">
			<div class="flex flex-col items-center gap-10">
				<h3 class="h5">On Ko-Fi</h3>
				<div class="w-full aspect-square rounded-full bg-[url('https://i.imgur.com/XygKW13.png')] bg-cover bg-center bg-no-repeat"></div>
				<button type="button" class="btn preset-filled">Contribute Now</button>
			</div>
		</a>
	</nav>
</div>
