---
import { ChevronRight as IconChevron } from 'lucide-react';
---

<div class="card bg-noise preset-filled-primary-500 grid grid-cols-1 gap-10 px-10 py-8 shadow-xl md:grid-cols-[1fr_auto]">
	<div class="max-w-[400px]">
		<h2 class="h2 leading-snug !text-current">Start building with Skeleton today.</h2>
	</div>
	<a href="/docs/get-started/installation" class="btn preset-filled self-center">
		<span>Get Started</span>
		<IconChevron className="size-4" />
	</a>
</div>
