---
import { ChevronRight as IconChevron } from 'lucide-react';

import { Octokit } from 'octokit';

// https://github.com/octokit/octokit.js?tab=readme-ov-file#octokitjs
const octokit = new Octokit();
const { data: contributors } = await octokit.rest.repos.listContributors({
	owner: 'skeletonlabs',
	repo: 'skeleton',
	per_page: 100
});
---

<div class="grid grid-cols-1 xl:grid-cols-[2.5fr_1fr] items-start gap-10">
	<!-- Grid -->
	<div class="grid grid-cols-10 md:grid-cols-[repeat(20,minmax(0,1fr))] gap-3">
		{
			contributors.map((contributor) => {
				return (
					<a class="hover:scale-125" href={contributor.html_url} target="_blank" title={contributor.login}>
						<img class="bg-surface-500 rounded-full" src={contributor.avatar_url} alt={contributor.login} />
					</a>
				);
			})
		}
	</div>
	<!-- Text -->
	<div class="space-y-4">
		<div class="space-y-2">
			<h2 class="h2 text-balance">Open Source</h2>
			<p class="opacity-60">
				Tended by <a href="https://www.skeletonlabs.co/" class="underline" target="_blank">Skeleton Labs</a> and provided under the flexible
				<a href="https://github.com/skeletonlabs/skeleton?tab=MIT-1-ov-file#readme" class="underline" target="_blank">MIT License</a>. Join
				our vast community of open source contributors and start contributing today!
			</p>
		</div>
		<nav class="flex gap-4">
			<a href="/" class="btn preset-filled">
				<span>View on GitHub</span>
				<IconChevron className="size-4" />
			</a>
			<a href="/" class="btn preset-outlined-surface-400-600 hover:preset-tonal">
				<span>How to Contribute</span>
			</a>
		</nav>
	</div>
</div>
