<div class="grid grid-cols-1 xl:grid-cols-[1fr_2fr] gap-10">
	<!-- Text -->
	<div class="space-y-4">
		<div class="space-y-2">
			<h2 class="h2 text-balance">Sponsor Us</h2>
			<p class="opacity-60">
				Projects like Skeleton exist through the generosity of our wonderful community. Help fund the project, while receiving fun
				incentives in return. Available on the following services.
			</p>
		</div>
	</div>
	<nav class="grid grid-cols-2 gap-5">
		<a
			href="https://github.com/sponsors/skeletonlabs"
			target="_blank"
			class="card bg-noise bg-surface-50-950 border-[1px] border-surface-200-800 p-10"
		>
			<div class="flex flex-col items-center gap-4 md:gap-10">
				<h3 class="h5">On GitHub</h3>
				<div
					class="w-full max-w-xs aspect-square rounded-full bg-[url('https://i.imgur.com/sCbl5la.png')] bg-cover bg-center bg-no-repeat shadow-xl"
				>
				</div>
				<button type="button" class="btn preset-filled">Sponsor Now</button>
			</div>
		</a>
		<a
			href="https://ko-fi.com/skeletonlabs"
			target="_blank"
			class="card bg-noise bg-surface-50-950 border-[1px] border-surface-200-800 p-10"
		>
			<div class="flex flex-col items-center gap-4 md:gap-10">
				<h3 class="h5">On Ko-Fi</h3>
				<div
					class="w-full max-w-xs aspect-square rounded-full bg-[url('https://i.imgur.com/XygKW13.png')] bg-cover bg-center bg-no-repeat shadow-xl"
				>
				</div>
				<button type="button" class="btn preset-filled">Sponsor Now</button>
			</div>
		</a>
	</nav>
</div>
