---
import { Icon } from 'astro-icon/components';
import { ChevronRight as IconChevron } from 'lucide-react';
---

<div class="grid grid-cols-1 xl:grid-cols-[256px_800px] gap-10">
	<!-- Mascot -->
	<div class="flex justify-center items-center">
		<Icon name="skeleton-full" class="size-64 aspect-square" />
	</div>
	<!-- Hero Text -->
	<div class="self-center space-y-4">
		<!-- Announcement -->
		<a href="/#" class="btn btn-sm preset-filled-primary-500 gap-2 shadow">
			<span>🎉</span>
			<span>Skeleton v3 now avilable!</span>
			<IconChevron className="size-4" />
		</a>
		<!-- Text -->
		<h1 class="heading-font-family text-4xl md:text-6xl font-bold xl:text-balance">An adaptive design system powered by Tailwind CSS.</h1>
		<p class="text-lg xl:text-balance">
			Skeleton extends <a class="underline" href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a> to help you create your own <a
				class="underline"
				href="https://themes.skeleton.dev/themes/create"
				target="_blank">customizable</a
			> design system, while providing easy to use components for modern web frameworks.
		</p>
		<!-- CTA Buttons -->
		<nav class="flex gap-4">
			<a href="/docs/get-started/installation" class="btn preset-filled">
				<span>Get Started</span>
				<IconChevron className="size-4" />
			</a>
			<a href="/docs/get-started/introduction" class="btn preset-outlined-surface-400-600 hover:preset-tonal">
				<span>Learn More</span>
			</a>
		</nav>
	</div>
</div>
