<div class="grid grid-cols-4 gap-4">
	<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-5 space-y-5">
		<div>
			<h3 class="h3">Create Account.</h3>
			<p class="opacity-60">Complete the form below to get started.</p>
		</div>
		<div class="grid grid-cols-2 gap-5">
			<button class="btn preset-outlined-surface-200-800 hover:preset-tonal">GitHub</button>
			<button class="btn preset-outlined-surface-200-800 hover:preset-tonal">Google</button>
		</div>
		<hr class="hr" />
		<div class="grid-grid-cols-1 gap-5">
			<label class="label">
				<span class="label-text">Email</span>
				<input type="email" class="input" placeholder="me@example.com" />
			</label>
			<label class="label">
				<span class="label-text">Password</span>
				<input type="password" class="input" placeholder="me@example.com" />
			</label>
		</div>
		<hr class="hr" />
		<button class="w-full btn preset-filled">Create Account</button>
	</div>
	<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-5">Card 2</div>
	<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-5">Card 3</div>
	<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-5">Card 4</div>
	<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-5">Card 5</div>
	<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-5">Card 6</div>
	<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-5">Card 7</div>
	<div class="card preset-outlined-surface-200-800 bg-surface-50-950 p-5">Card 8</div>
</div>
