<div class="card preset-outlined-surface-200-800 grid grid-cols-1 gap-10 px-10 py-8 md:grid-cols-[1fr_auto_1fr_auto_1fr]">
	<div class="flex md:justify-center">
		<div>
			<h2 class="heading-font-family text-6xl font-bold xl:text-8xl">80k+</h2>
			<p class="text-sx opacity-60">Monthly Downloads</p>
		</div>
	</div>
	<span class="vr hidden md:block"></span>
	<div class="flex md:justify-center">
		<div>
			<h2 class="heading-font-family text-6xl font-bold xl:text-8xl">5k+</h2>
			<p class="text-sx opacity-60">GitHub Stars</p>
		</div>
	</div>
	<span class="vr hidden md:block"></span>
	<div class="flex md:justify-center">
		<div>
			<h2 class="heading-font-family text-6xl font-bold xl:text-8xl">2k+</h2>
			<p class="text-sx opacity-60">Discord Members</p>
		</div>
	</div>
</div>
