<div class="space-y-10">
	<!-- Text -->
	<div class="text-center space-y-2">
		<h2 class="h2">And Even More...</h2>
		<p class="text-balance opacity-60 w-[640px] mx-auto">
			Skeleton aims to help you solve the most common issues when building interfaces at scale. Providing a number of quality of life
			features out of the box.
		</p>
	</div>
	<!-- Grid -->
	<div class="grid grid-cols-1 xl:grid-cols-3 xl:grid-rows-3 gap-4">
		<!-- 1 -->
		<div class="card preset-outlined-surface-200-800 bg-surface-50-950 min-h-64 p-10 xl:col-span-2">
			<div class="w-full h-full flex flex-col justify-end">
				<h3 class="h4">Framework Agnostic</h3>
				<p class="text-balance max-w-lg opacity-60">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae doloribus quaerat placeat optio fuga est incidunt.
				</p>
			</div>
		</div>
		<!-- 2 -->
		<div class="card preset-outlined-surface-200-800 bg-surface-50-950 min-h-64 p-10 xl:row-span-2 xl:col-start-3">
			<div class="w-full h-full flex flex-col justify-end">
				<h3 class="h4">Typescript</h3>
				<p class="text-balance max-w-lg opacity-60">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae doloribus quaerat placeat optio fuga est incidunt.
				</p>
			</div>
		</div>
		<!-- 3 -->
		<div class="card preset-outlined-surface-200-800 bg-surface-50-950 min-h-64 p-10 xl:row-span-2 xl:row-start-2">
			<div class="w-full h-full flex flex-col justify-end">
				<h3 class="h4">Integrations</h3>
				<p class="text-balance max-w-lg opacity-60">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae doloribus quaerat placeat optio fuga est incidunt.
				</p>
			</div>
		</div>
		<!-- 4 -->
		<div class="card preset-outlined-surface-200-800 bg-surface-50-950 min-h-64 p-10 xl:row-start-2">
			<div class="w-full h-full flex flex-col justify-end">
				<h3 class="h4">Dark Mode</h3>
				<p class="text-balance max-w-lg opacity-60">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae doloribus quaerat placeat optio fuga est incidunt.
				</p>
			</div>
		</div>
		<!-- 5 -->
		<div class="card preset-outlined-surface-200-800 bg-surface-50-950 min-h-64 p-10 xl:col-span-2 xl:col-start-2 xl:row-start-3">
			<div class="w-full h-full flex flex-col justify-end">
				<h3 class="h4">Accessibility</h3>
				<p class="text-balance max-w-lg opacity-60">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae doloribus quaerat placeat optio fuga est incidunt.
				</p>
			</div>
		</div>
	</div>
</div>
