---
import { ChevronRight as IconChevron } from 'lucide-react';
---

<div class="grid grid-cols-1 xl:grid-cols-[2.5fr_1fr] gap-10">
	<!-- Grid -->
	<div class="grid grid-cols-10 md:grid-cols-[repeat(20,minmax(0,1fr))] gap-2">
		{
			Array.from(Array(196)).map((a) => {
				return (
					<div class="preset-tonal w-full aspect-square rounded-full flex justify-center items-center">
						<span class="text-xs">A</span>
					</div>
				);
			})
		}
	</div>
	<!-- Text -->
	<div class="space-y-4">
		<div class="space-y-2">
			<h2 class="h2 text-balance">Open Source</h2>
			<p class="opacity-60">
				Tended by <a href="https://www.skeletonlabs.co/" class="underline" target="_blank">Skeleton Labs</a> and provided under the flexible
				<a href="https://github.com/skeletonlabs/skeleton?tab=MIT-1-ov-file#readme" class="underline" target="_blank">MIT License</a>. Join
				our vast community of open source contributors and start contributing today!
			</p>
		</div>
		<nav class="flex gap-4">
			<a href="/" class="btn preset-filled">
				<span>View on GitHub</span>
				<IconChevron className="size-4" />
			</a>
			<a href="/" class="btn preset-outlined-surface-400-600 hover:preset-tonal">
				<span>How to Contribute</span>
			</a>
		</nav>
	</div>
</div>
