---
import * as Filters from './filters/index.js';
---

<!-- Generate Previews -->
<div class="w-full grid grid-cols-3 gap-4">
	{
		// Loop each filter
		Object.keys(Filters).map((filterName: string, i: number) => (
			<div class="flex flex-col items-center space-y-2">
				{/* Apply the `filter: url()` style. */}
				<img
					src={`https://picsum.photos/seed/skeleton/320`}
					class="rounded-container"
					alt={`full-${i}`}
					loading="lazy"
					style={`filter: url(#${filterName})`}
				/>
				<span class="badge preset-tonal">#{filterName}</span>
			</div>
		))
	}
</div>

<!-- Filter Embeds -->
<Filters.Apollo />
<Filters.BlueNight />
<Filters.Emerald />
<Filters.GreenFall />
<Filters.Noir />
<Filters.NoirLight />
<Filters.Rustic />
<Filters.Summer />
<Filters.XPro />
