/* Components: Forms */

@layer components {
	/* Resets --- */

	.fieldset,
	.legend,
	.label,
	.input,
	.textarea,
	.select {
		display: block;
		width: 100%;
	}

	/* Labels --- */

	.label > * + * {
		margin-top: --spacing(1);
	}

	.label-text {
		display: block;
		font-size: var(--text-xs);
		line-height: var(--text-xs--line-height);
		font-weight: var(--font-weight-medium);
		text-decoration-line: none;
	}

	/* Core Inputs --- */

	.input,
	.textarea,
	.select {
		border-radius: var(--radius-base);
		border-width: var(--default-border-width);
		border-color: var(--color-surface-200-800);
		background-color: transparent;
	}

	.input,
	.textarea,
	.select option {
		font-size: var(--text-base);
		line-height: --spacing(9);
		height: --spacing(9);
		padding: --spacing(2);
	}

	/* Textarea --- */

	.textarea {
		height: auto;
	}

	/* Select --- */

	.select {
		height: --spacing(9);
		padding-block: 0px;
	}
	.select[multiple],
	.select[size] {
		height: auto;
		padding: --spacing(2);
	}
	.select optgroup option:first-of-type {
		margin-top: --spacing(2);
	}
	.select optgroup option:last-child {
		margin-bottom: --spacing(2) !important;
	}
	.select option {
		border-radius: var(--radius-base);
	}
	.select option:checked {
		/* https://stackoverflow.com/questions/50618602/change-color-of-selected-option-in-select-multiple */
		background-image: linear-gradient(0deg, var(--color-primary-950-50) 0%, var(--color-primary-950-50) 100%);
		color: var(--color-primary-contrast-950-50);
	}

	/* Checkbox & Radio --- */

	.checkbox,
	.radio {
		--tw-ring-color: var(--color-surface-200-800);
		cursor: pointer;
		background-color: var(--color-surface-300-700);
		border-radius: var(--radius-sm);
		height: --spacing(5);
		width: --spacing(5);
		@variant focus-within {
			--tw-ring-color: var(--color-primary-500);
		}
		@variant hover {
			filter: brightness(105%);
		}
		@variant focus {
			filter: brightness(105%);
		}
	}
	.checkbox:checked,
	.checkbox:indeterminate,
	.radio:checked {
		background-color: var(--color-primary-500);
		@variant hover {
			background-color: var(--color-primary-500);
		}
		@variant focus {
			background-color: var(--color-primary-500);
			border: 0;
		}
	}
	.radio {
		border-radius: 100%;
		height: --spacing(5);
		width: --spacing(5);
	}

	/* File Input --- */

	.input[type='file'] {
		font-size: var(--text-sm);
		padding: --spacing(2);
		height: auto;
	}
	.input[type='file']::file-selector-button {
		cursor: pointer;
		border-radius: var(--radius-base);
		background-color: var(--color-surface-950-50);
		color: var(--color-surface-50-950);
		font-size: var(--text-xs);
		font-weight: var(--font-weight-medium);
		padding-inline: --spacing(3);
		padding-block: --spacing(0);
		margin-right: --spacing(4);
	}

	/* Range Input --- */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/accent-color */

	.input[type='range'] {
		accent-color: var(--color-surface-950-50);
		width: 100%;
	}

	/* Color Picker Input --- */
	/* https://stackoverflow.com/questions/11167281/webkit-css-to-control-the-box-around-the-color-in-an-inputtype-color */

	.input[type='color'] {
		border-radius: var(--radius-base);
		width: --spacing(9);
		height: --spacing(9);
		padding: 0;
		border: none;
		outline: none;
		-webkit-appearance: none;
	}

	.input[type='color']::-webkit-color-swatch-wrapper {
		padding: 0;
	}
	.input[type='color']::-webkit-color-swatch {
		border: none;
		border-radius: var(--radius-base);
	}

	/* Progress Bar --- */

	.progress {
		webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius: var(--radius-base);
		background-color: var(--color-surface-200-800);
		width: 100%;
		height: --spacing(2);
		overflow: hidden;
	}
	.progress::-webkit-progress-bar {
		background-color: var(--color-surface-200-800);
	}
	.progress::-webkit-progress-value {
		background-color: var(--color-surface-950-50);
	}
	.progress::-moz-progress-bar {
		background-color: var(--color-surface-950-50);
	}
	.progress:indeterminate::-moz-progress-bar {
		width: 0;
	}

	/* Input Group --- */
	/* NOTE: disabled for now */

	/* .input-group {
		display: grid;
		gap: --spacing(2);
		align-items: stretch;
		overflow: hidden;
	}

	.input-group-label {
		font-size: var(--text-xs);
		line-height: var(--text-xs--line-height);
		font-weight: bold;
		border-radius: var(--radius-base);
		display: flex;
		align-items: center;
		justify-content: center;
		padding-inline: --spacing(4);
	} */
}
