/* Components: Forms > Radio / Checkbox */

@utility checkbox {
  --tw-ring-color: var(--color-surface-200-800);
  cursor: pointer;
  background-color: var(--color-surface-300-700);
  border-radius: var(--radius-sm);
  height: --spacing(5);
  width: --spacing(5);
  @variant focus-within {
    --tw-ring-color: var(--color-primary-500);
  }
  @variant hover {
    filter: brightness(105%);
  }
  @variant focus {
    filter: brightness(105%);
  }

  &:checked {
    background-color: var(--color-primary-500);
    @variant hover {
      background-color: var(--color-primary-500);
    }
    @variant focus {
      background-color: var(--color-primary-500);
      border: 0;
    }
  }

  &:indeterminate {
    background-color: var(--color-primary-500);
    @variant hover {
      background-color: var(--color-primary-500);
    }
    @variant focus {
      background-color: var(--color-primary-500);
      border: 0;
    }
  }
}

@utility radio {
  --tw-ring-color: var(--color-surface-200-800);
  cursor: pointer;
  background-color: var(--color-surface-300-700);
  border-radius: var(--radius-sm);
  height: --spacing(5);
  width: --spacing(5);
  @variant focus-within {
    --tw-ring-color: var(--color-primary-500);
  }
  @variant hover {
    filter: brightness(105%);
  }
  @variant focus {
    filter: brightness(105%);
  }

  &:checked {
    background-color: var(--color-primary-500);
    @variant hover {
      background-color: var(--color-primary-500);
    }
    @variant focus {
      background-color: var(--color-primary-500);
      border: 0;
    }
  }
  border-radius: 100%;
  height: --spacing(5);
  width: --spacing(5);
}
