name: 'Check Spelling'
on: [ pull_request ]

jobs:
    spellcheck:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: streetsidesoftware/cspell-action@v2