---
import LayoutDocs from "@lib/layouts/LayoutDocs.astro";

const layoutProps = {
    categoryId: 0,
    title: 'Introduction',
    description: 'An open source UI toolkit. Create adaptive and accessible design systems for your web apps.',
    preview: false
};
---
<LayoutDocs {...layoutProps}>
    <section class="space-y-10">
        <p class="text-xl">
            Skeleton utilizes Tailwind’s utility classes and design system capabilities to quickly and easily create beautiful interfaces. Paired with Svelte’s powerful component architecture, Skeleton creates customized, responsive, and reactive interfaces for projects of any scope or scale.
        </p>
        <!-- Embed -->
		<iframe
            class="w-full aspect-video mx-auto rounded-container-token shadow"
            src="https://www.youtube.com/embed/tHzVyChDuyo"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        />
        <!-- Our Vision -->
        <div class="space-y-4">
            <h2 class="h2">Our Vision</h2>
            <p>
                Skeleton aims to provide a seamless user experience by creating intelligent and adaptive UI elements that automatically conform to the unique aesthetic of your application. It leverages native browser APIs and form elements, while also incorporating powerful components that follow WAI-ARIA guidelines for accessibility, empowering developers to create user-centric web applications with ease.
            </p>
            <p>
                We're huge fans of Svelte and wish to contribute to this amazing ecosystem. We believe this only happens through contributions of high quality open source projects our own. Created by the community, for the community.
            </p>
            <p>
                Finally, we aim for inclusion, whether you're a contributor to the project, a consumer, or the end user. The Skeleton core team is not a faceless corporate entity, but rather a small group of individuals motivated to make accessible UI with great UX (user experience) and DX (developer experience) for all.
            </p>
        </div>
        <!-- Benefits -->
        <div class="space-y-4">
            <h2 class="h2">Benefits</h2>
            <!-- FOSS -->
            <h3 class="h3">Free and Open Source</h3>
            <p>
                Skeleton is available as <a class="anchor" href="https://github.com/skeletonlabs/skeleton" target="_blank" rel="noreferrer"
                    >free and open-source software (FOSS)</a
                >
                provided under the
                <a class="anchor" href="https://github.com/skeletonlabs/skeleton/blob/master/LICENSE" target="_blank" rel="noreferrer">MIT License</a
                >.
            </p>
            <!-- Community Owned -->
            <h3 class="h3">Community Owned</h3>
            <!-- prettier-ignore -->
            <p>Skeleton is maintained by a number of talented <a class="anchor" href="https://github.com/skeletonlabs/skeleton/graphs/contributors" target="_blank" rel="noreferrer">contributors</a>. If you wish to <a class="anchor" href="/docs/contributing">contribute to the project</a>, you are welcome to do so. Visit the Skeleton communities on either <a class="anchor" href="https://github.com/skeletonlabs/skeleton" target="_blank" rel="noreferrer">GitHub</a> or <a class="anchor" href="https://discord.gg/EXqV7W8MtY" target="_blank" rel="noreferrer">Discord</a>.</p>
            <!-- Theme System -->
            <h3 class="h3">Theme System</h3>
            <p>
                We provide a powerful and comprehensive theme system that goes well beyond generating a color palette. Themes allow you to control
                common settings, such as border radius, and apply those universally throughout your application. Furthermore, themes are built using
                CSS variables, which makes themes simple to configure and reuse.
            </p>
            <!-- Design Tokens -->
            <h3 class="h3">Design Tokens</h3>
            <p>
                These tokens are a special set of CSS classes that ingest your theme settings for easy reuse throughout your design system. They are
                used as the default settings for most features within Skeleton, meaning your UI elements automatically adjust to theme changes.
                Likewise, these tokens are available to you, meaning you can build custom components using the same tools we do, for a truly cohesive
                look and feel.
            </p>
            <!-- Release Cycle -->
            <h3 class="h3">Release Cycle</h3>
            <p>
                Skeleton receives new updates every other week, typically around Tuesday (US/Central). Each release is packed with new features,
                improvements, and bugfixes.
            </p>
            <a class="btn preset-filled" href="https://github.com/skeletonlabs/skeleton/releases" target="_blank" rel="noreferrer">
                View Releases &rarr;
            </a>
        </div>
    </section>
</LayoutDocs>
